[2019-11-27 17:57] jlewi opened #533 "Trigger Tekton Workflows In Response To GitHub events post-submits and cron"
We want to setup CD for Kubeflow applications (#450).

We have Tekton pipelines for continuously building our images and then updating the kustomize manifests to use them.

We need a way to auto-trigger these workflows in response to events.

There are two types of events that we'd like to trigger the workflows

1. GitHub merge events
1. Periodically
    * e.g. we want to refresh the image every d

[2019-11-27 19:05] kkasravi commented on #450
@jlewi thanks. I should be able to get to do some work on this in the next few days

[2019-11-27 20:47] jlewi commented on #450
Design doc is here: [bit.ly/kfcd](http://bit.ly/kfcd)

It looks like its a bit outdated. It would be good to update it and then socialize our thinking at the community meeting.

[2019-11-27 21:21] jlewi opened #534 "Use Anthos Config Manager to sync Tekton templates to release cluster"
We want to use Tekton to continuously update and deliver Kubeflow applications (#450).

Our solution relies on Tekton pipelines.
https://github.com/kubeflow/kubeflow/tree/master/components/base

We want to continually sync these templates to our release cluster so that we automatically pick up those changes.

We can use Anthos config management for that.
https://cloud.google.com/anthos-config-mana

[2019-11-27 23:28] hougangliu opened #535 "CI always fail for resource shortage"
AFAIK, kubeflow repo includeing katib and kfserving CI fails all the time for now due to resource shortage, for example below ticket it fails with message `failed to create fsnotify watcher: too many open files`
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_katib/935/kubeflow-katib-presubmit/1199827977857142784/

[2019-11-29 06:09] scottilee commented on #475
@jlewi can you get Travis the permissions he needs?

[2019-11-29 06:56] scottilee commented on #450
@jlewi I don't know if it's just me but that design doc link redirects to http://www.thelaptop-computers.info/2009/11/watauga-county-sheriff%E2%80%99s-office-arrests-two-suspected-burglars-go-blue-ridge/ which is not relevant.

[2019-11-29 16:16] kkasravi commented on #450
I believe the design doc is https://docs.google.com/document/d/1oaBBJerOkKIuAAn_Swbu8uVBPtaYgvAVbQV1NxTsSSg/edit?ts=5d714796#heading=h.9g4gb5dvlquq

[2019-11-29 16:20] kkasravi commented on #450
@jlewi I'll update the doc as you've [suggested](https://docs.google.com/document/d/1oaBBJerOkKIuAAn_Swbu8uVBPtaYgvAVbQV1NxTsSSg/edit?disco=AAAADpU3-Rs) to just focus on #1 (A doc focused on continuous delivery of our applications)

[2019-11-29 21:17] jlewi commented on #475
@scottilee I believe @clarketm has the permissions he needs.
https://github.com/kubeflow/internal-acls/blob/c28cd44c407faededac1df7ba015220d50c14411/ci-team.members.txt#L2

[2019-12-01 22:40] swiftdiaries commented on #259
https://github.com/marketplace/actions/kubeflow-for-ci-cd
Created a GitHub Action for local CI with KinD. We can add tests as a separate GitHub Actions (subsequent steps)

[2019-12-02 04:53] #416 closed

[2019-12-03 16:52] #528 closed

[2019-12-06 06:07] jinchihe opened #537 "Failed set up cluster while installing GPU Drivers"
In TFJob CI tests, Failed set up cluster while installing GPU Drivers, as below.

[code]

[2019-12-06 06:07] jinchihe commented on #537
I think that caused by the DaemonSet is not consistent with Cluster, two way to fix the problems,

1. specify/upgrade cluster version to 1.14
2. rollback the Daemonset to below:
https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/k8s-1.8/device-plugin-daemonset.yaml

[2019-12-06 14:37] jinchihe commented on #537
/cc @jlewi Any idea for this?

Related with the PR https://github.com/kubeflow/tf-operator/pull/1103

[2019-12-06 15:05] jinchihe commented on #537
I think the root cause may be here
https://github.com/kubeflow/testing/blob/c7152c22607a55746665ba5bf62ee0f963ba5e5c/py/kubeflow/testing/util.py#L635

We should use `kubernetes.client.AppsV1Api`, instead of `kubernetes.client.ExtensionsV1beta1Api` since the Daemonset version is app/v1 in below file.
https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/k8s-1.8/device-

[2019-12-06 16:50] jinchihe commented on #537
Root cause, the `device-plugin-daemonset.yaml` is updated 10 days ago from ExtensionsV1beta1Api to app/v1.

[2019-12-06 19:26] #537 closed

[2019-12-09 18:15] jlewi opened #539 "Tooling and processes to ensure licensing requirements for Docker images are satisfied"
We need tooling and processes to ensure that all the docker images we publish satisfy appropriate licensing requirements.

This is critical for 1.0

To begin with I think we can focus on docker images for applications going 1.0 with Kubeflow 1.0. I think we basically have two kinds of docker images

1. Docker images corresponding to python binaries
1. Docker images corresponding to go binaries

Fo

[2019-12-10 07:57] Bobgy commented on #539
Made PR for tools for automating go dependencies' licenses: https://github.com/kubeflow/testing/pull/540

[2019-12-11 18:54] gabrielwen opened #541 "cleanup_ci doesn't clean up forwarding rules thoroughly"
We should clean up forwarding rules but the script doesn't seem of doing so which makes the quota exceeded and periodic test fails partly because of this.

[2019-12-11 18:55] gabrielwen commented on #541
/cc @zhenghuiwang @jlewi

[2019-12-11 18:57] gabrielwen commented on #541
/assign

[2019-12-11 21:08] gabrielwen commented on #541
currently we delete forwarding rules when it's aged more than 2 days.  I've increased the quota hopefully we don't run out of the quota again.  If we do, let's GC forwarding rules in a more aggressive way.  close this for now.

[2019-12-11 21:08] gabrielwen commented on #541
/close

[2019-12-11 21:08] #541 closed

[2019-12-11 21:12] gabrielwen opened #542 "prow dashboard doesn't show the test is finished"
this happens in periodic tests.  in artifacts it doesn't have quite a few files, including `finished.json`.  in the raw logs:
[code]

[2019-12-11 21:26] gabrielwen commented on #542
this is because we don't clone `kubeflow/kubeflow` but arrikto test needs it in periodic test.

[2019-12-12 18:58] gabrielwen opened #543 "cleanup_ci doesn't clean up auto-deploy IAM policy members"
thus we hit quota limit every week and have to manually clean it up.

[2019-12-12 23:34] zhenghuiwang commented on #543
@gabrielwen  can you give a link to an example of __auto-deploy IAM policy members__ that should be GCed?

[2019-12-12 23:45] gabrielwen commented on #543
an example looks like this: `kf-vmaster-1211-099-user@kubeflow-ci-deployment.iam.gserviceaccount.com`

this might not necessarily needs to be purged as it might not be expired.  that said, I think for auto-deployed accounts, we should simply check whether the deployment is still there and delete them if they are not.

[2019-12-13 00:55] zhenghuiwang commented on #543
Thanks. Having more questions about the context of kfmaster auto
deployment, because I think the cleanup script is mainly for cleaning up
short-lived testing resource.

Is the goal of 'kf-master' to periodically deploy master? How often?

Can 'kf-master' completely delete previous deployment with all service
accounts and then deploy new version?

On Thu, Dec 12, 2019 at 15:45 Hung-Ting Wen <notifi

[2019-12-13 01:10] jlewi commented on #450
Status Update:

* kubeflow/kubeflow#4568 - I made some changes so I could run the profile controller on the KF release  cluster

   * The PR has instructions for how to setup the KF release cluster

* Running the pipeline created kubeflow/manifests#669

Next steps

* Refactor the kustomize layout of the tekton scripts

* I think we want to make it easier to fire off PipelineRun's for all the diffe

[2019-12-13 15:24] jlewi opened #544 "How to structure kustomize packages for Tekton CD pipelines for Kubeflow"
We are trying to define Tekton pipelines to continuously build and update our kustomize manifests for Kubeflow applications: kubeflow/testing#450

We currently have some initial pipelines checked in here
https://github.com/kubeflow/kubeflow/tree/master/components/base
https://github.com/kubeflow/kubeflow/tree/master/components/profile-controller/ci

The way the kustomize packages are laid out make

[2019-12-13 15:35] jlewi opened #545 "Mechanism to determine if image/manifests is updated"
In order to enable continuous delivery of our docker images and our kustomize manifests (#450)
We need a way to keep track of the source commit from which an image was built so we can determine if it is outdated.

There are a couple ways we could do this

* Image tags

  * image tags are currently used by https://github.com/kubeflow/kubeflow/blob/2da148904248d8616b50a0d8287742f2e2bdc968/py/kubeflo

[2019-12-13 15:38] jlewi commented on #545
It looks like kaniko can support multiple tags just by adding multiple --destination flags
https://github.com/GoogleContainerTools/kaniko/blob/master/README.md

[2019-12-13 17:06] kkasravi commented on #544
I updated https://github.com/kkasravi/kfctl-config-files/blob/master/kfdef/ci-profile-controller-pipeline-run.yaml to work with tk-pipelines.

If you do `kfctl build -f ci-profile-controller-pipeline-run.yaml` you'll get
[code]
and generated kustomize subdir

[2019-12-13 22:36] jlewi commented on #544
@kkasravi I really don't want to use kfctl here. Conceptually it is really confusing. I think of Kubeflow as Kubeflow control plane. Not as some general configuration management solution.

We already have two layers of configuration management

* The substitution/reference functionality Tekton provides
* Tools like kustomize/helm etc... that could be used to write Tekton pipelines

So its not clea

[2019-12-14 00:06] kkasravi commented on #544
i'm not suggesting we use kfctl - it's just a way to generate the pipelinerun code.

$(generateName) is kfctl magic that would generate a unique suffix.
instead of
[code]

it could be

[code]
but you would need to use kubectl create instead of apply

Task names don't need to be unique as long as they're completely parameterized.

[2019-12-14 00:14] kkasravi commented on #544
@jlewi
i guess my suggestion is to change the existing code to embed the pipeline into pipelinerun so there's only one manifest that holds all the overlays and parameters. The overlays would include PipelineResources and Tasks where Tasks could be deployed early since they're reusable. I believe you can now embed PipelineResources into PipelineRun

[2019-12-14 00:17] kkasravi commented on #544
@jlewi
kfctl would not be involved and just changing the parameters, overlays would allow you to go from profiler-controller to a different controller

[2019-12-14 01:04] jlewi commented on #544
@kkasravi I don't think generateName works with kustomize (I believe I tried that).  I think we could work around that by doing something like

[code]

(Thinking out loud) we have two dimensions along which we want to stamp out multiple pipeline definitions

* version - e.g. master vs. v0.X.Y
* application - e.g. profile controller vs. jupyter controller

Lets start with the Tasks
https://github.c

[2019-12-14 08:17] kkasravi commented on #544
if we embed PipelineResource and Pipeline into PipelineRun do we reduce the permutations?
For PipelineRun below if we leverage the /spec/params section then these could be propagated down into the embedded PipelineResources (/spec/resources/resourceSpec) and Pipeline (/spec/pipelineSpec). The Tasks would also reference these values set in /spec/params.

[code]

[2019-12-16 14:18] jlewi commented on #539
@zhenghuiwang could you provide an update on this?

[2019-12-16 18:09] gabrielwen commented on #543
- seems it's every 12 hours currently: [link](https://github.com/kubeflow/testing/blob/master/test-infra/auto-deploy/deploy-cron-master.yaml)
- it appears that we have logic in `gcp.Delete` to clean up IAM policy:
https://github.com/kubeflow/kfctl/blob/335033bbc5d86fcf016fdbb372e8a142ea031cdf/pkg/kfapp/gcp/gcp.go#L1059
somehow kf-master job doesn't clean it up, but this should be a separate issue:

[2019-12-16 19:35] zhenghuiwang commented on #539
Update:

Filed several issues above.

For Golang image: follow [these instructions](https://github.com/kubeflow/metadata/blob/master/third_party_licenses/README.md) to add license files.

For NodeJS image: follow [these instructions](https://github.com/kubeflow/metadata/blob/master/frontend/gen_licenses.js) to add license files.

[2019-12-17 01:28] jlewi commented on #450
@kkasravi I wrote up my current thinking in this doc:
http://bit.ly/kfappscd-201912

PTAL

[2019-12-17 04:22] jlewi commented on #544
@kkasravi if we go the route of embedding everything in PipelineRun; does that end up being any different from using multiple resources and relying on kustomize `commonPrefix` to give each resource a unique name?

[2019-12-17 17:48] gabrielwen commented on #542
/close

[2019-12-17 17:48] #542 closed

[2019-12-18 00:55] kkasravi commented on #450
@jlewi

I had commented on restructuring the PipelineRun to embed a pipelineSpec and resourceSpec rather than a pipelineRef and resourceRefs here: https://github.com/kubeflow/testing/issues/544#issuecomment-565694843

I'll comment on the doc as well

[2019-12-18 02:35] jlewi commented on #492
kubeflow/testing presubmits are still empty
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-testing-presubmit

kubeflow/examples postsubmits look good.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-postsubmit

[2019-12-18 02:44] jlewi commented on #492
kubeflow/testing presubmits

Prow jobs are running
https://prow.k8s.io/?repo=kubeflow%2Ftesting

spy glass shows results
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/540/kubeflow-testing-presubmit/1207123281077866497/

test grid dashboard doesn't seem any different
https://github.com/kubernetes/test-infra/blob/f7fd7e2b4d79cf6780105afc9267dd06d73072ec/config/jobs/ku

[2019-12-20 19:11] #424 closed

[2019-12-22 19:59] scottilee commented on #460
/remove lifecycle/stale

[2019-12-24 18:22] #412 closed

[2019-12-26 14:40] #468 closed

[2019-12-26 14:41] #467 closed

[2019-12-27 05:17] #469 closed

[2019-12-30 16:19] jlewi commented on #544
In #551 I followed @kkasravi 's suggestion and got rid of kustomize and just rely on Tekton's parameterization. I think this works pretty well.

[2019-12-30 16:19] #544 closed

[2020-01-02 13:19] #473 closed

[2020-01-02 21:57] #461 closed

[2020-01-06 18:00] jlewi commented on #450
Bump to P0 because this is required for 1.0.

Here's an update

* We have successfully created an example Tekton PipelineRun for the profile controller
   * https://github.com/kubeflow/testing/blob/master/apps-cd/runs/profile_controller_v1795828.yaml
* Our release infra cluster can successfully run this pipeline

The next steps are

1. Extend this to all applications in scope for KF 1.0
1. Continu

[2020-01-06 20:41] jtfogarty commented on #444
/kind feature

[2020-01-06 21:34] jtfogarty commented on #499
/kind bug

[2020-01-07 01:14] jinchihe commented on #499
The problem cannot be reproduced after refactor the CI tests. Closing the issue.

[2020-01-07 01:14] #499 closed

[2020-01-07 07:23] jlewi commented on #475
See: GoogleCloudPlatform/oss-test-infra/pull/177

[2020-01-07 10:29] Bobgy opened #554 "Improve go-license-tools find github repo rate"
I just realized there's a less hacky way to find source repo.
e.g. https://gopkg.in/yaml.v2?go-get=1 returns
[code]

We can get source repo url from the go-source meta tag. This is a standard for go import, so any website other than github should support it.

We can use this instead of crawler implementation in:
* https://github.com/kubeflow/testing/blob/768a4d0d4e502ffac14224738052956fc222c96c/py

[2020-01-08 01:32] jlewi opened #556 "Continuous build of images should support multiple paths and repositories"
Follow on #450

We want to automatically rebuild our docker images when the source code changes. The initial implementation (#450) will most likely only handle the case where all of the source code is in a single repository under a single path. We use this to determine the most recent commit at which the code changed to decide whether the image needs to be rebuilt.

We will want to support the cas

[2020-01-08 02:01] jlewi opened #557 "PRs opened by our Tekton CD pipelines are not passing the CLA check"
Sample PR:
https://github.com/kubeflow/manifests/pull/692

The CLA check is not satisfied. This is probably a bug with how we are setting the author in the commit message

[2020-01-08 02:34] jlewi commented on #557
The PRs are using author "kubeflow-bot@kubflow.org"

I think the email should be "ci-bot-owners@kubeflow.org"

[2020-01-08 04:01] jlewi commented on #557
That fixed it:
https://github.com/kubeflow/manifests/pull/694

Fix will be in an upcoming PR

[2020-01-08 04:16] jlewi opened #558 "CD Pipeline should use digest and tag; gcr.io/{regisry}/{name}:{tag}@sha256:{digest}"
It looks like docker images can have both a tag and a digest

e.g the following is a valid image reference

[code]

In this case it looks like the tag is ignored; i.e. if the tag doesn't exist but the image sha is still valid the image will be pulled just fine

We should update our CD scripts to use images in this format. This way we follow best practice of pinning to shas while still providing he

[2020-01-08 06:14] jlewi opened #560 "Update pylint in the test worker image not compatible with f style strings"
I get different behavior when running pylint in the test worker image then when running it locally.

Example PR
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/559/kubeflow-testing-presubmit/1214777447178833920/

When run in the worker image I get

[code]

I do not get that error when running locally.

Locally I'm using version

[code]
in gcr.io/kubeflow-ci/test-worke

[2020-01-08 15:53] jtfogarty commented on #530
/kind question

[2020-01-08 16:07] jtfogarty commented on #491
/kind feature

[2020-01-08 16:09] jtfogarty commented on #489
/area testing

[2020-01-08 16:13] jtfogarty commented on #471
/kind bug

[2020-01-08 16:14] jtfogarty commented on #425
/kind feature

[2020-01-08 16:14] jtfogarty commented on #372
/kind bug

[2020-01-08 16:15] jtfogarty commented on #288
/kind feature

[2020-01-08 16:16] jtfogarty commented on #267
/kind feature

[2020-01-08 16:17] jtfogarty commented on #260
/kind bug

[2020-01-09 01:02] #459 closed

[2020-01-09 19:30] #557 closed

[2020-01-10 06:20] scottilee commented on #475
@clarketm I know you just got back to work but friendly ping about this, let me know if you're missing or need anything!

[2020-01-14 20:50] jtfogarty commented on #517
/area testing
/kind bug
/priority p2

[2020-01-14 20:51] jtfogarty commented on #501
/area testing
/kind feature
/priority p2

[2020-01-14 20:53] jtfogarty commented on #457
/area engprod

[2020-01-14 20:55] jtfogarty commented on #243
/kind feature
/area engprod
/priority p2

[2020-01-14 20:57] jtfogarty commented on #202
/area engprod
/kind feature

[2020-01-16 05:48] jlewi commented on #560
I think we can do something like the following to install the later version of python3

[code]

I think we want to use `python3.8 -m pip` to install any pip packages as that ensures they are installed in the dist packages location corresponding to python3.8

[2020-01-16 15:05] jlewi opened #562 "Monitoring and dashboarding for continuous builds/delivery"
We will need dashboards to find out which of our continuous builds are succeeding and which are failing.

One idea would be to have our python scripts emit structured logs (json entries) which would be
captured in stackdrive. We could then setup a log sync to big query.

Now we could easily write SQL queries to get the data we need.

We could then use any number of tools to create dashboards based

[2020-01-16 15:18] jlewi opened #563 "Use ExpirationSecondsTTL on Tekton TaskRuns and PipelineRuns to GC old runs"
We need to setup TTLs to auto GC PipelineRuns and TaskRuns for our continuous delivery pipelines.

Otherwise we will end up overwhelming our APIServers with two many objects.

It looks like this is an in progress feature for Tekton:

see tektoncd/pipeline#1429

Follow on to #450

[2020-01-17 04:27] jlewi commented on #532
This is fixed. We have a number of successful runs of Tekton pipelines to update Kubeflow manifests.

Here's a sample PR:
kubeflow/manifests#706

[2020-01-17 04:27] #532 closed

[2020-01-17 04:30] jlewi commented on #533
I think we can close this once #564 is fixed.

The pattern we settled on was basically to create a python script that acts as a reconciler, This periodically checks if any action is needed and only then actually submits Tekton pipeline runs.

It is basically polling GitHub to see if there are any changes and then takes action. I think this pattern will work very well. We could in principle extend

[2020-01-17 04:33] jlewi commented on #450
After #564 is merged the next steps would be

* Verify that Tekton pipelines are running and apps are getting updated
* Modify the application configuration to enable builds for one of the release branches (e.g. 0.7-branch)
   * We want to verify that when we cut 1.0 branches we can just update application.yaml in order to
      build docker images and update the kustomize manifests.

[2020-01-18 22:39] jlewi opened #565 "Enable node autoprovisioning on kubeflow-testing"
Looks like node auto-provisioning isn't currently enabled on our test cluster.

Should we enable it?

[2020-01-19 01:24] jtfogarty commented on #565
/kind question

[2020-01-21 13:52] jlewi commented on #539
@zhenghuiwang can we close this issue or is there more work to be done?

[2020-01-21 19:18] kunmingg commented on #543
Clean up should include IAM bindings in project "kubeflow-ci-deployment"
@jlewi @richardsliu

[2020-01-21 19:20] jlewi commented on #543
We are hitting the limit again each kubeflow/pipelines#712

Here is the current IAM policy
[kubeflow.ci.deployment.policy.txt](https://github.com/kubeflow/testing/files/4093217/kubeflow.ci.deployment.policy.txt)

It looks like the memberships that aren't being GC'd are of the form.

[code]

[2020-01-21 19:26] jlewi commented on #543
The logic to cleanup service accounts is here:
https://github.com/kubeflow/testing/blob/aabd75f45b275a9c07034b61c3ea874fcc06c5a7/py/kubeflow/testing/cleanup_ci.py#L782

The logic is to trim unused bindings for any service accounts that don't exist.
So the bindings likely aren't deleted because the service accounts aren't GC'd.

Here's the logic to GC service accounts
https://github.com/kubeflow/te

[2020-01-21 20:10] jlewi commented on #543
Here's a list of service accounts currently in project: kubeflow-ci-deployment

[serviceaccounts.list.txt](https://github.com/kubeflow/testing/files/4093474/serviceaccounts.list.txt)

And here's the policy bindings

[kubeflow.ci.deployment.policy.txt](https://github.com/kubeflow/testing/files/4093477/kubeflow.ci.deployment.policy.txt)

It looks like the policy binding includes bindings for service

[2020-01-21 20:17] jlewi commented on #543
Here are the logs from the most recent run of the cleanup ci script.
[cleanup-ci-kubeflow-ci-deployment-1579629600-zlrtq.log.txt](https://github.com/kubeflow/testing/files/4093507/cleanup-ci-kubeflow-ci-deployment-1579629600-zlrtq.log.txt)

It looks like the code to clean up bindings is invoked and no exceptions are reported but it also isn't printing out any info that would help us debug.

[2020-01-21 20:21] jlewi commented on #543
I think the bug is here:
https://github.com/kubeflow/testing/blob/aabd75f45b275a9c07034b61c3ea874fcc06c5a7/py/kubeflow/testing/cleanup_ci.py#L770

I don't think we need or want to check whether the pattern `is_match`. That check likely isn't matching the service accounts for our auto infra. The check that the service accounts exist should be sufficient.

[2020-01-21 20:46] jlewi commented on #543
Here are the logs from a one off run.
[oneoff-run.txt](https://github.com/kubeflow/testing/files/4093600/oneoff-run.txt)

It looks like a bunch of old bindings were GC'd.

Here's the current policy.

[kubeflow.ci.deployment.policy.txt](https://github.com/kubeflow/testing/files/4093608/kubeflow.ci.deployment.policy.txt)

Looks like a bunch of bindings were pruned.

I think we can close this once #5

[2020-01-21 23:45] jlewi commented on #543
Looks like I was overzealous and we deleted bindings for the service accounts created by GCP services.

We will need to restore the IAM policies.

Here's the policy for kubeflow-ci
[kubeflow.ci.policy.txt](https://github.com/kubeflow/testing/files/4094431/kubeflow.ci.policy.txt)

The policy for kubeflow-ci-deployment is available in the previous comment
https://github.com/kubeflow/testing/issues/5

[2020-01-21 23:54] jlewi commented on #543
Going to restore the IAM policy for kubeflow ci

Here's the current policy before the restore
[kubeflow-ci.20200121-155208.yaml.txt](https://github.com/kubeflow/testing/files/4094481/kubeflow-ci.20200121-155208.yaml.txt)

[2020-01-21 23:58] jlewi commented on #543
I rolled back the policy for kubeflow-ci;

here's the current policy
[kubeflow-ci.20200121-155750.yaml.txt](https://github.com/kubeflow/testing/files/4094497/kubeflow-ci.20200121-155750.yaml.txt)

[2020-01-22 01:37] jlewi commented on #543
I rolled back the policy for kubeflow-ci-deployment

Prior to the rollback the policy was
[kubeflow-ci-deployment.20200121-173215.yaml.txt](https://github.com/kubeflow/testing/files/4094834/kubeflow-ci-deployment.20200121-173215.yaml.txt)

I set the policy to
[kubeflow.ci.deployment.policy.restored.txt](https://github.com/kubeflow/testing/files/4094836/kubeflow.ci.deployment.policy.restored.txt)

[2020-01-22 01:54] #539 closed

[2020-01-22 02:45] jlewi commented on #543
As a result of
https://github.com/kubeflow/testing/issues/543#issuecomment-576939870

Tests would fail with permissions errors like this one

[code]

From
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/707/kubeflow-manifests-presubmit/1219724656517320704/

Hopefully this is fixed now. The test for kubeflow/manifests#707 is now running again so we will see.

[2020-01-22 13:05] jlewi opened #571 "CD scripts for updating kubeflow manifests should close older PRs"
Follow on to #450

We have a server which continually opens up PRs to update the Kubeflow manifests to a newly built docker image for each application
https://github.com/kubeflow/testing/tree/master/apps-cd

Its not uncommon for us to end up with multiple PRs in flight for a given application because there were multiple commits to an application.

In this case, we should automatically close all bu

[2020-01-22 20:10] jlewi commented on #560
Example Dockerfile
https://github.com/kubeflow/testing/blob/master/apps-cd/Dockerfile

[2020-01-23 13:40] jlewi opened #573 "Cleanup the old release infrastructure"
Follow on to #450

We should clean up the old release infrastructure.

e.g. we should have an old cron job for updating the jupyter web app that we can delete

[2020-01-23 14:03] jlewi commented on #573
Project: kubeflow-releasing
Cluster: kf-releasing

It looks like #366 was the issue tracking the creation of this cluster.

Although it looks like its actually a 0.6 cluster; so maybe it got recreated since #366 was merged

It doesn't look like anything is running in that cluster

[code]

[code]

I'm going to delete this cluster and the associated deployments.

[2020-01-23 14:09] jlewi commented on #573
project: kubeflow-releasing
cluster: kf-releasing-0-6-2

[code]

This is the old cron job for updating jupyter. We don't use this anymore (see #450) so I'm going to delete it.

[2020-01-23 14:10] jlewi commented on #573
I think we can close this issue as soon as #574 is merged

[2020-01-23 14:38] jlewi commented on #571
It looks like the hub CLI doesn't support closing PRs so we will need to use the GitHub API to do this.

I think we will want to create a python script which uses a GitHub App to comment and close PRs.

[2020-01-24 04:58] jlewi opened #576 "Continuous releasing add command to rebase and force push"
Follow on to #450

Right now if a PR is already open, the auto update application won't submit a Tekton pipeline.

In general that is what we want. However, in certain cases we might want to rebase on master in order to pull in other changes that might fix tests.

One way to do this is just to close the PR; but then we lose the conversation thread which could be useful for debugging.

We might wan

[2020-01-24 13:03] jlewi opened #577 "Replace kubeflow-bot with a GitHub App and GitHub Org"
Right now we use a user account
https://github.com/kubeflow-bot
as a robot account.

This is really a pain to manage because there is no easy way to make multiple people administrators of this account.

Using a GitHub App is also much better for programmatic modification.

We can easily create GitHub Apps within our existing Kubeflow GitHub org.

GitHub Apps however can't "own" repositories.  So w

[2020-01-24 13:08] jlewi commented on #577
I created the bot kubeflow-auto-bot

[2020-01-27 13:44] jlewi commented on #275
Downgrading this to P2

[2020-01-27 14:49] jlewi commented on #450
Update

* kubeflow/testing#572 was merged to update release branches
* Next missing piece is closing old PRs
    * kubeflow/testing#571 is first PR for that
* After that its just a matter of ensuring everything is working as expected

[2020-01-27 21:14] jlewi opened #580 "Dashboard and monitoring for Kubeflow CD pipelines"
Follow on to #450

We need a way to monitor the continuous delivery of Kubeflow applications.

As a strawman I think we'd like a dashboard that shows a table like the following for each Kubeflow version.

| Application | Last Commit of Code | Image Commit | Status of Update Pipeline
| --- | --- | --- | --- |
| Notebook Controller | 1234 | 1234 | Green
| Profile Controller | abcd | efgh | Red
|...

[2020-01-28 00:26] jlewi opened #581 "CD pipelines should conditionally run the task to build the docker image"
Our Tekton pipelines to build docker images and update the manifests should conditionally execute the task to build and push the docker image.

We should be able to create a simply script that tests if the image exists and then use that to conditionally trigger the task to build and push the image.

Example of a tekton condition
https://github.com/tektoncd/pipeline/blob/d6dd94e97f3c504fd3b6598794f

[2020-01-28 02:17] jlewi commented on #580
update_kf_apps.py has all the information to compute the above.

So update_kf_apps.py should probably track that information and then make it available via a flask server.

[2020-01-28 02:49] jlewi opened #582 "Test volume is out of space"
Test volume is failing.

Sample test failure
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/575/kubeflow-testing-presubmit/1221984225717129216/

Error in failure is

[code]

Playbook for dealing with this
https://github.com/kubeflow/testing/blob/master/playbook.md#nfs-volume-is-out-of-disk-space

[2020-01-28 02:59] jlewi commented on #582
Here's a plot from stackdriver confirming no free space on the NFS share
![free_space](https://user-images.githubusercontent.com/777219/73232146-2d76f980-4137-11ea-9406-f2dab000cdb3.png)

[2020-01-28 03:24] jlewi commented on #582
I have deleted and recreated the NFS share and it seems to be working.

[2020-01-28 11:07] jlewi commented on #582
We can close this once #583 is merged.

[2020-01-28 11:08] jlewi opened #584 "Test failures; out of private IP space in kubeflow; need better GC'ing of auto-deployed clusters"
Example test
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/761/kubeflow-manifests-presubmit/1222040850511433728/

Error:

[code]

[2020-01-28 11:12] jlewi commented on #584
Here's the current list of clusters

[code]

[2020-01-28 11:14] jlewi commented on #584
Here's the current list of deployments

[code]

[2020-01-28 11:18] jlewi commented on #584
I'm going to delete the deployments

* kf-vmaster-n??
  * These should no longer be used and are almost 3 months old so very out of date.
  * We should now be generating date statmped version of kf master

* I'm also going to delete

  * kf-v0-6*
  * v0.6 is no longer supported

* Next question is why why haven't the kf-vmaster clusters been GC'd?

[2020-01-28 11:28] jlewi commented on #584
Here are the logs from the most recent cleanup run.

[cleanup-ci-kubeflow-ci-deployment-1580205600-mv9f7.logs.txt](https://github.com/kubeflow/testing/files/4122069/cleanup-ci-kubeflow-ci-deployment-1580205600-mv9f7.logs.txt)

So they aren't GC'd because the expiration time is 2 days.

[code]

So the problem is our GC logic isn't aggressive enough in collecting them. We probably want to keep at mo

[2020-01-28 12:16] jlewi opened #585 "Add exclude directories support to prow_config.yaml"
Right now we support the ability to only trigger tests when certain files are matched.

It might also be good to have an exclude_dirs option.  In some cases it might be easier to
list which directories are excluded.

We should just have to modify the code here.
https://github.com/kubeflow/testing/blob/bb549cb65561e1d0bbd6bef4c812f0c3965f54be/py/kubeflow/testing/run_e2e_workflow.py#L253

[2020-01-28 13:30] jlewi commented on #584
We seem to be auto-deploying 3 clusters every 8 hours

[code]

[2020-01-28 13:31] jlewi commented on #584
I deleted the cronjob to auto-deploy v0-6 because we don't need that anymore.

[code]

[2020-01-28 18:51] #584 closed

[2020-01-28 18:59] #582 closed

[2020-01-28 19:33] jlewi commented on #450
This is working. Here's a list of PRs indicating several PRs updating 1.0 applications which were successfully merged
https://github.com/kubeflow/manifests/pulls?utf8=%E2%9C%93&q=+is%3Aclosed+author%3Akubeflow-bot+

Only remaining thing to do before updating this PR is updating the instance of the release infrastructure in the prod namespace.

[2020-01-30 07:44] jlewi opened #590 "Auto deploy Kubeflow - Create web app to list deployments"
We'd like to create a simple web app that makes it easy to navigate to latest auto deployed Kubeflow instance.

A pointer to rendering a table in flask.
https://flask-table.readthedocs.io/en/stable/

[2020-01-30 07:56] jlewi opened #592 "Cherry-pick script should preserve original PR description"
We currently use this script
https://github.com/kubeflow/kubeflow/blob/master/hack/cherry_pick_pull.sh

To create cherry picks. This script doesn't preserve the original PR description.

That's unfortunate because it means we often lose the links the to the issues. We'd like to keep those links so that when we look at the issue we can easily link to the cherry-pick.

In cherry-pick PRs it would be

[2020-01-30 20:09] jlewi opened #593 "Setup a prod instance of the CD applications for Kubeflow"
Follow on to #450

We have an instance running in a dev namespace. We want to deploy a clean version into the prod namespace.

[2020-01-30 20:09] jlewi commented on #450
Closing this issue.
Filed #593 to setup a prod instance

[2020-01-30 20:09] #450 closed

[2020-01-30 21:33] jlewi opened #594 "kubeflow-ci-deployment us-central1-a is having stock outs."
https://github.com/kubeflow/testing/blob/master/playbook.md#gcp-quota-errors

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_manifests/816/kubeflow-manifests-presubmit/1222974028306714629/
[code]

[2020-01-30 21:34] jlewi commented on #594
[code]

[2020-01-30 21:35] jlewi commented on #594
[code]

We have deployments more than 24 hours.

[2020-01-30 21:36] jlewi commented on #594
Current usage is

[code]

[2020-01-30 22:02] jlewi commented on #594
Here's a plot of GCE quota.

![GCE VM Instance - Reserved cores by label zone  SUM  (1)](https://user-images.githubusercontent.com/777219/73493991-aad58080-4368-11ea-8d40-4cae18f37723.png)

At 12PM we were only using around 300 CPUs so we should have 200 available

Looking back at the original error

[code]

The problem is a stockout; GCE is out of quota. Not us.

[2020-02-03 23:19] jlewi commented on #594
The problem seems to be resolved.

[2020-02-03 23:19] #594 closed

[2020-02-03 23:20] jlewi commented on #471
I think this is obsolete.

[2020-02-03 23:20] #471 closed

[2020-02-03 23:20] jlewi commented on #444
This should be fixed.

[2020-02-03 23:20] #444 closed

[2020-02-03 23:24] jlewi opened #595 "Auto-deploy V2"
This is the uber bug for updating the auto-deployment infrastructure.

The key feature that we'd like to achieve with V2 is to auto-deploy as soon as a PR is merged.

The current implementation doesn't facilitate that because we have a simple cron job which launches a new deployment every X hours.

If we decrease X in order to deploy sooner we will end up accumulating multiple instances of the aut

[2020-02-03 23:26] jlewi commented on #595
I created a new cluster on which to deploy this

*  **project**: kubeflow-ci
*  **cluster**: kubeflow-ci-v1

This is a V1 Kubeflow cluster.

I couldn't use the existing kubeflow-testing cluster because it doesn't have ISTIO installed. I want to use ISTIO to be able to setup routes to the web app we will create.

[2020-02-04 21:08] #509 closed

[2020-02-04 22:08] #508 closed

[2020-02-05 23:41] jlewi opened #600 "applications tool should support printing out all application versions"
We should update the tool
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/tools/applications.py

To print out the application version for all applications.

This would be useful for updating the versioning on the website.

We might even want to have it spit out a markdown table or shortcodes; something that we could easily copy and paste into the website.

[2020-02-06 03:12] jlewi commented on #595
I think the cleanup script might have deleted some instances.

The endpoint when down and now its back up but I'm getting origin authentication failures.

[2020-02-06 03:29] jlewi commented on #595
I deleted the iap-enabler pod and that fixed it.
It looks like the iap-enabler pod got stuck trying to get the backend name
https://github.com/kubeflow/manifests/blob/f239b294879f9523248106ebb74f6c12e5d33765/gcp/iap-ingress/base/config-map.yaml#L85

The backend name kept being empty.

[2020-02-06 20:41] #510 closed

[2020-02-09 21:19] fediazgon opened #601 "[create_unique_kf_instance.py] `gcloud config get-value account` is too verbose"
When no `--email` is provided, `create_unique_kf_instance.py` uses the previous command to fetch the email of the person to create the default profile. However, if there are multiple profiles, the output also contains the active configuration:

[code]

This sets the email to "Your active configuration is: [personal]\nfediazgon@gmail.com" .

[code]

This could be easily fixed by, instead, using the

[2020-02-10 17:53] #601 closed

[2020-02-11 23:04] jlewi opened #605 "kubeflow-testing old GPU nodes"
Our kubeflow-testing cluster has a GPU node pool with 6 nodes.
I don't think we have many tests actually using that. We should have autoscaling enabled.
I suspect its not getting downscaled because K8s isn't smart enough to not schedule workloads on that node-pool.

[2020-02-11 23:51] jlewi commented on #425
/lifecycle frozen

[2020-02-12 00:12] jlewi commented on #240
/lifecycle frozen

[2020-02-12 00:47] jlewi commented on #595
I deleted the old cron job `auto-deploy-master`.

[2020-02-12 02:52] jinchihe opened #607 "Cannot start CI testing for kfserving"
Cannot start CI testing for kfserving, while presubmit trigger, the error will be as beflow details:

[code]

[2020-02-12 02:57] jinchihe commented on #607
@jlewi Could please someone can help to take a look? Thanks.

[2020-02-12 05:28] jlewi commented on #607
It looks like the tag

[code]

Was recently updated.
It's now pointing to:
https://pantheon.corp.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:ca9d9d7b59ebbc516a214c02f4c9c312ee0055286692f2ad5a3b3189a8496565/details?tab=info

[2020-02-12 05:32] jlewi commented on #607
There are a couple other images after that the there is an image from Dec 12.
gcr.io/kubeflow-ci/test-worker@sha256:fbfb9141c02e9a50e3679f84637fc2d7c142fe9eaa6b9f55a3c9f8a710000837

I searched our issues. I think the most recent mention of an image update was
https://github.com/kubeflow/testing/issues/501#issuecomment-547863870

[2020-02-12 05:37] jlewi commented on #607
Tried: gcr.io/kubeflow-ci/test-worker@sha256:fbfb9141c02e9a50e3679f84637fc2d7c142fe9eaa6b9f55a3c9f8a710000837

[code]

[2020-02-12 05:50] jlewi commented on #607
Try:

[code]

Same error but the following works

[code]

That also works on
gcr.io/kubeflow-ci/test-worker@sha256:fbfb9141c02e9a50e3679f84637fc2d7c142fe9eaa6b9f55a3c9f8a710000837

It looks like the debug-worker-0 pod which was started 15 days ago is using
gcr.io/kubeflow-ci/test-worker@sha256:fbfb9141c02e9a50e3679f84637fc2d7c142fe9eaa6b9f55a3c9f8a710000837

So lets roll back to that.

[2020-02-12 05:53] jlewi commented on #607
@jinchihe You might want to think about updating your E2E tests to pin to a specific image. We could do this in a variety of places

1. The individual E2E test
1. In prow_config.yaml for every repository
1. In `run_e2e_workflow.py`
1. In a YAML file in kubeflow/testing

I think it makes the most sense to pin the image inside a config file in kubeflow/testing. This way at least when we update the i

[2020-02-12 06:02] jinchihe commented on #607
@jlewi  Thanks very much for the quick response!

[2020-02-12 14:41] jlewi commented on #607
@gabrielwen were you building and retagging new worker images as part of the fix for kubeflow/kfctl#228?

[2020-02-12 17:37] gabrielwen commented on #607
mm, I've seen this error, actually.  Yes I was rebuilding the image but I thought `make build-gcb` doesn't tag the image as latest?

[2020-02-12 21:49] gabrielwen opened #608 "examples test picks the wrong cluster"
During examples test, clusters are sorted by names:
https://github.com/kubeflow/testing/blob/4c3f7d2d1644c2a443cf04f498d13e3206a4382f/py/kubeflow/testing/get_kf_testing_cluster.py#L129

this is wrong as the name is with suffix of uid, which is not the source of truth to the ordering of creation time.  Instead we need to use commit hash in labels to select the cluster.

[2020-02-12 23:22] jlewi opened #609 "AutoDeploy hasn't deployed v1 from latest commit"
The most recent auto-deployment is
https://github.com/kubeflow/manifests/tree/9b1b254

This is not the most recent commit.
https://github.com/kubeflow/manifests/commits/v1.0-branch

It looks like the most recent deploy job failed
[v1.txt](https://github.com/kubeflow/testing/files/4195598/v1.txt)

It looks like a temporary error downloading the manifests repo. It looks like it failed.
I think the r

[2020-02-12 23:37] #257 closed

[2020-02-12 23:47] gabrielwen commented on #608
/close

double checked it's using insertTime so it should be fine.

[2020-02-12 23:47] #608 closed

[2020-02-13 00:49] jlewi opened #611 "Auto Deployed Clusters don't have valid endpoint; out of SSL certificate quota"
This cluster
https://kf-v1-0212-8db.endpoints.kubeflow-ci-deployment.cloud.goog/

gcloud --project=kubeflow-ci-deployment container clusters get-credentials --zone=us-east1-c kf-v1-0212-8db

I get error connection closed. When doing curl I get an SSL error.

Checking the certificate

[code]

[2020-02-13 00:52] jlewi commented on #611
Running

[code]

[2020-02-13 00:54] jlewi commented on #611
[code]

[2020-02-13 01:03] jlewi commented on #611
Here are the logs
[cleanup-ci-kubeflow-ci-deployment-1581552000-j8hvg.logs.txt](https://github.com/kubeflow/testing/files/4195983/cleanup-ci-kubeflow-ci-deployment-1581552000-j8hvg.logs.txt)

It looks like most of the resources for our auto-deployed clusters aren't being matched. This is probably due to the change in naming for auto_deploy_v2

[2020-02-13 01:08] jlewi commented on #595
I deleted the cron job to cleanup kubeflow-ci

[code]

We should no longer be deploying any new infrastructure in kubeflow-ci. kubeflow-ci should be permanent manual infrastructure.

I got rid of the cron job to prevent errors from accidentally tearing down infrastructure we want to keep.

[2020-02-13 01:16] jlewi commented on #611
Reran an updated GC script to GC a bunch of certificated.
Here's an updated list
[certificates.txt](https://github.com/kubeflow/testing/files/4196013/certificates.txt)

Look like there's about 129. So we should have about 70 free.

[2020-02-13 13:32] jlewi commented on #609
I fixed this by removing the ISTIO side car annotation from the jobs and deleting the stuck job.

[2020-02-13 13:32] #609 closed

[2020-02-13 17:48] #611 closed

[2020-02-18 15:15] #607 closed

[2020-02-18 15:40] jlewi opened #613 "Tekton tasks and pipelines to run notebooks and generate reports"
Kubeflow relies heavily on notebooks for reporting and e2e testing.

We'd like to make it easier to run notebooks and generate reports for them.

One way to do that would be to create reusable [Tekton tasks](https://github.com/tektoncd/pipeline) to run notebooks (e.g. using papermill) and then upload an HTML version of the output to an object store like GCS or S3.

Then users could easily automate

[2020-02-18 15:41] jlewi commented on #613
/cc @gabrielwen

[2020-02-21 01:06] #595 closed

[2020-02-24 07:35] scottilee commented on #457
@jlewi This is what I see (ignore the "Terraform" project, it's a personal one):

![Screen Shot 2020-02-23 at 10 54 37 PM](https://user-images.githubusercontent.com/7443383/75133423-93e82c80-568f-11ea-950a-5f19d8a60dcf.png)

I don't think I am seeing everything I am supposed to like the users folder or the kf-kcc folder, but I may be looking in the wrong place?

[2020-03-02 04:06] jlewi opened #616 "kubeflow-ci-deployment out of quota"
Reported by @Jeffwan

[code]

[2020-03-02 04:07] jlewi commented on #616
Following the playbook.
https://github.com/kubeflow/testing/blob/master/playbook.md#gcp-quota-errors

[code]

So looks like lots of deployments not being GC'd

[2020-03-02 04:11] jlewi commented on #616
Here are the logs from the cleanup job.
Most of the deployments are skipped.

[code]

[cleanup-ci-kubeflow-ci-deployment-1583121600-np622.logs.txt](https://github.com/kubeflow/testing/files/4273395/cleanup-ci-kubeflow-ci-deployment-1583121600-
np622.logs.txt)

[2020-03-02 04:16] jlewi commented on #616
That is working is intended since that is coming from the section to cleanup auto deployments.

An exception occurred while trying to cleanup deployments.

[code]

[2020-03-02 04:26] jlewi commented on #616
Fixed the code and ran a cleanup.

[code]

And deployments

[code]

So quota should be fixed.

[2020-03-02 16:24] jlewi opened #618 "Prevent an auto-deployed cluster from being GC'd"
It would be nice to add a feature to allow a user to manually freeze an auto-deployed cluster or set a longer TTL.

See for example: kubeflow/examples#750

A simple fix would be to modify the auto deploy scripts to use some label which allows a user to set some expiration time before which the cluster won't be auto deleted.

[2020-03-02 18:24] #616 closed

[2020-03-02 18:26] jlewi commented on #590
This is fixed.
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/auto_deploy/

[2020-03-02 18:26] #590 closed

[2020-03-03 03:44] #498 closed

[2020-03-04 19:28] #534 closed

[2020-03-04 19:28] #535 closed

[2020-03-12 15:52] jlewi commented on #613
I think @gabrielwen is working on this.

@gabrielwen any update on this?

[2020-03-15 20:25] jlewi commented on #475
I think after GoogleCloudPlatform/oss-test-infra/pull/177 is merged we will want to ensure the prow job specs are in sync with our prow job specs for K8s. That PR has been open for a while and in the meantime some changes have been made to the prow jobs running on the K8s prow instance.

[2020-03-17 14:41] jlewi commented on #545
Closing this. Our apps-cd pipeline has figured out a solution.

[2020-03-17 14:41] #545 closed

[2020-03-17 14:44] jlewi opened #624 "label sync needs to auto-sync the config to the cluster"
Our label sync process currently relies on manually updating the config map when things change.
https://github.com/kubeflow/testing/tree/master/label_sync

Lets try to use gitops and anthos CM for this.
https://cloud.google.com/anthos-config-management/docs/quickstart

[2020-03-17 21:28] jlewi commented on #259
/lifecycle frozen

[2020-03-19 21:03] sarahmaddox commented on #613
/area gsoc

[2020-03-23 12:43] jlewi opened #627 "Move prow jobs onto the Kubeflow testing cluster"
This is issue is tracking moving Kubeflow's prow jobs onto its own build clusters.
https://github.com/kubernetes/test-infra/blob/master/prow/scaling.md#separate-build-clusters

This should allow better isolation and debuggability because we will have access to the prow pod logs.

/assign @clarketm

[2020-03-23 13:06] jlewi opened #628 "Kubeflow Pull Requests Say Modified By jlewi because of reviewable"
It looks like all pull requests say "modified by jlewi".

It looks like this is due to the way reviewable is setup.

[2020-03-23 13:09] jlewi commented on #628
It looks like its using my username because I'm the user that connected reviewable.

[2020-03-23 13:20] jlewi commented on #628
Filed: Reviewable/Reviewable#724

[2020-03-23 13:36] jlewi commented on #628
It looks like we can do the following. In reviewable for every repository change how the badge is displayed from in pr title to in pr comment by username "kubeflow-bot".

This works: e.g kubeflow/testing#630.

I had to connect reviewable to all repos for kubeflow-bot.

[2020-03-24 03:30] jlewi commented on #457
* It looks like projects are now supported with KCC
  * https://cloud.google.com/config-connector/docs/reference/resources#project
* It looks like @scottilee has KCC setup inkubeflow/testing#525

Some things to look at next

* Configuring ACM(https://cloud.google.com/anthos-config-management/docs)
* Creating an example of provisioning a project and cluster using KCC

[2020-03-24 03:49] #492 closed

[2020-03-24 22:48] jlewi opened #631 "Apps CD scripts need to be updated to work with kustomize refactor"
Design Doc: http://bit.ly/kf_kustomize_v3

We will likely refactor the kustomize packages to create a more kustomize native experience.

To do that we will need to update our apps CD scripts to specify the locations of the new images.
https://github.com/kubeflow/testing/blob/master/apps-cd/applications.yaml

We should likely keep the locations of the new and old packages so they stay in sync until

[2020-03-25 05:03] #457 closed

[2020-03-26 21:02] jlewi commented on #627
PR #2
kubernetes/test-infra#16961

Before closing this issue we should update the README.
https://github.com/kubeflow/testing#no-results-show-up-in-gubernator

Since the pod logs should now be accessible in the kubeflow-ci cluster

[2020-03-26 21:07] clarketm commented on #627
I will update the README accordingly.

/assign @clarketm

[2020-03-27 03:55] scottilee commented on #475
@jlewi Since [#177](https://github.com/GoogleCloudPlatform/oss-test-infra/pull/177) is merged can we close this?

[2020-03-27 14:24] jlewi commented on #627
Thanks. @clarketm
Duplicate of #475

[2020-03-27 14:24] jlewi commented on #627
Duplicate of #475

[2020-03-27 14:24] #627 closed

[2020-03-27 14:37] jlewi commented on #475
I think we just need to update the README #633
and then we can close this.

[2020-03-27 15:33] StephennFernandes commented on #613
I would like to work on this issue as a part of GSOC 2020

[2020-03-28 10:09] rujual commented on #613
Hi! Is there any issue created for adding support for larger output data types such as DataFrames similar to the kfp function func_to_container_op  directly in Tekton, without converting to str or OrderedDict from one Pipeline block to the next (like it does in kfp) ?

[2020-03-30 08:27] 11fenil11 commented on #613
@sarahmaddox I would like to contribute on this issue during GSoC journey.

[2020-04-04 06:07] #475 closed

[2020-04-09 18:22] Swikar commented on #585
Jeremy can you assign this to me?

[2020-04-09 18:24] Swikar commented on #585
/assign Swikar

[2020-04-10 03:53] jlewi opened #636 "Auto-deployed instances from master and v1 branch are not accessible; out of ssl certificate quota"
Tried the endpoints:
https://kf-master-0410-b46.endpoints.kubeflow-ci-deployment.cloud.goog/
https://kf-v1-0410-656.endpoints.kubeflow-ci-deployment.cloud.goog/

Get ERR_CONNECTION_CLOSED

[2020-04-10 21:15] Swikar commented on #624
/assign swikar

[2020-04-10 21:16] Swikar commented on #624
/unassign swikar

[2020-04-10 21:16] Swikar commented on #624
/assign Swikar

[2020-04-13 13:59] jlewi commented on #636
The latest endpoints are working.

https://kf-master-0413-353.endpoints.kubeflow-ci-deployment.cloud.goog/

I suspect we hit SSL quota issues. It doesn't look like they are using self-signed ceritificates.

[2020-04-13 14:33] jlewi commented on #636
Endpoint:
https://kf-master-0413-6eb.endpoints.kubeflow-ci-deployment.cloud.goog/

Here's the ingress resource
[ingress-kf-master-0413-6eb.yaml.txt](https://github.com/kubeflow/testing/files/4469889/ingress-kf-master-0413-6eb.yaml.txt)

   * Looks like its still using a GKE managed certificate

The deploy logs look like it is creating a self signed certificate
[auto-deploy-master-mtwg6-rx9lp.log.t

[2020-04-13 14:38] jlewi commented on #636
The annotations:

* ingress.gcp.kubernetes.io/pre-shared-cert
* networking.gke.io/managed-certificate

Are still there.

[2020-04-13 14:46] jlewi commented on #636
Remove the annotation

[code]
  * I think we need to remove "network.gke.io/..." first otherwise the "ingress.gcp.kubernetes.io/pre-shared-cert-" will just get added back automatically

[2020-04-13 14:53] jlewi commented on #636
After deleting those annotations the self-signed certificate got used.

[2020-04-13 15:10] Bobgy commented on #554
/reopen

[2020-04-13 15:10] Bobgy commented on #554
/remove lifecycle/stale

[2020-04-13 15:10] Bobgy commented on #554
/assign @Bobgy
This change is still desirable, it will reduce future maintenance cost.

[2020-04-14 04:42] #558 closed

[2020-04-14 04:42] #556 closed

[2020-04-14 14:24] jlewi commented on #636
Lets Encrypt quota should no longer be an issue. Since its working now its unclear what the actual problem was. So I'm going to close this as not reproducible for now.

I'm also going to go ahead and update #637 to remove the use of self signed ceritifcates.

[2020-04-14 17:42] #530 closed

[2020-04-14 17:42] #491 closed

[2020-04-14 17:42] #489 closed

[2020-04-14 17:42] #372 closed

[2020-04-14 17:42] #288 closed

[2020-04-14 17:42] #267 closed

[2020-04-14 17:42] #260 closed

[2020-04-15 01:47] jlewi commented on #636
Observing the problem again
https://kf-v1-0415-8a5.endpoints.kubeflow-ci-deployment.cloud.goog/

The ingress shows the following error

[code]
The managed certificate shows the following error.

[code]

[2020-04-15 01:48] jlewi commented on #636
[code]

[2020-04-15 02:06] jlewi commented on #636
Here's a list of the SSL ceritifcates

[code]

[ssl_certificates.txt](https://github.com/kubeflow/testing/files/4478738/ssl_certificates.txt)

[2020-04-15 03:01] jlewi commented on #636
I deleted all the unmanaged ceritifcates

[code]

[2020-04-15 03:11] jlewi commented on #636
I cleaned up the certificates and it should be working now.

[2020-04-15 03:13] Swikar commented on #624
Jeremy, I noticed Anthos setup is done. I am not sure fully completed or not? Can you tell me what portion of work still require for this PR?

[2020-04-16 17:54] Swikar commented on #624
@jlewi Regarding https://github.com/kubeflow/testing/issues/624 How far has been completed and how much work still reamains? I am currently working on that PR. I am reviewing this https://cloud.google.com/anthos-config-management/docs/quickstart (

[2020-04-17 16:43] jtfogarty commented on #613
/priority p1

[2020-04-17 21:05] jtfogarty commented on #600
/area engprod
/priority p1

[2020-04-20 20:19] #482 closed

[2020-04-20 21:19] #517 closed

[2020-04-20 21:19] #501 closed

[2020-04-20 21:19] #243 closed

[2020-04-20 22:19] #202 closed

[2020-04-21 01:20] jlewi commented on #624
@Swikar I think this was fixed by #625

[2020-04-21 01:20] #624 closed

[2020-04-21 01:28] Swikar commented on #624
Oh okay it seemed to me👍

[2020-04-21 02:54] #460 closed

[2020-04-23 00:24] #562 closed

[2020-04-23 00:24] #563 closed

[2020-04-23 06:07] #533 closed

[2020-04-25 05:23] #565 closed

[2020-04-28 03:48] #543 closed

[2020-04-28 21:27] jlewi opened #644 "Create a management cluster for GCP blueprints"
We should create a management cluster to run and deploy GCP blueprints as well as other test infrastructure.

[2020-04-28 21:28] jlewi commented on #644
i created the cluster

* cluster: kf-ci-management
* project: kubeflow-ci
*  location: us-central1 (regional cluster)

We should check in the configs before closing this issue.

[2020-04-29 17:08] #644 closed

[2020-04-30 00:27] #560 closed

[2020-04-30 00:27] #573 closed

[2020-04-30 00:27] #571 closed

[2020-04-30 07:04] #576 closed

[2020-04-30 09:23] jlewi commented on #593
/lifecycle frozen

[2020-04-30 09:24] jlewi commented on #581
/lifecycle

[2020-04-30 19:16] jlewi opened #647 "Manage community folder in kubeflow.org with KCC and GitOps"
Follow on to: #457

We'd like to use KCC and GitOps to manage GCP projects under the community folder.

[2020-04-30 21:07] jlewi commented on #647
I have set up the cluster `kf-community-admin` in project `kf-kcc-admin`.

I have installed ACM and it is currently syncing to
https://github.com/jlewi/community-infra

I gave the CNRM service account project create permissions on folder community.
I was able to successfully create the project `gsoc-tensorboard`.

[2020-04-30 21:14] jlewi commented on #647
I'm going to delete all the old infrastructure created as part of #457.

Delete clusters

* kf-community
* kubeflow-cloudconnector

Service accounts

* cnrm-application-demo
* kf-kcc-vm
* iampolicy-dep-workloadidentity
* kf-kcc-admin
* kf-kcc-user

[2020-05-01 00:55] jlewi commented on #647
This is setup in:
https://github.com/kubeflow/community-infra

[2020-05-01 17:32] #577 closed

[2020-05-02 00:03] #647 closed

[2020-05-03 14:41] #275 closed

[2020-05-04 03:41] #580 closed

[2020-05-05 00:21] jlewi opened #650 "Organize the CI GCP projects into folders"
I'm opening this issue to track updates to the organization of our CI projects into folders.

Currently we have folder `ci-cd` which has two projects

* github-probots (runs labelbot frontend)
* kubeflow-ci (runs our ci clusters)

We also have project kubeflow-ci-deployment which is not currently in the ci-cd folder.

I'm going to create a subfolder ci-deployments and move it into that project.

T

[2020-05-05 00:24] jlewi commented on #650
It looks like we already have the folder "ci-projects" so I'm going to reuse that rather than create a new folder. But this folder wasn't under "ci-cd". So I moved it under ci-cd.

[2020-05-05 00:26] jlewi commented on #650
I moved projects:

* kubeflow-ci-deploy
* kubeflow-ci-deployment

Into folder ci-cd/ci-projects

I'm not sure what project kubeflow-ci-deploy is used for anymore.

[2020-05-05 00:30] jlewi commented on #515
/lifecycle frozen

[2020-05-05 00:30] jlewi commented on #650
I made `kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com` a project owner on this folder.

[2020-05-05 00:32] jlewi commented on #515
See also #650. We have now created a subfolder "ci-projects" under ci-cd. Projects in which GCP resources are created by tests should live in a project under ci-projects.

We have also created a management cluster in project "kubeflow-ci". So we could use GitOps to addminister the projects under the "ci-projects" folder.

[2020-05-05 00:34] jlewi commented on #644
There were a couple bugs in the permission setup for CNRM that will be fixed in subsequent PR.

Also one of the problems we ran into was that the service account we used with CNRM lives in project kubeflow-ci-deployment and ended up getting GC'd.

To fix this We can switch to using the kubeflow-testing service account.

Also per #650 I put the project "kubeflow-ci-deployment" into a subfolder. We

[2020-05-05 02:28] jlewi commented on #636
We have run out of SSL quota again in project `kubeflow-ci-deployment`

Here's a list of certificates.

[code]

So it looks like we have lots of managed certificates which weren't GC'd.

[2020-05-05 02:35] jlewi commented on #636
Here is the log from the latest run of the cleanup script. It looks like there is an error in the code preventing SSL certificates from being cleaned up.

[code]

[cleanup-ci-kubeflow-ci-deployment-1588644000-blbrb.logs.txt](https://github.com/kubeflow/testing/files/4578683/cleanup-ci-kubeflow-ci-deployment-1588644000-blbrb.logs.txt)

[2020-05-05 21:15] #636 closed

[2020-05-06 09:08] #592 closed

[2020-05-07 01:30] jlewi opened #654 "Use Tekton (instead of K8s jobs) to cleanup the Kubeflow CI project"
We currently use a K8s job and cron job to regularly run `cleanup_ci.py` to cleanup the Kubeflow
test infrastructure.

The K8s Job for oneoff runs is:
https://github.com/kubeflow/testing/blob/master/test-infra/cleanup-kubeflow-ci-deployment.yaml

The cron job is still defined here using ksonnet
https://github.com/kubeflow/testing/blob/master/test-infra/ks_app/components/cleanup-ci-cron.jsonnet

I

[2020-05-08 08:04] NikeNano opened #656 "Issues with the `get_kf_testing_cluster`when using `get-credentials` for e2e test development for the mpi-operator."
I am working with setting up [e2e test for the mpi-operator](https://github.com/kubeflow/mpi-operator/pull/244).  I managed to get it to work last weekend but when I tried to continue the work today I get issues with the part where [I try to get the credentials](https://github.com/NikeNano/mpi-operator/blob/fb2da145d10a05e4d846b400952eaecb327e4a16/py/kubeflow/mpi-operator/create_e2e_workflow.py#L3

[2020-05-08 08:26] NikeNano commented on #656
After further testing i got it to work by adding the cluster pattern :
[code]

Should it be needed to add the cluster pattern? As far as I can see there are some use cases which use the default:

https://github.com/kubeflow/examples/blob/0609ad47388abba37d074736014a239d0839a951/prow_config.yaml#L50

[2020-05-08 08:27] NikeNano commented on #656
Has the label changed in some way for the "default" cluster?

[2020-05-09 23:44] jlewi commented on #656
@NikeNano those clusters are auto-deployed periodically and so the pattern will depend on which auto-deployed cluster you want to use. There is more information here:
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

[2020-05-10 09:58] NikeNano commented on #656
Thanks for the answer! Also replied with a longer comment to your answere on the PR in kubeflow/mpi-operator

[2020-05-11 23:25] jlewi opened #658 "Setup buildcop"
We need to setup an appropriate buildcop team and "rotation" in order to spread the load of managing the CI/CD infrastructure along.

Here are  the big ticket items

1. Identify appropriate folks to be on the build copy rotation
    * These should be folks with a long track record of contribution and involvement in Kubeflow
    * There is non trivial setup to be done getting folks setup with acces

[2020-05-11 23:28] jlewi commented on #658
Process looks like the following today

1. Send a PR like #242 to add individuals to ci-team@kubeflow.org
1. Merge PR
1. Ask/wait for jlewi@ to manually sync the groups
    * Really need to automate this per kubeflow/internal-acls#22

We should document this in
https://github.com/kubeflow/testing/tree/master/playbook

[2020-05-12 00:20] jlewi opened #659 "NFS is full - tests are failing"
NFS is full.

@Jeffwan said he would take care of this once we grant him permission;
PR to add him to the ci-team is pending in kubeflow/internal-acls#242

[2020-05-12 00:22] jlewi commented on #659
@Jeffwan I updated the groups so you should have permission.

[2020-05-12 07:55] #656 closed

[2020-05-12 13:00] jlewi commented on #425
@gabrielwen has a PR pending for this in kubeflow/testing#/622

[2020-05-12 13:23] jlewi commented on #425
Follow on work to #622

1. Create a lint and/or unittest tasks and pipelineruns on Kubeflow/testing to serve as canonical example of using Tekton for CI/CD
1. Setup ACM to sync Tekton tasks to the CI cluster

[2020-05-12 16:35] Jeffwan commented on #659
I will check playbooks today and get some hands on experiences on it. Hopefully fix all the problems today.

[2020-05-12 17:44] Swikar commented on #658
@jlewi I am interested in buildup team. Can you add me when you start building team? I expect team member will get workshop (mini training), is it true? Thanks

[2020-05-12 17:55] jlewi commented on #659
@Jeffwan is reporting permission errors.

Here's confirmation he is a member of ci-team@kubeflow.org

[code]

Here's the IAM policy.

[kubeflow-ci.iam.policy.txt](https://github.com/kubeflow/testing/files/4617548/kubeflow-ci.iam.policy.txt)

ci-team@kubeflow.org should be a problem.

I think its possible the owner permission might not be addable through groups since owners may need to be invited.

[2020-05-12 18:10] Jeffwan commented on #659
em. IAM side looks fine, ci-team is associate with owner role.

[code]

[2020-05-12 20:32] jlewi commented on #659
Looks like the problem wasn't owner role but that @Jeffwan was typing the wrong command he had `--project` in the wrong position.

[2020-05-12 20:42] Jeffwan commented on #659
Thanks help figure out the problem.

clean up is in progress and it's a little bit slow.

before clean up.
[code]

I spot check a few folders, every test case takes 300M-400M, it would be great to have cron job to clean up historical build jobs periodically

[code]

[2020-05-12 21:14] Jeffwan commented on #659
hm..

The problem is probably on iNode, here's the status we just release some inode resources. it's probably 100% without any IFree before cleaning up.

[code]

[2020-05-12 22:54] Jeffwan opened #660 "Quota exceeded for quota group 'deploymentMutators' - tests are failing"
We've seen some issues like below

[code]

I am not sure if  number of `deploymentmanager` is over the limit or write queries is over the limit. We need more investigations on this and currently tests are blocked by this issue.

/cc @jlewi

[2020-05-12 23:14] jlewi commented on #660
This is project `kubeflow-ci-deployment`

[code]

[2020-05-12 23:19] jlewi commented on #660
Here's a graph of the deployment manager API requests.
![graph](https://user-images.githubusercontent.com/777219/81754972-5617ca80-946c-11ea-90fa-9e7e533b380a.png)

The number of requests started spiking this Saturday.

I think we need to figure out what caused that spike.

[2020-05-12 23:31] Jeffwan commented on #660
It is possible to check audit logs and find caller?

[2020-05-12 23:32] Jeffwan commented on #660
I also notice one cron job failed because of `global name 'cleanup_auto_blueprints' is not defined`. Not sure if that's a problem prevent job cleaning up deploymentmanager stacks

[code]

[2020-05-12 23:33] jlewi commented on #660
Here's a list of all the deployments
[deployments.txt](https://github.com/kubeflow/testing/files/4618965/deployments.txt)

There are 100's of autodeployments. Deployments with the name

[code]

So it looks like the auto-deploy jobs are running amok

[2020-05-12 23:43] jlewi commented on #660
Here is the log from one of the auto-deploy jobs.

It looks like it is failing for quota and permission errors.

[code]

[jobs.auto-deploy-master-h9jj8-xf7xc.txt](https://github.com/kubeflow/testing/files/4618987/jobs.auto-deploy-master-h9jj8-xf7xc.txt)

I'm a little unclear about what the root cause is but it looks like we have a cascading failure.
Autodeployments are failing. So we end up retryi

[2020-05-12 23:45] jlewi commented on #660
I'm temporarily disabling autodeployments until we can add an appropriate fix.

[code]

[2020-05-12 23:47] Jeffwan commented on #660
does `ci-team` has the permission to this project `kubeflow-ci-development`? Is there any job to clean up failed `DEPLOYMENTS `?

[2020-05-12 23:52] jlewi commented on #660
We have auto-deployments going back to 05/06. Those should have been GC'd by the autodeployer.
https://github.com/kubeflow/testing/blob/94d7e3d7c4dfcb54dd397d7efb134da6ad9e2e52/py/kubeflow/testing/auto_deploy/reconciler.py#L428

Based on the logs for the [reconciler](https://cloud.console.google.com/logs/viewer?project=kubeflow-ci&folder&organizationId&minLogLevel=0&expandAll=false&interval=PT1H&r

[2020-05-13 00:00] jlewi commented on #660
It looks like the reconciler is skipping most deployments because they are missing a manifest.

[code]

This is coming from line:
https://github.com/kubeflow/testing/blob/94d7e3d7c4dfcb54dd397d7efb134da6ad9e2e52/py/kubeflow/testing/auto_deploy/reconciler.py#L284

I added this in #657 because the reconciler was crashing on some deployments that didn't have a manifest.

[2020-05-13 00:06] jlewi commented on #660
Here's the YAML for that deployment.
[kf-v1-0509-5fd.yaml.txt](https://github.com/kubeflow/testing/files/4619061/kf-v1-0509-5fd.yaml.txt)

It indeed doesn't have field "manifest" (note there are manifest fields in subresources).
So it looks like the update failed because of quota errors and then we end up not matching this deployment and so we retry and that causes the cascading failure.

[2020-05-13 00:29] jlewi commented on #660
I'm running with kubeflow/testing#661 to cleanup the old deployments. However, it is also being slowed down because we are hitting our quota limits. So it will take a bit of time to recover as we need to wait for our quota to replenish itself.

[2020-05-13 00:31] jlewi commented on #660
Redeploying auto-deployer with #661 in order to continually run GC to cleanup failed deployments.

[2020-05-13 00:41] jlewi commented on #660
It looks like the quota that we have exceed is "Write queries per day" not queries per 100 seconds. So that might take some time to recover.

I applied for a quota increase we will see whether that is granted otherwise we might need to wait until tomorrow for the quota to recover.

[2020-05-13 00:43] Jeffwan commented on #660
Thanks for quick action. I will have a look as well.

[2020-05-13 02:22] jlewi commented on #660
Thanks @Jeffwan

[2020-05-13 13:41] jlewi commented on #660
Queries have dropped down significantly
![dm_queries](https://user-images.githubusercontent.com/777219/81819659-6ec3c700-94e4-11ea-9d11-9fc867fdd621.png)

Auto deployments appear to be healthy.

[2020-05-13 13:47] jlewi commented on #660
Here's a list of deployments.
[deployments.txt](https://github.com/kubeflow/testing/files/4622285/deployments.txt)

Most of the auot-deployments were cleaned up.

We do have some E2E deployments lingering from 2020-05-07. Its not clear why these wouldn't have been GC'd by now.

[2020-05-13 13:50] jlewi commented on #660
Looks like the cleanup job is failing. Looks like the error @Jeffwan mentioned above. Here are the logs.
[cleanup_blueprints.txt](https://github.com/kubeflow/testing/files/4622303/cleanup_blueprints.txt)

[2020-05-13 13:58] jlewi commented on #659
@Jeffwan  what does the problem is iNodes mean? I've never been able to get deleting files to work. I've always had to delete and recreate the NFS volume.

The tests are supposed to clean up their folder at the end but in a variety of cases that doesn't happen.

With the new Tekton pipelines we no longer rely on NFS to pass data among the different precisely because using NFS led to so many proble

[2020-05-13 14:02] jlewi commented on #659
Here's a stackdriver plot of free disk space
![free_space](https://user-images.githubusercontent.com/777219/81822105-8b153300-94e7-11ea-8769-b9d9914d36d6.png)

Looks like we are at 20% available. Looks like we never dropped below 10% available.

[2020-05-13 14:09] jlewi opened #664 "Recent auto-deployed clusters don't have accessible endpoints"
The recent auto deployed (non-blueprint) deployments don't have accessible endpoints. The zone isn't set which likely indicates a problem with the deployment.

[code]

[2020-05-13 14:11] jlewi commented on #664
Looks like the deployment failed because we hit quota issues for instance groups.

[code]

[2020-05-13 14:17] jlewi commented on #664
Here's a list of igs.
[igs.txt](https://github.com/kubeflow/testing/files/4622429/igs.txt)

We have a lot of instance groups that weren't GCd because the cleanup script is broken per #663

[2020-05-13 14:25] jlewi commented on #664
Some of these IGs are very old; e.g. k8s-ig--e703830d179fc333 is from 2019

[2020-05-13 14:34] jlewi commented on #664
It looks like part of the problem that we might not be checking certain zones.
https://github.com/kubeflow/testing/blob/c62601db6cc39c709091f45eaa1709254864e10d/py/kubeflow/testing/cleanup_ci.py#L1295

[2020-05-13 14:39] jlewi commented on #664
It looks like deleting some of these IGs fails because they are reported as in use.

[code]

[2020-05-13 14:56] jlewi commented on #664
It looks like we should be checking for URL maps associated with the backend and if there is no URL map associated with the backend then we can delete it.

It looks like backends associated with Ingress controllers are named

[code]
k8s-um-${NAMESPACE}-${SERVICE}--${UID}
[code]
description: '{"kubernetes.io/service-name":"istio-system/istio-ingressgateway","kubernetes.io/service-port":"80"}'
[code

[2020-05-13 16:54] Jeffwan commented on #659
After clean up yesterday, it's good enough for now. If it doesn't have a cronjob doing clean up, we need one.

[code]

[2020-05-13 16:56] Jeffwan commented on #659
Based on the check yesterday, there's no Inodes available which means test can not create files in NFS even with some spaces (10% space is still available). Since it fetch codes and manifests, it create lots of small files which can easily eat out all Inodes resources.

[2020-05-13 18:21] jlewi commented on #664
I GC"d all the old backend services per the above.
Here's the current list of backend services.
[backend_services.txt](https://github.com/kubeflow/testing/files/4623856/backend_services.txt)

[2020-05-13 20:27] jlewi commented on #664
I fixed the logic to GC instance groups here is a list of the current groups. So the quota should be cleaned up.
[igs.txt](https://github.com/kubeflow/testing/files/4624512/igs.txt)

Next steps

1. Get improvements to cleanup_ci.py merged
1. Wait for working auto deployed clusters to be deployed.

[2020-05-13 21:21] jlewi commented on #660
Looks like we are hitting quota limits again

[code]

We exceeded our daily limit of 1000 queries per day again. I dropped it down to 500 so it least the next time it happens we will have some buffer and won't have to wait to recover.

[2020-05-13 21:26] jlewi commented on #660
I think we exceeded our quota because of GC'ing all the old deployments  looking back at
https://github.com/kubeflow/testing/issues/660#issuecomment-627655418

We had ~1000 deployments. So if we deleted most of those that would amount to O(1000) queries.

[2020-05-13 21:31] jlewi commented on #660
Here's an API table with the number of calls for the past 24 hours.

We had ~3.5K delete calls and ~342 insert calls.

![DMAPIcalls](https://user-images.githubusercontent.com/777219/81867887-42c93580-9526-11ea-9b49-dbe4fb737f73.png)

[2020-05-13 22:48] jlewi opened #666 "Double deployments of blueprint autodeplyments"
The blueprint autodeployments appear to always be deploying two deployments at once e.g we have the following 2 deployments at the same commit spaced 5 seconds apart.

[code]

[2020-05-14 00:01] jlewi commented on #660
Our quota request was granted. We now can set the limit up to a maximum of 2000 write queries per day.

We have currently used 1024 queries per day.

I bumped our limit to 1250 write queries per day. Hopefully that will tests and auto-deployments to start working.

I didn't bump it to 2000 because I wanted to leave a buffer in case we still have bugs causing us to exhaust quota.

[2020-05-14 00:53] jlewi commented on #664
Things appear to be recovering. We have valid deployments for master and stacks
https://kf-master-0514-4be.endpoints.kubeflow-ci-deployment.cloud.goog/
https://kf-stacks-0514-9f8.endpoints.kubeflow-ci-deployment.cloud.goog/

We have an old (9hours) v1 deployment.
https://kf-v1-0513-c7c.endpoints.kubeflow-ci-deployment.cloud.goog/

I'm going to delete that to force a redeploy.

[2020-05-14 00:57] jlewi commented on #660
Queries are succeeding and it looks like we are being well behaved.

43 delete requests in the last hour
10 insert requests in the last hour.

[2020-05-14 00:58] Jeffwan commented on #660
Thanks @jlewi ! I retried a few jobs for verification

[2020-05-15 00:45] Jeffwan commented on #660
Seems we can resolve the issue now. Verified a few jobs pass the test.

[2020-05-15 00:45] Jeffwan commented on #654
Do we have plan to migrate argo based jobs to Tekton?

[2020-05-15 12:02] jlewi commented on #660
I've confirmed that our DM QPS has resumed to normal levels.
![dm_queries](https://user-images.githubusercontent.com/777219/82047957-8e83f800-9668-11ea-9ccc-1bd5fb58b9e7.png)

It looks like in the past 24 hours we had

* ~68 inserts
* ~76 deletes.

I'm lowering our daily write quota limit from 1250 to 500. This should be enough and will give us buffer so in the event we exceed the quota for a bug

[2020-05-15 12:02] #660 closed

[2020-05-15 12:03] jlewi commented on #664
v1 auto-deployments look healthy so closing this bug.

[2020-05-15 12:03] #664 closed

[2020-05-15 12:04] jlewi commented on #659
Thanks @Jeffwan

[2020-05-15 12:06] jlewi commented on #654
@Jeffwan I think long term that's where we want to go.

[2020-05-15 12:06] jlewi commented on #605
/lifecycle frozen

[2020-05-15 17:35] jlewi opened #668 "Blueprint autodeployments are failing"
Autodeployments of blueprints are failing.

Looking at the tekton dashboard.
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/auto-deploy/pipelineruns?labelSelector=tekton.dev%2Fpipeline%3Ddeploy-gcp-blueprint

error is

[code]

[2020-05-15 19:02] jlewi commented on #644
Related to: kubeflow/gcp-blueprints#13 I don't think we want to run CNRM in namespace mode as it makes it difficult for the management cluster to administer multiple projects.

Uninstall the namespace specific components.

[code]

Create a new service service account to administer ci projects.

[code]

[2020-05-15 19:03] jlewi commented on #644
Made ci-projects-manager@kubeflow-ci.iam.gserviceaccount.com  an owner of folder ci-projects

[2020-05-15 19:07] jlewi commented on #644
Grant workload identity.

[code]

[2020-05-15 19:08] jlewi commented on #644
Delete the old version of CNRM.

[code]

[2020-05-16 00:14] jlewi commented on #668
It looks like the problem is the application resource.
https://github.com/kubeflow/manifests/blob/d82342c88cb943635d6842db3153f9909181a067/aws/nvidia-device-plugin/overlays/application/application.yaml#L23

It looks like the YAML spec is invalid. The indentation of OWNERs is wrong.

It looks like the validation I'm writing to fix kubeflow/manifests#1174 is catching this.

@Jeffwan I will fix the Y

[2020-05-17 04:44] Jeffwan commented on #668
Thanks @jlewi for the fix. I think I carelessly brings some indent issue in https://github.com/kubeflow/manifests/pull/1162

[2020-05-19 06:20] #240 closed

[2020-05-20 05:17] jlewi commented on #668
@Jeffwan not a problem

[2020-05-20 05:18] jlewi commented on #659
@Jeffwan going to close this looks like tests have been fixed. Thanks!

[2020-05-20 05:18] #659 closed

[2020-05-20 06:07] jlewi commented on #668
Auto deployed blueprints are still failing with an rbac issue.

[code]

[2020-05-20 06:14] jlewi commented on #668
kubeflow-ci-deployment namespace is missing

[code]

[2020-05-20 17:18] jlewi commented on #668
Fixed
https://kf-vbp-0520-ba7.endpoints.kubeflow-ci-deployment.cloud.goog/?ns=kubeflow-jlewi

[2020-05-20 17:18] #668 closed

[2020-05-30 08:39] NikeNano commented on #425
@jlewi how is this progressing? As I understand everything is set up for using tekton for the testing of e2e now is that correct? I am asking in relation to : https://github.com/kubeflow/mpi-operator/pull/244 in order to run a notebook example as e2e test for the mpi operator.

[2020-06-02 02:16] jlewi commented on #631
@Jeffwan @terrytangyuan FYI; another engprod issue that we will want to fix in order to automatically update the manifests with newly built images.

[2020-06-02 03:01] jlewi commented on #425
@NikeNano #622 was merged but there hasn't been any testing to ensure its working. You could give it a try and see what issues you run into.

[2020-06-02 15:41] pingsutw commented on #631
@jlewi, Hi I'm Kevin Su.
I would like to try fixing this one!

[2020-06-02 18:56] pingsutw commented on #631
/assign

[2020-06-03 13:26] jlewi commented on #631
Thanks @pingsutw this would be a huge help!

In case its helpful: Here's an example of an auto generated PR to update the manifest for the jupyter webapp
https://github.com/kubeflow/manifests/pull/1221

The file that is getting updated is
https://github.com/kubeflow/manifests/blob/master/jupyter/jupyter-web-app/base/kustomization.yaml

We also need to update this file:
https://github.com/kubeflow/

[2020-06-07 17:45] #618 closed

[2020-06-08 14:27] jlewi commented on #631
@pingsutw How's this going?

[2020-06-08 16:21] pingsutw commented on #631
@jlewi Sorry for the reply.
Thanks for the help.
I just sent a PR, could you help me check whether it's correct?

[2020-06-08 23:19] jlewi opened #677 "Use ACM to sync Tekton Resources to kf-ci-v1"
Opening up this issue to track using ACM to sync tekton resources to the kf-ci-v1 cluster.

Here's a dump of all tekton resources in namespace autodeploy

We only have the following tekton resources
[code]

[auto-deploy.tekton.resources.txt](https://github.com/kubeflow/testing/files/4749050/auto-deploy.tekton.resources.txt)

Here is a list of all resources

[auto-deploy.all.txt](https://github.com

[2020-06-08 23:20] jlewi commented on #677
Here are the resources for namespace `tektoncd`

[tektoncd.all.txt](https://github.com/kubeflow/testing/files/4749060/tektoncd.all.txt)
[tektoncd.tekton.txt](https://github.com/kubeflow/testing/files/4749063/tektoncd.tekton.txt)

[2020-06-09 00:53] jlewi commented on #613
#622 included some initial tekton tasks and pipelines for running our E2E tests.
I'm currently trying to get those running against our auto deployed blueprints per:
kubeflow/gcp-blueprints#42

[2020-06-09 03:43] jlewi commented on #631
@pingsutw you can check
https://github.com/kubeflow/manifests/pulls/kubeflow-bot

And see if updated PRs are being created.

[2020-06-09 21:14] jlewi commented on #666
It looks like the problem is that when the reconciler starts we end up loading the same YAML file for the pipelinerun twice.

[code]

It looks like this is because the way the configmap gets mounted there are multiple symlinks.

[2020-06-12 21:09] jlewi commented on #677
Fixed by #679

[2020-06-12 21:09] #677 closed

[2020-06-12 21:11] jlewi commented on #666
Fixed by #679. Confirmed by looking at
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/auto-deploy/pipelineruns

That pipelineruns are 5 minutes apart so no double deployment.

[2020-06-12 21:11] #666 closed

[2020-06-13 19:27] jlewi commented on #425
@NikeNano #681 verifies that Tekton is working by adding a simple go unittest presubmit to this repo.
Reusable tekton tasks and pipelines for running notebooks are still missing.

[2020-06-15 13:21] #425 closed

[2020-06-15 13:56] jlewi commented on #631
@pingsutw How's this going?

[2020-06-15 18:38] jlewi opened #682 "tekton_client.py submits pipelineruns with names that are too long"
See kubeflow/gcp-blueprints#50 the name ends up being

[code]

This is 67 characters long.

The log of error messages looks like

[code]

So I think the retry logic is swallowing up the original logic.

We should probably just use "generateName" and let K8s give us the name.

[2020-06-15 20:18] jlewi opened #684 "Use python3 for run_e2e_workflow.py"
Currently our prow jobs are firing of run_e2e_workflow.py using python2 which is no longer supported.

We should switch to using python3.

Our prow jobs are configured in:
https://github.com/kubernetes/test-infra/blob/5a71a6101fdca9159d7d6fd9e11ae8291c7fee35/config/jobs/kubeflow/kubeflow-presubmits.yaml

These basically specify a docker image to run

```gcr.io/kubeflow-ci/test-worker:latest```

Cu

[2020-06-16 02:47] pingsutw commented on #631
sorry @jlewi, I thought this PR is already done in https://github.com/kubeflow/testing/pull/673, So I work on other kubeflow issues recently.

If I understand correctly, https://github.com/kubeflow/testing/blob/master/apps-cd/applications.yaml will update docker tag in https://github.com/kubeflow/manifests

So I not sure which manifest also needs to update and be added in application.yaml.
Could y

[2020-06-16 13:06] jlewi commented on #631
Thanks @pingsutw ; we will need to create updates for most of the applications you can get a list here
kubeflow/kubeflow#5022

I went through the file and compared to the manifests; looks like we just need a couple more to
be updated

* admission-webhook - doesn't look like this needs to be updated
* centraldashboard - need to update https://github.com/kubeflow/manifests/blob/master/common/central

[2020-06-16 13:23] pingsutw commented on #631
@jlewi gotcha, it's very clear to me.
Let's do it.

[2020-06-16 18:21] jlewi opened #685 "Tekton workflows don't result in GitHub status check failure when there are junit failures"
Here's an example
https://github.com/kubeflow/gcp-blueprints/pull/50
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_gcp-blueprints/50/kubeflow-gcp-blueprints-presubmit/1272722626103480320/

The workflow indicates that the go tests failed as reported in the junit file but the workflow is still reported as passing.

This is probably a bug in
https://github.com/kubeflow/testing

[2020-06-16 18:26] andreyvelich commented on #631
Hi @pingsutw!
I was testing this branch https://github.com/kubeflow-bot/manifests/tree/update_pytorch-operator_vmaster-gd596e904.
We need to run [`make generate`](https://github.com/kubeflow-bot/manifests/blob/update_pytorch-operator_vmaster-gd596e904/tests/Makefile#L38) to update test files.
After that, I was able to run `make test`, so unit test should be sucessfull.

@jlewi Do you know, how we

[2020-06-16 18:44] jlewi commented on #682
Should be fixed by #683 just need to verify.
To verify we can just wait until kubeflow/gcp-blueprints#50 has a working test.

[2020-06-16 18:47] jlewi opened #688 "go-tests Tekton Task needs to support multi go module repos"
Here is our tekton task for running go unittests.
https://github.com/kubeflow/testing/blob/44fef48068c12f2954bacddf844d95dbc39ac875/tekton/templates/tasks/go-tests.yaml#L59

It currently runs at the root of the repo and runs the commend

[code]

This assumes that `go.mod` is the root of the repo it won't work if the go.mod file is in a subdirectory.
See for example:
https://github.com/kubeflow/gcp

[2020-06-16 20:23] pingsutw commented on #631
Hi, I just test branch https://github.com/kubeflow/manifests/pull/1253 as well.
Following command to reproduce:
[code]
I found that `make generate-changed-only` will modify docker tag back to the original version
[code]
@andreyvelich Did you have the same problem?

[2020-06-16 20:50] andreyvelich commented on #631
@pingsutw I think you just need to run `make generate` using this branch: https://github.com/kubeflow-bot/manifests/tree/update_pytorch-operator_vmaster-gd596e904.

 You can run `make generate-changed-only` if you modify any of manifests files, but in `update_pytorch-operator_vmaster-gd596e904` branch all files are already changed.
You just need to update test files for them.

After updating test

[2020-06-16 20:52] andreyvelich commented on #631
@pingsutw Do you know how we can manually update branch: https://github.com/kubeflow-bot/manifests/tree/update_tf_operator_vmaster-ga2ae7bff ?

[2020-06-16 21:10] pingsutw commented on #631
I did it as well.

If I use `make generate`, it will also modify docker tag back to the original version.
It's should not change any local file.

Sorry, I don't know how to update that branch

[2020-06-16 22:06] jlewi commented on #631
@pingsutw @andreyvelich we don't want to manually update the branch. I think we need to fix the update code to run the proper command.

https://github.com/kubeflow/testing/blob/97547fbf0bf1d83df0cac94e02c180c35ecba197/py/kubeflow/testing/cd/create_manifests_pr.py#L116

So you can change that to `make generate`. But there might be something else going on. Because `make-generate-changed-only` should

[2020-06-16 22:14] jlewi commented on #631
It looks to me like the expected values for the tests.
https://github.com/kubeflow/manifests/pull/1253/files

Is trying to change the image to
vmaster-gd596e904

So we need to update the expected value for the test which is in this file
https://github.com/kubeflow/manifests/blob/f68a7fbb2917d450b685da800d3d4612d14536d2/tests/stacks/examples/alice/test_data/expected/apps_v1_deployment_pytorch-opera

[2020-06-16 22:15] pingsutw commented on #631
@jlewi make sense.
will try to address this issue.

[2020-06-16 22:18] jlewi commented on #631
@pingsutw i wonder if for some reason `make generate` is modifying the file but the file isn't getting included in the commit? (e.g. ignored by .gitingore)

https://github.com/kubeflow/testing/blob/97547fbf0bf1d83df0cac94e02c180c35ecba197/py/kubeflow/testing/cd/create_manifests_pr.py#L145

You might want to look into getting viewer access to the stackdriver logs so you can see what happened.
https

[2020-06-16 22:22] pingsutw commented on #631
Sorry, I'm wrong. I didn't notice the path is `tests/stacks/examples/alice/test_data/....`

yap, there is a file that isn't getting included in the commit.
@jlewi Thanks, I will try to address this issue.

[2020-06-16 23:43] andreyvelich commented on #631
@jlewi Yes, you are right.
I also tried to run `make generate-changed-only` on this branch and all require tests were generated.

How we can check that this script (https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cd/create_manifests_pr.py) was properly run?

[2020-06-17 01:57] jlewi commented on #631
@andreyvelich @pingsutw

You would need to get access to the GCP release infrastructure. The GCP project it is running in is here:
https://github.com/kubeflow/testing/tree/master/apps-cd#run-a-pipeline

I think automation of access control to the release infra is a bit wanting.
We currently use this group to manage the release team
https://github.com/kubeflow/internal-acls/blob/master/release-team

[2020-06-17 14:05] andreyvelich commented on #631
Sure, thanks. I created the PR: https://github.com/kubeflow/internal-acls/pull/266

[2020-06-17 21:04] jlewi commented on #631
I tried to dig in a little bit. Having a bit of trouble locating the runs

The Tekton dashboard is crashing:
https://kf-releasing-0-6-2.endpoints.kubeflow-releasing.cloud.goog/tekton/#/pipelineruns

[code]

Youngest pipeline is a 141 days. I'm going to try GC'ing the old runs to see if that helps.

[2020-06-17 21:44] jlewi commented on #631
[code]

Looks like they are currently running in the `kf-releasing-dev` namespace.

[code]

[2020-06-17 21:46] jlewi commented on #631
Clean up  `kf-releasing-dev`

[code]

[2020-06-17 22:00] jlewi commented on #631
Here are the logs for one of the pods creating the PR
[cd-tf-operator-a2ae7bffp672s-update-manifests-vsxm5-pod-hqssr.log.txt](https://github.com/kubeflow/testing/files/4795283/cd-tf-operator-a2ae7bffp672s-update-manifests-vsxm5-pod-hqssr.log.txt)

It looks like `make generate-changed-only` is failing because we are missing the jinja2 library

[2020-06-17 23:39] jlewi commented on #631
@pingsutw We will also want to create a v1.1.0 config
https://github.com/kubeflow/testing/blob/e72b7f567195d3acc657b02e863e73c403d7e595/apps-cd/applications.yaml#L173

This should point at the v1.1-branches of the applications and the v1.1-branch of the manifests
The tag specified in the config is used as a prefix of the image built.  So that's how we affix a "v1.1.0" tag to the images

/cc @andre

[2020-06-18 00:43] jlewi opened #693 "GitOps for kubeflow-releasing infrastructure"
We need to setup kubeflow-releasing to be administered via GitOps.

In particular we'd like to make it easy to grant people the permissions they need and record this.

Right now we use Google groups which isn't great because we have to manually sync them.

A better approach would be to use CNRM and ACM.

We recently setup
https://github.com/kubeflow/community-infra/issues

This is running in proje

[2020-06-18 00:43] jlewi commented on #693
/cc @andreyvelich

[2020-06-18 01:16] jlewi commented on #613
/cc @rmgogogo @Bobgy

[2020-06-18 22:06] jlewi opened #696 "Tekton runs fail in periodic jobs because no repo under test"
Failed run of gcp blueprints periodic

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master/1273672453511450625

The problem is we are trying to substitute in the URL for the repo being tested but there is no repo being test in periodic.

[code]

[2020-06-18 22:28] jlewi commented on #696
Formatted version of the logs.

[0f6f35a9-b18b-11ea-a6be-7aface92fb81.log.txt](https://github.com/kubeflow/testing/files/4801499/0f6f35a9-b18b-11ea-a6be-7aface92fb81.log.txt)

[2020-06-19 12:35] #696 closed

[2020-06-20 15:57] scottilee commented on #600
This file does not exist.

[2020-06-20 16:11] scottilee commented on #658
The PR link looks incorrect, can you fix?

[2020-06-20 16:11] scottilee commented on #684
@jlewi
1. Which test is running `run_e2e_workflow.py`?
2. What's the process of getting a new image onto `gcr.io/kubeflow-ci/` and should it be named something like `gcr.io/kubeflow-ci/test-worker-py3:latest`?
3. Scanning through https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/run_e2e_workflow.py I don't see anything that needs to be updated for Python 3 but how would I verify

[2020-06-22 14:08] jlewi commented on #685
/cc @scottilee

[2020-06-22 14:09] #682 closed

[2020-06-22 23:32] #259 closed

[2020-06-23 02:16] jlewi opened #701 "[GCP] tasks in gcp-kf-ready could end up running against different clusters"
The way gcp-kf-ready pipeline is written
https://github.com/kubeflow/testing/blob/master/tekton/templates/pipelines/gcp-kf-ready.yaml

e.g. task runs get-credentials and finds the cluster to run the tests against.

This means that if tasks run sequentially they could end up selecting different clusters.

To fix that we probably want to have a single task that identifies the cluster to run against,

[2020-06-23 02:31] jlewi commented on #684
@scottilee we should already have a python 3 image built from this dockerfile
https://github.com/kubeflow/testing/blob/master/images/Dockerfile.py3
via skaffold

These get posted to:gcr.io/kubeflow-ci/test-worker-py3
I tagged:
gcr.io/kubeflow-ci/test-worker-py3@sha256:1b3e04157b4b27958a38b78e6f93c8741ce9a55f3bf2cbfaa50571734a6b0d06

As latest.

You can look at our Kubernetes test configs
https://g

[2020-06-23 14:51] jlewi opened #702 "GCP AutoDeployed Blueprints unexpectedly being GC'd"
See: https://github.com/kubeflow/gcp-blueprints/issues/55#issuecomment-647820282

Looks like the auto-deployed clusters are being unexpectedly GC'd

Look at the audit logs

logName="projects/kubeflow-ci-deployment/logs/cloudaudit.googleapis.com%2Factivity"
protoPayload.serviceName="container.googleapis.com"

It looks like the request was sent by ci-projects-manager@kubeflow-ci.iam.gserviceaccount.

[2020-06-23 14:56] jlewi commented on #702
[code]

[2020-06-23 14:59] jlewi commented on #702
So it looks like the delete is being issued by the CNRM cluster `kf-ci-management`.

Who deleted the container CNRM resource though?

[2020-06-24 00:16] jlewi commented on #684
@scottilee lets start with kubeflow/testing; would you mind sending a PR my way to update the tests for kubeflow/testing?

[2020-06-24 12:46] andreyvelich commented on #693
@jlewi So we want to automatically give permission to the `kubeflow-releasing` GCP project after updating members in  https://github.com/kubeflow/internal-acls/blob/master/release-team.members.txt, right ?
As I know, currently we need to manually sync the groups to add new account.

Please, can you show me an example how it works for `kf-kcc-admin` project in https://github.com/kubeflow/community-

[2020-06-26 14:41] jlewi commented on #693
@andreyvelich There are two different approaches and we probably want to do both.

kubeflow/internal-acls#22 is tracking automatically sync'ing Google groups. We will eventually want to implement that at some point as there are lots of uses for Google groups and we'd like to be able to administer membership via GitOps.

GCP infrastructure can be administered via GitOps. This works as follows

1. W

[2020-06-30 02:00] jlewi opened #708 "istio unhealthy in cluster kf-ci-v1"
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/

Gives me

[code]

Port forwarding appears to work. So looks like it could be an issue with the ISTIO config.

[code]

[2020-06-30 02:15] jlewi commented on #708
Other services also having problems

https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/auto_deploy/

[2020-06-30 02:16] jlewi commented on #708
[code]

[2020-06-30 02:19] jlewi commented on #708
I kicked the pods; still having trouble though

[code]

[2020-06-30 02:20] jlewi commented on #708
Lets try restarting all the pods.

[code]

[2020-06-30 02:31] jlewi commented on #708
[code]

[2020-06-30 02:33] jlewi commented on #708
mixer logs

[code]

Sidecar proxy logs

[code]

[2020-06-30 02:34] jlewi commented on #708
Looks like 10.3.24.145 is the istio-galley

[code]

[2020-06-30 02:35] jlewi commented on #708
Looks like the galley is missing

[code]

[2020-06-30 02:37] jlewi commented on #708
Lets try redeploying.

[code]

[2020-06-30 02:39] jlewi commented on #708
Looks like the deployment already existed but its not getting deployed.

[code]

[2020-06-30 02:40] jlewi commented on #708
[code]
Do we need more nodes?

[2020-06-30 02:41] jlewi commented on #708
I deleted the rs

[code]

Galley is now deployed.

[code]

[2020-06-30 02:43] jlewi commented on #708
That appears to have fixed things.
Dashboards are accessible again.

[2020-06-30 02:44] #708 closed

[2020-07-02 14:58] jlewi opened #715 "notebook tests need to use a unique subdirectory for each run in the bucket"
The notebook tests work by submitting a job to the KF cluster that runs the notebook using papermill.
The output notebook is then uploaded as html to a GCS bucket.

Right now ever run of the test would end up using the same directory/notebook file.

Example: https://github.com/kubeflow/gcp-blueprints/issues/65#issuecomment-653047831

Looking at the logs the notebook is uploaded to

[code]

This pa

[2020-07-05 18:14] #631 closed

[2020-07-06 08:34] RustamGimadiev commented on #75
oh, any updates? this feature can allow building really cool CI processes around Kubeflow, can I help here?

[2020-07-06 18:29] jlewi commented on #684
@scottilee any plan to work on this?

[2020-07-06 21:37] jlewi opened #721 "Create a custom controller to build docker images if no image built at commit"
Background: We currently have this [code](https://github.com/kubeflow/testing/tree/master/apps-cd) which handles continuous delivery of our applications.

To make this more general I think we want a custom controller that does the following

* Compares the latest source on a branch to images in a registry
* If there is no image built at the current commit on the branch
* Fire of a Tekton pipeline

[2020-07-06 21:37] jlewi commented on #721
related to kubeflow/kubeflow#4789

[2020-07-08 15:44] jlewi opened #723 "Tests failing because out of disk space in NFS"
Playbook
https://github.com/kubeflow/testing/blob/master/playbook/playbook.md#deleting-and-recreating-the-nfs-share

ci team- https://github.com/kubeflow/internal-acls/blob/master/ci-team.members.txt

@Jeffwan @jinchihe @Bobgy Would one of you me willing to take this on?

[2020-07-08 21:16] jlewi commented on #723
I'm working on fixing this.

[2020-07-08 21:30] jlewi commented on #684
@scottilee kubernetes/test-infra#18195 doesn't seem to be working.
Here's a recent test
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/724/kubeflow-testing-presubmit/1280976215678652416/

Nothing actually ran; the pod started but logs are empty.

Looks like no entrypoint is set
https://github.com/kubeflow/testing/blob/master/images/Dockerfile.py3

compare to
https://

[2020-07-09 03:05] Swikar commented on #585
/unassign

[2020-07-09 20:00] #723 closed

[2020-07-10 03:54] jlewi opened #725 "Auto Deployments are failing"
Latest deployment
https://kf-vbp-0709-37c.endpoints.kubeflow-ci-deployment.cloud.goog/

It looks like the deployment script was never able to connect to the GKE master

Logs query

[code]

[code]

[2020-07-10 03:55] jlewi commented on #725
Lets delete the existing cluster to force a redeploy.

[code]

[2020-07-10 15:52] jlewi commented on #684
@scottilee ping?

[2020-07-10 21:00] jlewi commented on #725
Looks like a transient issue

[2020-07-10 21:00] #725 closed

[2020-07-11 05:52] scottilee commented on #684
PR here with some questions: https://github.com/kubeflow/testing/pull/729.

[2020-07-13 14:34] jlewi commented on #684
@scottilee rejoin the google group kubeflow-ci-team so you can build the image.

[2020-07-14 02:19] jlewi commented on #684
@scottilee it looks like some of the refactoring you did broke the image. We should revert it.

In terms of automating the builds what we should do is create a tekton workflow that we run in presubmits and postsubmits. This would verify that the image builds correctly.

The tekton pipeline should be relatively simple; 1 task to run Kaniko to build the image.
Some docs here:
https://github.com/kube

[2020-07-14 15:17] NikeNano opened #733 "Test can't find namespace."
When running the test for the [mpi-operator as notebook test](https://github.com/kubeflow/mpi-operator/pull/244)

I get the following error:

[code]
Which indicates that the namespace dont exists to which I try to submit a namespace resource.

I fetch the namespace in the notebook using:

[code]

should I set the namespace specifically, which namespace should I use in that case?

Thanks for the he

[2020-07-14 20:16] jlewi commented on #684
@scottilee based on the results in #732 it looks like we have some more work today. The tests are failing with

[code]

Looks like a python path issue.

[2020-07-16 06:26] jlewi commented on #684
@scottilee Is this something you will be able to work on? The tests for kubeflow/testing are currently not working because of the error mentioned above.

/cc @pingsutw

[2020-07-16 07:48] jinchihe opened #736 "Grant appropriate IAP permissions to access tekton test UI"
I'm not sure here is right way (or testing repo?) to log this since we need to grant appropriate IAP permissions, but commented as @jlewi

I want to check tekton test ui, but cannot access, how to apply that? Thanks.
[code]

From @jlewi comments:
[code]

[2020-07-16 16:30] scottilee commented on #684
Sorry for the delay. I created a PR to undo it for now until I can figure out how to fix the py3 image: https://github.com/kubernetes/test-infra/pull/18342.

[2020-07-17 08:29] jinchihe opened #735 "Suggest supporting tekton_setup in prow_config.yaml"
Suggest  supporting tekton_setup in prow_config.yaml as below:
<pre>
      <b>tekton_setup: kubeflow/testing/tekton/testing/dummy-setup-run.yaml
      tekton_setup_params:
        - name: utter
          value: bar</b>
      tekton_run: kubeflow/testing/tekton/testing/nb-test-run.yaml
      tekton_params:
        - name: testing-cluster-pattern
          value: 'kf-v1-(?!n\d\d)'
      name: tekton

[2020-07-17 08:29] jinchihe commented on #735
/cc @yuzisun @animeshsingh

[2020-07-17 15:59] jlewi commented on #735
@jinchihe Did you consider just defining tasks and pipelines which are sync'd via git to the cluster? Then your pipelinerun can just contain a reference to your pipeline. This is what we are currently doing.

See: https://github.com/kubeflow/testing/blob/master/docs/tekton.md#kubeflows-catalog-of-reusable-tasks-and-pipelines

[2020-07-17 17:01] jlewi opened #737 "A more sustainable approach to owning and maintaining test/release infrastructure"
We need a more sustainable and scalable approach to owning and maintaining engprod(test & release) infrastructure for kubeflow.

We currently lack a sufficient number of individuals (3-5?) with the willingness and ability (e.g. time) to meet the increasing demands of Kubeflow as it grows.

I think there are a couple of problems we need to address

* How do we drive larger engprod projects that wou

[2020-07-18 05:44] scottilee commented on #684
I was able to successfully build the Dockerfile.py3 image with the PR https://github.com/kubeflow/testing/pull/738. Let me know what you think.

[2020-07-20 02:56] jinchihe commented on #736
@jlewi Sounds great. Thanks!

[2020-07-20 03:11] jinchihe commented on #735
@jlewi we can reused some tasks/pipelines that's already synced in the cluster for some common case. But for other cases, no tasks/pipelines can be referred,  and better to do some preparatory works by `tekton_setup` (my suggestion). For example, KFServing need to setup a cluster to install specified Isito/Knative to test. And another cases, for other repos, Maintainer may enhance CI test by using

[2020-07-20 09:00] jinchihe commented on #735
By the way, if we created a cluster in the `tekton_setup ` (how to check if created new cluster?), the `tekton_run` should use new cluster.

[2020-07-20 09:56] jinchihe opened #739 "Make a reusable tekton tasks for pytest"
We should make a reusable tekton tasks for `pytest`, as below section:
https://github.com/kubeflow/testing/blob/master/docs/tekton.md#kubeflows-catalog-of-reusable-tasks-and-pipelines

[2020-07-28 02:20] jlewi commented on #736
To clarify this is not something I plan on tackling so someone else will need to pick this up in order to make it happen.

[2020-07-28 02:25] jlewi commented on #735
@jinchihe So IIUC you are proposing to add a test setup fixture? So the flow would be

1. Run the tekton_setup workflows (e.g. to create a cluster)
1. Run 1 or more Tekton workflows that run against the cluster created in the previous step
1. Run the teardown?

[2020-07-30 02:19] jinchihe commented on #735
@jlewi Yeah, and the the tekton_setup workflows also may create/apply the `tasks` which is used in step2.

[2020-07-31 05:19] jlewi commented on #735
Did you consider just having a single Tekton pipeline that would run the setup fixture and then the subsequent steps?

I think right now Tekton doesn't have great support for nested pipelines but I think that's coming with custom tasks and probably something we  need for KFP on Tekton.

The teardown is a workaround for the fact that Tekton didn't have a finally statement. Now that finally is suppo

[2020-08-05 07:19] jinchihe opened #742 "CI Tests failing due to no space left on test-data-volume"
CI Tests failing due to no space left on test-data-volume:
[code]

[2020-08-05 07:19] jinchihe commented on #742
I'm going to take this.

/assign

[2020-08-05 08:26] jinchihe commented on #736
@jlewi @scottilee I think we need to address this otherwise Tekton cannot be used for Kubeflow CI tests since PR owners cannot see the pipelines. As my understanding, someone from Google can help to do this, right? any plan? Thanks.

/cc @yuzisun

[2020-08-05 09:06] jinchihe commented on #742
Already triggered clean up... Seems better to create a cron job for this?

[2020-08-05 09:06] #742 closed

[2020-08-05 09:16] jinchihe commented on #735
@jlewi Yeah, we can do all tasks in a single Tekton pipeline for cluster setup, but I want to apply the `pipelineRef` and `taskRef`, I do not want to inject all referred pipeline and tasks into one pipelineRun, that's huge and hard to maintain.  If the referred pipeline and tasks, we need to execute `make hydrate` as docs here? https://github.com/kubeflow/testing/blob/master/docs/tekton.md#kubeflo

[2020-08-05 13:39] jlewi commented on #736
@scottilee Isn't a Googler and I'm not sure how many cycles he has to dedicate to test infrastructure.

The meta issue here is discussed in kubeflow/testing#737  We don't currently have folks dedicated to maintaining CI/CD infrastructure for all of Kubeflow and we need to figure out how to address that.

[2020-08-05 23:38] #593 closed

[2020-08-07 21:30] Jeffwan opened #743 "/mnt/test-data-volume iNode usage is 100%"
Disk actually is not full
[code]

Still the iNode problem, I will delete the NFS and recreate it. Seems

[code]

/cc @jlewi

I will take care of it

[2020-08-07 21:57] Jeffwan commented on #743
[code]

It's coming back. file a PR #744 to improve docs

[2020-08-07 22:04] Jeffwan commented on #743
I will close the issue since it has been solved.

[2020-08-07 22:04] #743 closed

[2020-08-10 02:28] #515 closed

[2020-08-10 02:28] #650 closed

[2020-08-10 14:12] jlewi commented on #735
@jinchihe Why couldn't you continue to use pipelineRef and taskRef?

Your Tekton pipeline could launch other Tekton pipelines however you want. e.g. The first task in you Tekton pipeline could be paramterized with a pipelineRef for the setup task and then just launch that Tekton pipeline and wait for it to finish.

In other words, instead of having run_e2e_workflow.py construct a "DAG" of pipeline

[2020-08-12 13:06] 8bitmp3 commented on #737
+1. Bumping this discussion @jlewi

[2020-08-12 13:31] jlewi commented on #736
@jinchihe As a quick fix I granted groups ci-team@ and ci-viewers@ IAP http accessor role so folks in those google groups should be able to address it.

It looks like @jinchihe you were already a member of ci-team@ and that ci-team@ actually has the permission needed to effect this change.

[2020-08-13 06:26] jinchihe commented on #736
@jlewi Great! Thanks a lot!

[2020-08-13 08:02] jinchihe opened #746 "Upgrade the tekton version in kf-ci-v1"
Seem the tekton is installed in kf-ci-v1, but the version is `v1alpha1`, shall we upgrade the version to `v1beta1`?

[2020-08-13 08:03] jinchihe commented on #746
@jlewi I did not get any tekton info under https://github.com/kubeflow/testing/tree/master/test-infra/kf-ci-v1
Is that installed manually? May I upgrade tekton to v1beta1? thanks.

[2020-08-14 14:56] jlewi commented on #746
@jinchihe Yeah I just installed it manuallykubeflow/testing/issues/424 is the issue although there isn't much info there.

Upgrading Tekton on kf-ci-v1 is one option but I'd like to propose a slightly more expensive but better option.

Right now we have two CI clusters

* kubeflow-testing
* kubeflow-ci-v1

It would be beneficial to consolidate down to a single cluster. It probably makes sense to s

[2020-08-15 05:52] Bobgy commented on #746
The plan sounds good to me

[2020-08-17 00:26] Bobgy commented on #554
/lifecycle frozen

[2020-08-17 21:02] Jeffwan opened #748 "Add some supports to make testing infra run on AWS"
AWS plans to add some periodical tests for workshop https://github.com/aws-samples/eks-kubeflow-workshop. I think it makes more sense to setup this testing infra on AWS. I would like to leverage existing `kubeflow/testing` to test the repo and current blocking issue is some of the logics are GCP only.

What we plan to do is still reusing the repo, add AWS utils, like `upload_to_s3`, `setup_iam_for

[2020-08-18 13:46] jlewi commented on #748
I think the setting up additional test infra on AWS is a great idea.
Putting AWS related testing tools in kubeflow/testing makes sense to me.

[2020-08-18 15:10] swiftdiaries commented on #737
I have a suggestion on this. I think there's 3 levels of testing in Kubeflow.
- Native tests (unit and integration tests that run natively on a machine)
- Application tests (KFServing, Jupyter-Web-App etc...)
- E2E tests (platform level tests)

The Native tests and Application tests probably need to be nimble and fast. I was thinking we could use GitHub Actions for this. This would kind of free-up

[2020-08-18 15:53] jlewi commented on #737
@swiftdiaries With GitHub actions how are they administered? Would individual projects be able to administer GitHub actions for themselves or would there be a maintenance cost for GitHub org admins?

[2020-08-18 15:54] swiftdiaries commented on #737
They can manage it themselves at the repo level

[2020-08-20 16:57] Jeffwan opened #749 "Insufficient regional quota to satisfy request and katib job is blocked."
Prow status: https://prow.k8s.io/?repo=kubeflow%2Fkatib

[code]

Reported by @andreyvelich

[2020-08-20 16:59] Jeffwan commented on #749
Seems CPU quota is almost used out.
[code]

[2020-08-20 17:17] andreyvelich commented on #749
@Jeffwan Thank you for creating the issue.
Can we check which pods are currently running at cluster and use CPUs?

[2020-08-20 17:17] Jeffwan commented on #749
I kick off an one off job to clean up deployment to release some resources.

[2020-08-20 17:20] andreyvelich commented on #749
I will try to re-run tests.

[2020-08-20 17:22] Jeffwan commented on #749
@andreyvelich

There're few clusters under this project and I am trying to clean up kubeflow-ci cluster first. All workflows are running there. it doesn't seem we have a  groupby <cluster, cpu> utils. Once the clean up is done, I can check the total CPU usage at the project level again.

[2020-08-20 17:35] Jeffwan commented on #749
[code]

I think these are leaked resources, I will delete them as well

[code]

[2020-08-20 17:41] andreyvelich commented on #749
Do we have any ideas how this pod was deployed?
It was running for 512d which is strange.

[2020-08-20 18:04] Jeffwan commented on #749
Not sure. it's long time ago. :D.  `kubeflow-testing` doesn't have resource leaking. In total, it uses less than 100 CPUs.(only 7 nodes, I sum all the requests), Must be other clusters, Need some time to figure it out

[code]

[2020-08-20 18:17] Jeffwan commented on #749
Em. Seems `kfc-ci-v1`, `fairing-ci`, `kubeflow-testing` usage is reasonable.  @jinchihe @jlewi Any other clues?

[2020-08-20 21:42] yanniszark commented on #737
@swiftdiaries I agree that Github Actions are a great asset and much easier to figure out and get started than the current Prow setup. It would be a great option to enable application developers to quickly develop testing pipelines for their code.
Plus, developers can benefit from a multitude of community-developed actions.

[2020-08-20 21:52] Jeffwan commented on #737
I am not sure if all applications owners like to setup testing pipelines by themselves. I assume some engineers them just want to write test cases and roll out to a cluster which can quickly pick tests up. We probably need to cover this cases as well.

[2020-08-21 02:22] thesuperzapper commented on #737
+1 on the GitHub actions for everything but the end-to-end testing/CICD.

[2020-08-25 01:43] gaocegege commented on #749
SGTM.

[2020-08-25 09:43] Bobgy opened #750 "GC old tekton resources periodically"
Discovered in https://github.com/kubeflow/gcp-blueprints/issues/128.

Currently all triggered `PipelineRun` and other tekton resources accumulate for ever.
We need to GC tekton resources.

Tekton community has an issue tektoncd/experimental#479 tracking this.
But there's no ready-to-use solution yet.

Before sth comes out of above issue, we should have at least a bash script that cleans up these r

[2020-08-25 09:44] Bobgy commented on #750
/cc @jlewi

[2020-08-25 10:52] Bobgy commented on #750
I wrote a very simple bash script for this purpose:
[code]

[2020-08-25 12:18] Bobgy commented on #750
After deleting to ~100 pipelineruns left in the cluster, https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/auto-deploy/pipelineruns can successfully load pipelineruns now.

[2020-08-25 13:26] jlewi commented on #750
@Bobgy FYI this is the script we use to cleanup argo workflows.
https://github.com/kubeflow/testing/blob/d4394eaff73af5645d156412f1de374aba31bf33/py/kubeflow/testing/cleanup_ci.py#L112

[2020-08-25 17:49] Jeffwan opened #751 "Create fsnotify watcher: too many open files"
[code]

Reported by @yuzisun

[2020-08-25 17:50] Jeffwan commented on #751
File descriptors on the target node have been exhausted. The better way to handle this is to ssh to node and kill the process take many descriptors. The other easier way is to remove node from cluster and I think GCP node group will add one more into cluster.

This should not be reproduced all the time. Once the new test is scheduled on the other node, it should pass.

[2020-08-25 17:55] Jeffwan commented on #751
container should inherit host settings. I think ci-team may not have node permissions, check sysctl value, we get following values

[code]

[2020-08-25 18:39] yuzisun commented on #751
@Jeffwan It is possible that some of my previous change in PR https://github.com/kubeflow/kfserving/pull/1047 caused the test volume issue, not sure, but now I try other existing KFServing PRs it got the same issue.

[2020-08-25 19:18] Jeffwan commented on #751
Deleting above long running `kfserving-presubmit` test helps. Seem that's the processes having the issue. Thanks for the clues. @yuzisun. I will resolve this issue

[2020-08-25 19:18] #751 closed

[2020-08-25 20:15] yuzisun commented on #751
Thanks @Jeffwan for the help!

[2020-08-26 03:19] jlewi commented on #737
Related issue buildcop: kubeflow/testing#658

[2020-08-26 17:24] Jeffwan commented on #749
I filed a PR for training projects. https://github.com/kubeflow/community-infra/pull/13

[2020-08-26 22:33] jlewi commented on #737
@kubeflow/automl-leads @kubeflow/kfserving-owners @kubeflow/training-leads thoughts?

[2020-08-27 02:18] gaocegege commented on #737
cc @kubeflow/wg-automl-leads @kubeflow/wg-training-leads

Same idea with @Jeffwan

[2020-08-27 02:54] jlewi commented on #749
As I mentioned in yesterdays community meeting another remediation would be to revert the IAM policy changes in
https://github.com/kubeflow/testing/issues/749#issuecomment-678314439

To grant an extension to the existing projects e.g. katib and kfserving so that they can continue to create clusters in kubeflow-ci until they have successfully setup and migrated to wg specific projects.

ci-team@kub

[2020-08-27 03:58] animeshsingh commented on #749
@jlewi you have a view on who all with adderesses @google.com are active here?
https://github.com/kubeflow/internal-acls/blob/master/ci-team.members.txt

Additionally I don't recognize who else is active from these names

kam.d.kasravi@intel.com [Don't think he is active anymore]
hnalla@redhat.com [Who?]
scottleehello@gmail.com [Who?]

[2020-08-27 13:57] jlewi commented on #749
@animeshsingh you should be able to use history to see who committed the changes
@scottilee  = scottleehello@
@harshad16 = harshad@

[2020-08-28 18:59] jlewi commented on #658
It looks like Tekton has successfully setup a buildcop.

[Tekton Proposal](https://docs.google.com/document/d/1QJV0z2bMXdz_BZOkBwfxIP1BiktUb8c1lcifwqxF5wg/edit#heading=h.6fsxjbh35nu5)

[Tool to automate buildcop rotation](https://github.com/tektoncd/plumbing/tree/master/bots/buildbot)

Looks like granting of appropriate permissions is still manual.

[2020-09-01 13:04] jlewi opened #752 "Prevent tests from creating clusters and other resources in project kubeflow-ci after 09/01"
Follow on to #749.  Some tests are still dynamically provisioning GCP resources (e.g. clusters) inside project kubeflow-ci. This can cause problems because an ill-behaved test can end up eating all the quota.

In #749 we disabled the ability of tests to create GKE clusters (via IAM permissions) in order to flush out which projects were still relying on this functionality.  It looks like the follow

[2020-09-01 14:55] jinchihe opened #753 "gcloud build failed due to network issue"
Recently KFServing CI build image aways failed due to network issue. Guess that's caused by cluster or `gcloud build` network problem?

[code]

[2020-09-01 14:56] jinchihe commented on #753
@jlewi do you know if there any changes about network of cluster or `gcloud build`? Thanks.

[2020-09-01 14:56] jinchihe commented on #753
/cc @yuzisun

[2020-09-01 15:27] jlewi commented on #737
Related issue to move Kubeflow to the Google instance off prow and stop using Kubernetes.
https://github.com/kubernetes/test-infra/issues/14343

[2020-09-01 17:32] jlewi opened #754 "Switch to using Zonal rather than Global DNS for internal usage"
See:
https://cloud.google.com/compute/docs/internal-dns#global-dns

Looks like Global DNS was the default for projects that enabled compute API before September 30 2018. I think kubeflow-ci and some of our other projects might fit into that category.

I think we can switch to zonal by setting project metadata and setting the project metadata variable
VmsDnsSetting to ZonalPreferred.
More info here

[2020-09-01 17:35] jlewi commented on #753
Could be an IAM issue
https://github.com/kubeflow/testing/issues/749#issuecomment-678314439

I think you gcloud build might require roles/logging.viewer if its tailing the logs which we might have removed per above issue and might need to be added back.

[2020-09-02 02:00] jinchihe commented on #753
@jlewi Thanks. I think that's not related with IAM issue, since KFServing has 11 image build components in CI, most of building can be succeed, but there are random few building component will be failed due to network issue.

[2020-09-02 13:02] andreyvelich commented on #693
@jlewi Can we setup GitOps for existing `kubeflow-releasing` GCP project?
Or Config Connector will not allow update existing `kubeflow-releasing` project with appropriate IAM?

[2020-09-03 03:36] jlewi commented on #693
@andreyvelich its technically possible; would need to think through the permission model and see if it makes sense.

[2020-09-03 09:32] mnmami commented on #725
Same happened to me, the cluster was all of the sudden irresponsible (GCP). So had to delete and restart.

[2020-09-03 13:54] andreyvelich commented on #693
Maybe we can start with giving owner/editor permission for this group: https://github.com/kubeflow/internal-acls/blob/master/release-team.members.txt ?
So they can get access to the `kubeflow-releasing` project.

If anyone wants to join release-team, just submit the PR with additional `IAMPolicyMember` with appropriate role.

[2020-09-14 13:29] jlewi commented on #693
@andreyvelich The release team is already an editor of kubeflow-releasing project. See attached
[iam-policy.txt](https://github.com/kubeflow/testing/files/5218705/iam-policy.txt)

[2020-09-14 14:42] andreyvelich commented on #693
@jlewi Yes, but as mentioned before do we want to setup [GitOps project](https://github.com/kubeflow/community-infra/tree/master/prod/namespaces) for them, at least ?

Later, we can add more IAM permissions without editing [release-team.members.txt](https://github.com/kubeflow/internal-acls/blob/master/release-team.members.txt).

[2020-09-15 15:15] jlewi commented on #693
@andreyvelich Lets back up, we need to figure out who is going to own and maintain this infrastructure; i.e. kubeflow/testing#737

The OWNERs can then figure out

* Where we are
* Where we need to go
* How we get from here to there

[2020-09-17 04:38] #581 closed

[2020-09-22 05:18] Jeffwan commented on #737
I add a doc for community member to review.  This provides an alternative option to run e2e tests on AWS

http://bit.ly/kubeflow-test-infra-aws

[2020-09-26 03:41] #600 closed

[2020-09-26 03:41] #613 closed

[2020-09-27 18:26] #685 closed

[2020-09-28 03:41] #701 closed

[2020-10-01 06:33] #702 closed

[2020-10-01 21:04] PatrickXYS commented on #748
Created another issue to track aws-kf-ci-bot account's permission settings and webhook management

https://github.com/kubeflow/internal-acls/issues/348

[2020-10-10 17:26] PatrickXYS commented on #748
/reopen

Not yet solved all the blocking issue

[2020-10-13 13:12] jlewi opened #758 "kubeflow-ci-deployment is out of quota"
kubeflow-ci-deployment is out of quota.

Looks like there are a lot of old clusters.

[code]
Why  are we still creating kfctl clusters in kubeflow-ci-deployment

/cc @Bobgy

[2020-10-13 13:14] jlewi commented on #758
I'm deleting all the kfctl clusters though I suspect they will just get recreated; I suspect the reason that aren't any newer ones is because creation failed because of quota.

[2020-10-14 06:38] Bobgy commented on #758
Thank you @jlewi for investigating this!

KFP built a project cleaner cron job to clean up all resources that could leak from tests: https://github.com/kubeflow/pipelines/tree/master/test/tools/project-cleaner.
Probably we can make this kubeflow common?

It's configured to run in https://github.com/kubernetes/test-infra/blob/84f02153b75e52f018470c9d6b4751210684671a/config/jobs/kubeflow/kubeflow-pe

[2020-10-15 04:28] #721 closed

[2020-10-15 04:28] #715 closed

[2020-10-15 04:28] #585 closed

[2020-10-15 12:26] jlewi commented on #758
I'm no seeing anymore `kfctl` clusters.

[code]

I'm not sure where the kfctl clusters would be coming from; i.e. which tests would still be using kfctl to deploy.

I will close this for now since the kfctl clusters are gone

[2020-10-15 12:26] #758 closed

[2020-10-18 04:20] Jeffwan opened #760 "Pip link to wrong python version"
Working on the e2e test cases.

I notice there are two python version in the test image.
[code]

Checking Dockerfile, there's an issue on the python and pip installation.

https://github.com/kubeflow/testing/blob/db508d70b7181a6f53afb7ed8d3de469f27abaab/images/Dockerfile.py3#L7-L9

https://github.com/kubeflow/testing/blob/db508d70b7181a6f53afb7ed8d3de469f27abaab/images/Dockerfile.py3.aws#L7-L9

`a

[2020-10-20 16:08] #760 closed

[2020-10-24 20:44] #684 closed

[2020-10-26 22:33] PatrickXYS opened #762 "Tekton CD Project Questions"
Per Tekton CD Project, it's developed under GCP Project `kf-releasing`, build&publish image to GCR registry `kubeflow-images-public`.

So my question is, is this possible that Google will expire the IAM permission to the GCR registry for Tekton CD in the future as we did for [katib](https://github.com/kubeflow/katib/issues/1332)

If so, there will be a release issue for training WG + manifests + k

[2020-10-27 12:27] jlewi commented on #762
Yes. Each wg needs to take ownership of its release process and artifacts. This means each WG should spin up its own release infrastructure as well as any infrastructure to publish release artifact (e.g. docker registry).

[2020-10-27 12:36] jlewi commented on #762
kubeflow/community#433 - For notebooks

I also created a Kanban board to start tracking this.
https://github.com/orgs/kubeflow/projects/42?add_cards_query=is%3Aopen

[2020-10-27 12:36] #762 closed

[2020-10-29 23:31] jlewi commented on #750
#767 has a very simple program. The program can be used with arbitrary K8s resources and can delete things based on minimum age.

We need to turn that into a regularly running job with a suitable minimum age (e.g. 72 hours).

We can use the same pattern as we do for groups sync:
https://github.com/kubeflow/internal-acls/tree/master/google_groups/manifests

* Create a deployment that runs it period

[2020-10-29 23:49] Bobgy commented on #750
@jlewi I think it will be easier to debug if the tool is called from a periodic prow job, that makes maintenance easier -- finding logs, health status, change commands, etc

[2020-10-30 14:47] jlewi opened #768 "Get Rid of Dependency On NFS - Argo -> Tekton"
The use of NFS to pass artifacts between steps is a consistent pain point in our tests because the NFS share is constantly filling up.

In the Argo workflows we were using the tests to pass artifacts to a step that would then upload them.

With our Tekton workflows each task uploads its own artifacts so we don't need to use NFS.

Rather than continue to deal with NFS we should finish migrating tes

[2020-10-30 14:58] jlewi opened #769 "Convert Python unittest Argo Workflow to Tekton"
Per #768 we need to get rid of the dependency on NFS by converting our Argo workflow for running python unittests to using Tekton.

The Argo Workflow is defined here.
https://github.com/kubeflow/testing/blob/4e02994179cfbdc3f3dd93ffb7c6ded6c9aad11c/py/kubeflow/testing/ci/kf_unittests.py#L192

We can model our Tekton pipeline off of our go unittests pipeline
https://github.com/kubeflow/testing/blob

[2020-10-30 15:03] jlewi commented on #768
Per: https://github.com/kubeflow/testing/pull/759#issuecomment-719426576

It looks like the disk is full. Rather than continuing to invest in a patch fix (e.g. deleting and recreating the NFS share). I think this is a good opportunity to create some urgency around finding a more permanent fix by pushing people to migrate to Tekton and eliminate the dependency on NFS (e.g. #769).

To create that ur

[2020-10-30 18:31] subodh101 commented on #769
@PatrickXYS I think I would be able to do it.
Also, I have started working on it in case of double work. Sorry for not assigning earlier.

[2020-10-30 18:32] PatrickXYS commented on #769
@subodh101 Sounds good, thanks for helping!

[2020-11-04 00:19] subodh101 opened #772 "Improve over pylint settings"
What?
A. Currently, there is a big list of disabling identifiers in the lint rcfile.
https://github.com/kubeflow/testing/blob/master/.pylintrc#L64
The main idea is to remove disable identifiers required for the kubeflow testing repository.

B. Set `max-module-lines` to `1000` after refactoring https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/util.py. Currently, the module has 10

[2020-11-04 00:22] subodh101 commented on #772
Ref.: https://github.com/kubeflow/testing/pull/771

[2020-11-04 00:24] subodh101 commented on #772
/assign @subodh101

[2020-11-04 00:41] subodh101 opened #773 "Clean up resources related to NFS volume"
What?
https://github.com/kubeflow/testing/pull/770 removes NFS.
Now our logs are getting dumped in the gcs instead of pvc.

How?
Delete most of related/dead code as per the search https://github.com/kubeflow/testing/search?q=nfs

[2020-11-04 16:09] PatrickXYS opened #774 "[P0] Previous PR breaks testing mechanism"
@subodh101

Given your previous PR, you deleted [these files](https://github.com/kubeflow/testing/pull/771/files?file-filters%5B%5D=.py#diff-bbad93762216c61724e8720526f5263f2fe390737d1fec2a70736d7e19fd9afbL334-L401)

[code]

This is used for most of the kubeflow WG, they haven't yet migrated to Tekton, this caused several test failure across different repos.

E.g, https://github.com/kubeflow/kubef

[2020-11-04 18:07] jlewi commented on #774
@PatrickXYS These are ksonnet tests. ksonnet was deprecated over a year ago. Which repos are still depending on ksonnet?

[2020-11-04 18:09] jlewi commented on #774
@PatrickXYS If folks need a temporary work around they can just remove the tests from the prow_config
https://github.com/kubeflow/kubeflow/blob/194a43f906e9ad7bdf65342f2a19c6141a24ec68/prow_config.yaml#L8

[2020-11-04 18:12] Jeffwan commented on #769
@subodh101 @PatrickXYS

When you help on the migration, please try not to delete Argo related codes unless you are 100% sure it's not being used.
https://github.com/kubeflow/testing/issues/774

We can have some clean up later once 1.2 get released. We have a few PRs blocked this morning

[2020-11-04 18:15] PatrickXYS commented on #774
@jlewi These are some data points I can fetch:

[Katib](https://github.com/kubeflow/katib/blob/master/prow_config.yaml)
[kfctl](https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml)
[manifests](https://github.com/kubeflow/manifests/blob/master/prow_config.yaml)
[kubeflow](https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml)
More to come...

The easier way to fix it shoul

[2020-11-04 18:51] Jeffwan commented on #774
It would be better to add testing code back. Removing test and pass the PR may brings dirty changes.

[2020-11-04 19:00] jlewi commented on #774
Reverting seems good.

[2020-11-04 19:49] jlewi commented on #769
#774

The deleted code was ksonnet code. I was the one who said to delete it.

Deleting the ksonnet workflows is fair game IMO. This is the risk WGs assume per #737 by relying on infra that is being maintained 20%.

[2020-11-04 20:28] #774 closed

[2020-11-05 00:03] subodh101 commented on #774
@PatrickXYS Thank you for the fix.

@Jeffwan I will add the test code back.

[2020-11-05 10:08] subodh101 commented on #769
@Jeffwan Apologies, work got delayed.

The main issue of NFS out of space is resolved.

https://github.com/kubeflow/testing/pull/775#issuecomment-722007007 this can be resolved later.
What essential we can do is:
- Get rid of copy-artifacts task as it is parsing xml and uploading results to gcs. However, those logs are visible in pods (i.e. gcp logging in my case).
- Also, for faster development,

[2020-11-05 13:50] jlewi commented on #769
@subodh101 Looks like I missed a minor thing in my review that I think we should fix before closing this issue.

The PipelienRun shouldn't embed the pipeline-spec [here](https://github.com/kubeflow/testing/blob/b2b4b2f06ce48b3f18cf21bbc47b42efa9913a12/tekton/runs/py-unittests-run.yaml#L23)

    * Instead we should define a pipeline in https://github.com/kubeflow/testing/tree/master/tekton/template

[2020-11-05 14:19] jlewi commented on #769
@subodh101 I noticed another issue. The copy-artifacts step needs to set the python path to

[code]
as here
https://github.com/kubeflow/testing/blob/b2b4b2f06ce48b3f18cf21bbc47b42efa9913a12/tekton/templates/tasks/go-tests.yaml#L71

We want to use the version of copy-artifacts baked into the docker image since not all tests will be using kubeflow/testing and checking out that repo.

[2020-11-05 14:32] subodh101 commented on #769
Understood. Thanks!
Will make the changes!👍

[2020-11-05 18:27] Jeffwan commented on #769
Agree. Let's remove all of them a little bit late. Current workflow fetches kubeflow/testing master changes which is not a stable solution. This needs some improvement as well. We already use testing image, no need to download the code separately.

[2020-11-05 22:58] PatrickXYS opened #779 "Kubernetes Version Upgrade"
For ingress k8s object, we use `NetworkingV1betaAPI` to check status [here](https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/util.py#L474)

[code]
But this is supported in k8s python-client [v10.0.0.a1](https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v1000a1), our k8s client is `v9.0` [here](https://github.com/kubeflow/testing/blob/master/images/Dockerfile.p

[2020-11-05 23:08] PatrickXYS commented on #779
/cc @Jeffwan

[2020-11-06 02:44] Jeffwan commented on #779
@PatrickXYS Any concerns to upgrade k8s python client?

[2020-11-06 13:56] jlewi commented on #779
It might be worth seeing if we can get rid of run_e2e_workflow.py all together.
Prow is adding:

* native support for Tekton.
* Defining Jobs inside the repo itself.

It would be great to rely on that and get rid of run_e2e_workflow.py

I would also suggest looking for ways to replace python with go; it will be more maintanable long term.

We have two CI clusters

* kubeflow-testing
   * This is w

[2020-11-06 17:13] PatrickXYS commented on #779
@Jeffwan It makes sense, I'll go ahead to upgrade and build new image and run tests there.

[2020-11-06 17:19] PatrickXYS commented on #779
That would be great, so I'll keep an eye on Prow's feature support and help on migration.

I think we'll benefit in long-term. But this do need some discussions with community, because some of the repos are relying on our python script.

If prow in the future will add native support for tekton, I'm happy to do it in one single cluster afterwards.

[2020-11-06 23:48] PatrickXYS opened #784 "Optional-Test-Infra Beta Stage Development"
Below list is the development list of AWS CI beta stage.

1. Migrate from ksonnet-based Argo Workflow to Tekton
2. To migrate to Tekton, we need to install / configure Tekton on Shared Test-infra
3. Provide uniform scripts and enforce WG to use scripts, sacrifice some flexibility to obtain better availability / management.
4. Research release infra, which is CD pipeline.
5. Divide test-infra into

[2020-11-06 23:48] PatrickXYS opened #785 "Optional-Test-Infra beta development list"
Below list is the development list of AWS CI beta stage.

1.~~Migrate from ksonnet-based Argo Workflow to Tekton https://github.com/kubeflow/testing/issues/786~~
   - To migrate to Tekton, we need to install / configure Tekton on Shared Test-infra
3. ~~Provide uniform scripts and enforce WG to use scripts, sacrifice some flexibility to obtain better availability / management. https://github.com/ku

[2020-11-06 23:55] PatrickXYS opened #786 "Migrate from Argo to Tekton"
Before we do any engineering work here, what's the benefits of migration? Given we deprecated ksonnet, what's the benefits from migrating python-based Argo to Tekton?

1. Reusability
2. Prow add native Tekton support (Status? Issue link?) All I can find is https://github.com/kubernetes/test-infra/tree/master/prow/pipeline. Looks like prow is not actively developing this feature
3. Get rid of NFS

[2020-11-06 23:56] PatrickXYS commented on #786
If we do want to migrate, we need to install and configure Tekton on AWS CI

[2020-11-07 00:00] PatrickXYS opened #787 "Common Scripts for WG on AWS CI"
To provide better stability, on AWS CI, we'll enforce WG folks to use common script to create / delete AWS resources, e.g, creating + deleting EKS cluster.

[2020-11-07 00:06] PatrickXYS opened #788 "Research release infra CD"
Given we have feature requests from WG folks, asking for support on release infra.

We will be researching about common solution for release infra on AWS CI.

**Build Tool:**
1. Bash: Simplest but no-reusability
2. Kaniko: good solution for CD
3. Tekton: same as kaniko, but can kick off PR to update image after push new image.

**Registry:**
1. DockerHub: throttling issue: 100 pulls / hour
2. GCR:

[2020-11-07 00:10] PatrickXYS opened #789 "Research about Development and Production environment"
Given the fact that we're using one environment to serve as production env and development env, which is not maintainable.

We need to consider divide into two environments, all the new changes need to be tested on development env, then push to prod env. We'd better enforce WG follow the same way, otherwise they need to find another solution.

It will slow down the development speed but provide be

[2020-11-07 00:16] PatrickXYS opened #790 "Establish Kubeflow / Kubernetes Compatiability Matrix"
Currently, we have matrix which are reported by user, there's no specific tests to confirm.

https://www.kubeflow.org/docs/started/k8s/overview/

![image](https://user-images.githubusercontent.com/23116624/98425787-583d9900-204b-11eb-86c0-7c4bae048eed.png)

We need to set up periodic tests, which test against different versions of kubernetes and kubeflow.

[2020-11-07 00:18] PatrickXYS opened #791 "Expose AWS CI configuration"
Currently all the configurations on Prow and Argo are not yet exposed, WG folks have no way to submit PR to change configurations.

We need to follow the same way that Kubernetes/test-infra does, utilize GitOps tool to add support

[2020-11-07 01:54] PatrickXYS commented on #779
/close

[2020-11-07 01:54] #779 closed

[2020-11-07 07:55] subodh101 commented on #769
Current python unittests pipeline is specific to kubeflow/testing repository only.
I will make it more like `environment as code` such that all the repositories using e2e can use it with just the parameter change in their pipelinerun.
It may take time to do clean work.

[2020-11-07 09:34] subodh101 commented on #769
I would like to use just the py-lint step and not the copy-artifacts.

Under working directory testing/py/
[code]

If we specify fail-under then the program exits with error as mentioned in the docs.

[code]

The fail-under parameter is only available after version 2.5.0
I would like to create a new image with pylint ==2.6.0 version. Current version is very old.
https://github.com/kubeflow/testing

[2020-11-07 20:29] jlewi commented on #769
Why do you want to get rid of the copy-artifacts step? The copy-artifacts step uploads the junit.xml files to GCS which is how test failures are reported and show up in spyglass

This is the spyglass uI
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/792/kubeflow-testing-presubmit/1325123085677891584/

The junit files cause test results to be reported in the JUnit tab

[2020-11-07 22:06] Bobgy opened #793 "GCP: cleanup_ci.py failing at cron"
@Bobgy We should have a cron job.
https://github.com/kubeflow/testing/blob/master/test-infra/cleanup/cleanup-ci-cronjob.yaml

I think when we checked on Thursday the cron job was in an error state saying it had missed too many executions.

_Originally posted by @jlewi in https://github.com/kubeflow/testing/pull/777#issuecomment-723493750_

[2020-11-07 22:24] Bobgy commented on #785
Thanks for driving this!

[2020-11-08 02:23] #654 closed

[2020-11-08 02:23] #605 closed

[2020-11-08 06:44] subodh101 commented on #769
I thought it is just an extra step.

We are deviating from what we want.
- pylint -> success/failure

Current situation
- pylint via pytest -> xml sent to gcs -> upload from gcs -> parse ->  success/failure

For the logs to show up.
I am thinking of showing it on prow by making changes in https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/run_e2e_workflow.py such that it not only

[2020-11-08 06:54] subodh101 commented on #769
Direct logs of pylint would be much easier to understand because that’s how a user sees them in case of locally running pylint. It also simplifies our process as well as we can just use a light weight image `python:3.9-slim` with latest pylint install in it.

[2020-11-09 03:31] Bobgy commented on #793
It's running in kf-ci-v1 cluster's auto-deploy namespace.

[2020-11-09 04:03] Bobgy commented on #793
The error message

[2020-11-09 04:04] Bobgy commented on #793
Upstream issue: https://github.com/kubernetes/kubernetes/issues/42649

[2020-11-09 04:28] Bobgy commented on #793
In fact, I should probably set up cleanup blueprints script: https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_blueprints.py

[2020-11-09 08:15] Bobgy commented on #793
I fixed the cleanup_blueprints.py script, but the cnrm resources are still stuck at deletion. I tried deleting them manually via `kubectl delete containercluster XXX` and the resource stucks there. Looks like there's something wrong with the cnrm installation.

[2020-11-10 08:34] Bobgy commented on #793
Fixed by https://github.com/kubeflow/testing/pull/805

[2020-11-10 08:34] #793 closed

[2020-11-11 20:35] PatrickXYS commented on #788
/label help-wanted

[2020-11-12 17:59] PatrickXYS opened #807 "Tekton Pipeline Issue"
In this [PR](https://github.com/kubeflow/testing/pull/806), I discovered this tekton issue
[code]

@subodh101 Can you help on this? I'm not sure if any of tekton code change caused the issue.

Given this situation, I'll soon jump in and trying to help us avoid being block.

[2020-11-12 18:11] subodh101 commented on #807
Yes, you are right. It is not because of any tekton code change.
A similar issue happened when pipelinerun was not able to schedule its job.
https://github.com/kubeflow/gcp-blueprints/issues/143

[2020-11-12 18:19] PatrickXYS commented on #807
Seems like we have to get google folks to access into cluster to check what happened

/cc @Bobgy

[2020-11-12 18:20] PatrickXYS commented on #807
@subodh101 Can you help lgtm on this PR? https://github.com/kubeflow/kfctl/pull/443

I need to disable the status check to avoid periodic tests failure

[2020-11-12 18:37] PatrickXYS commented on #807
Weird, the tests passed again, I will be thinking about Tekton Pipeline and ArgoCD afterwards.

Looks like this issue happened frequently, which is not desirable

[2020-11-12 18:38] PatrickXYS commented on #807
/close

[2020-11-12 18:38] #807 closed

[2020-11-15 22:58] Bobgy commented on #554
Let's keep

[2020-11-16 06:44] Bobgy opened #811 "11-16: presubmit failing with KeyError: 'status'"
Traceback (most recent call last):
  File "/src/kubeflow/testing/py/kubeflow/testing/tekton_client.py", line 41, in log_status
    workflow["status"]["conditions"][0]["reason"])
KeyError: 'status'

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_gcp-blueprints/162/kubeflow-gcp-blueprints-presubmit/1328156303448608768/

in https://github.com/kubeflow/gcp-blueprints/pull/162

[2020-11-16 06:44] Bobgy commented on #811
/cc @PatrickXYS
looks like this is related to change in kubeflow/testing

[2020-11-16 15:10] Bobgy commented on #811
The error seems to be temporary https://github.com/kubeflow/gcp-blueprints/pull/162

[2020-11-16 15:10] #811 closed

[2020-11-16 23:04] Jeffwan opened #812 "release system is down?"
Seems CD system didn't pick changes from repos kubeflow/kubeflow for a while.

See centraldashboard latest image tag was built this Aug.
https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/centraldashboard?gcrImageListsize=30

Change list
https://github.com/kubeflow/kubeflow/commits/master/components/centraldashboard

I think https://github.com/kubeflow/kubeflow/commit/8d36a3

[2020-11-16 23:05] Jeffwan commented on #812
/cc @thesuperzapper @Bobgy @jlewi @PatrickXYS @kubeflow/release-team

[2020-11-17 03:56] Bobgy commented on #812
I'll take a look. Please take your time blocked on the issue thinking about each WG's own release infra, because 20% contributions will always mean not enough bandwidth to maintain this stuff.

[2020-11-17 03:58] Bobgy commented on #812
Haven't looked through, here's documentation for the release infra and it means postsubmit tests taking a key role in this.
So I wonder if the broken release system related to test infra changes: https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

/cc @PatrickXYS

[2020-11-17 04:27] PatrickXYS commented on #812
I'm not familiar with release infra which is set up previously, but I can take a look to see if we can root-cause.

We have release-infra story alongside with test-infra, they're on our roadmap, will be discussing with WGs very soon

[2020-11-17 06:37] Jeffwan commented on #812
@Bobgy No problem. just a heads up. @thesuperzapper will raise this in community meeting. We can have some discussion later. Asking WG own release infra makes sense as well, however, we might miss some repos. Let's see. If AWS can sponsor the release infra, that is great as well

[2020-11-17 08:52] Bobgy commented on #750
I created https://github.com/kubeflow/testing/pull/813 to dockerize the tool @jlewi built, next step would be adding a cronjob to run this in kf-releasing cluster.

[2020-11-17 09:27] Bobgy commented on #812
I suspect this is related https://github.com/kubeflow/testing/issues/750, so I'm working on https://github.com/kubeflow/testing/pull/813.

It will take a while until I can clean up all the old tekton pipelineruns from the kf-releasing cluster.

[2020-11-17 12:54] jlewi commented on #812
As @Bobgy says at this point the WG leads should be responsible for building and releasing their own images.

[2020-11-18 04:08] Jeffwan commented on #812
1.2 release doesn't have dependency on this issue. release infra is a separate story. As we discussed, this should be owned by  each WG. For user who like to work on this part for your own release infra, check https://github.com/kubeflow/testing/tree/master/apps-cd

[2020-11-18 04:08] #812 closed

[2020-11-19 11:57] #750 closed

[2020-11-20 15:17] jlewi commented on #769
@subodh101 sorry for the slow reply.  I'm not sure how what you are proposing would play well with prow.

Some background:

* Our prow jobs can launch multiple Tekton workflows
* Each Tekton workflow can run multiple tests (e.g. pylint, and pyunittest)
* pyunittest can in turn consist of multiple tests.

So when a user looks at SpyGlass [example](http://8069b97e-prow-prow-6530-1439048706.us-west-2

[2020-11-23 21:33] PatrickXYS commented on #748
Close in favor of Optional-Test-infra working properly.

/close

[2020-11-23 21:33] #748 closed

[2020-11-23 21:35] PatrickXYS commented on #790
Close in favor of https://master.kubeflow.org/docs/aws/deploy/install-kubeflow/#compatibility

/close

[2020-11-23 21:35] #790 closed

[2020-11-24 18:50] PatrickXYS commented on #786
https://docs.google.com/document/d/1JHPpPwTZq-ae3Gv5WvGBi9wVkoDanA7b1tcsaWX4ngQ/edit#

Proposal for Tekton on Optional-Test-Infra

[2020-11-25 19:51] PatrickXYS opened #823 "Add Exit-Handler for Tekton PipelineRun"
We have started POC work for Tekton support on optional-test-infra, meanwhile, I found https://github.com/kubeflow/testing/tree/master/tekton#how-to-write-a-pipelinerun mentions:

[code]

Tekton introduced `Finally` feature for exit-handler of Pipeline, it's a good opportunity for us to improve failure-handling in Tekton tests. https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#add

[2020-11-25 19:51] PatrickXYS commented on #823
Related to https://github.com/kubeflow/testing/issues/786

[2020-11-27 04:24] #749 closed

[2020-12-01 23:19] PatrickXYS commented on #752
I think this issue is resolved by WG already

/close

[2020-12-01 23:19] #752 closed

[2020-12-03 04:31] PatrickXYS commented on #787
WIP, should release alongside with Tekton solution

[2020-12-03 04:32] PatrickXYS commented on #788
Tekton + ECR combo is great match!

[2020-12-03 04:32] PatrickXYS commented on #791
Use argoCD for GitOps, should release alongside with Tekton

[2020-12-04 21:18] #658 closed

[2020-12-08 18:01] #733 closed

[2020-12-09 18:47] subodh101 opened #834 "CD for building test worker py3 docker image"
What?

Build and push `test-worker-py3` docker image with the following prow configuration:

[code]

If there are changes in the py directory then once the PR is merged a new image is created.

Updating all the tasks using `test-worker-py3` docker image via cd is risky. So the current focus is building docker image only.

Why?

- `test-worker-py3` was last updated on `Jul 15, 2020`. Recent changes

[2020-12-12 20:27] #753 closed

[2020-12-17 00:48] PatrickXYS commented on #791
Close in favour of #836

/close

[2020-12-17 00:48] #791 closed

[2020-12-17 23:32] PatrickXYS opened #839 "Deprecate Ksonnet Code in kubeflow/testing repo"
As part of work https://github.com/kubeflow/testing/issues/769,

we should clean up kubeflow/testing stale code written by ksonnet, including

1. https://github.com/kubeflow/testing/blob/master/images/image_build.jsonnet
2. https://github.com/kubeflow/testing/tree/master/test-infra/ks_app
3. https://github.com/kubeflow/testing/tree/master/deployment/kubeflow-latest_ks_app

Want to confirm if Googl

[2020-12-18 06:44] #746 closed

[2020-12-18 06:44] #739 closed

[2020-12-18 06:44] #735 closed

[2020-12-18 06:44] #688 closed

[2020-12-18 06:44] #736 closed

[2020-12-18 06:44] #754 closed

[2020-12-21 04:14] #839 closed

[2020-12-25 09:46] #693 closed

[2020-12-31 20:01] #737 closed

[2021-01-12 22:09] #789 closed

[2021-01-13 16:38] jtfogarty opened #846 "Image Scanning for CVs"
This is a reminder to all working groups to setup image scanning during their CI/CD process.

### AutoML
@andreyvelich, @gaocegege, @johnugeorge

### Deployment
@PatrickXYS, @animeshsingh, @mameshini, @vpavlin, @yanniszark

### Manifests
@PatrickXYS, @vkoukis, @yanniszark

### Notebooks
@StefanoFioravanzo,@elikatsis, @kimwnasptd, @thesuperzapper, @yanniszark

### Pipelines
@james-jwu, @kramachandr

[2021-01-13 16:39] jtfogarty opened #847 "Image Scanning"
This is a reminder to all working groups to setup image scanning during their CI/CD process.

### AutoML
@andreyvelich, @gaocegege, @johnugeorge

### Deployment
@PatrickXYS, @animeshsingh, @mameshini, @vpavlin, @yanniszark

### Manifests
@PatrickXYS, @vkoukis, @yanniszark

### Notebooks
@StefanoFioravanzo,@elikatsis, @kimwnasptd, @thesuperzapper, @yanniszark

### Pipelines
@james-jwu, @kramachandr

[2021-01-13 16:39] jtfogarty commented on #847
Duplicate

[2021-01-13 16:39] #847 closed

[2021-01-13 22:52] thesuperzapper commented on #847
leaving a link to the duplicate: https://github.com/kubeflow/testing/issues/846

[2021-01-13 22:53] thesuperzapper commented on #846
@jtfogarty, you can also use the @kubeflow/wg-notebooks-leads to save time in tagging

[2021-01-17 22:06] PatrickXYS opened #848 "IAM as Code"
Basically, I think we need to enhance IAM as Code(IAC) to enable third-party users (kubeflow maintainers) to have ReadOnly Access to S3/ECR.

It can also save efforts in Optional-Test-Infra admin to check account resources back-and-forth.

So the way I want to move forward:

1. Define one YAML file, which consists of maintainers who want to have ReadOnly access to Optional-Test-Infra's S3/ECR.
2.

[2021-01-17 22:08] PatrickXYS commented on #848
This is not an urgent task, but definitely, a bonus point which can make external users happy.

[2021-01-19 05:41] Bobgy opened #851 "[GCP] Migrate machine type to e2 family to save costs"
First PR: https://github.com/kubeflow/testing/pull/850

[2021-01-19 05:42] Bobgy commented on #851
Got errors:
[code]

So I cannot change nodeInitial or nodeConfig fields, I'll add them back.

ContainerNodepool change fails with error
[code]
Looks like the service account format is incorrect

[2021-01-19 06:13] Bobgy commented on #851
https://github.com/kubeflow/testing/pull/852

[2021-01-19 06:13] Bobgy commented on #851
https://github.com/kubeflow/testing/commit/677f9be3609f8a89c229b560a01d285559bf877e

[2021-01-19 07:05] Bobgy commented on #851
Done, actions taken:
1. update container node pool to e2-standard-8 machine type, change nodepool name, because it's an immutable field
2. delete default nodepool
3. disable node autoprovisioning, delete auto-provisioned nodepool

[2021-01-19 07:07] Bobgy commented on #851
I tried to disable node autoprovisioning via config connector, but it keeps failing with https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/277.
I had to disable auto provisioning manually for now.

[2021-01-19 07:56] Bobgy commented on #851
TODO: delete auto provisioned nodepool from issue-label-bot cluster.

[2021-01-19 08:09] Bobgy commented on #851
For record, 2h40min spent on e2 migration.

[2021-01-20 19:53] PatrickXYS opened #856 "[AWS] Configure dependabot for new-built image PR"
Since [dependabot](https://github.com/dependabot) will scan pre-defined path/folder and check if there's new images in `Dockerfile` or any file we pre-defined.

Then we can utilize this functionality to make our Kubeflow FullCD even better:

Each time one PR merged alongside a new image been built and pushed into container image registry (ECR/GCR/DockerHub), dependabot will periodically scan and s

[2021-01-21 18:39] PatrickXYS opened #861 "[AWS] Optional-Test-Infra Migration"
Since I have configurated the optional-test-infra on external AWS account, and confirmed it works with basic use cases, e.g, https://github.com/PatrickXYS-testing/flux-testing/pull/4

And I think we can migrate some of kubeflow repos to external optional-test-infra, including:

<details>
  <summary>repo list</summary>
kubeflow/manifests

kubeflow/kfctl
kubeflow/katib
kubeflow/kubeflow
kubeflow/kfs

[2021-01-21 23:56] #856 closed

[2021-01-21 23:56] PatrickXYS commented on #823
/cc @theofpa

[2021-01-23 22:27] #784 closed

[2021-01-25 18:51] PatrickXYS commented on #861
/cc @Jeffwan

[2021-01-26 17:55] PatrickXYS commented on #861
Migration Finish List:

pytorch-operator: https://github.com/kubeflow/pytorch-operator/pull/316

[2021-01-27 23:39] PatrickXYS commented on #846
@jtfogarty To better handle the requests, can you elaborate on what's your expected image scanning process?

This can help WG folks understand the intention as well

[2021-01-28 00:59] PatrickXYS commented on #848
After a few investigations, seems like AWS organizations and SSO service would be a good fit

[2021-01-28 01:32] PatrickXYS commented on #848
Maybe we don't have to make access-granting process fully-automated, allow only Admins to run some pre-defined command should be fine.

https://docs.aws.amazon.com/cli/latest/reference/iam/update-assume-role-policy.html

[2021-02-01 15:17] axsaucedo opened #887 "Go license tools no longer returning licenses for k8s libraries like apimachinery, controller-runtime, etc"
Until recently the license tools had worked as expected for the license fetches in our repo, but recently we have seen that in the resulting licenses all the kubernetes licenses as well as several others are no longer being fetched.

The packages fail with the following error:
[code]

Has there been anything that changed which resulted in this issues? Before the kubernetes libraries in particularl

[2021-02-01 17:00] PatrickXYS commented on #887
@axsaucedo Can you elaborate a bit?

Which license tool do you refer to?

/cc @Bobgy

[2021-02-01 17:12] axsaucedo commented on #887
@PatrickXYS for sure, this license tools: https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools

[2021-02-01 17:13] axsaucedo commented on #887
I believe this is the tool used to extract the licenses which is the legal requirement when updating the Kubeflow marketplace offering (as all the licenses have to be provided), so I assumed that this would also be an issue in the kubeflow release process

[2021-02-01 17:14] axsaucedo commented on #887
Thanks, let me know if you need further details

[2021-02-02 14:38] #887 closed

[2021-02-04 16:02] jtfogarty commented on #846
@PatrickXYS will there be an Amazon ECR for Kubeflow?  if so, can we simply enable scan on push and then publish reports?

[2021-02-04 17:05] PatrickXYS commented on #846
@jtfogarty Yes public ECR engineering support is ongoing, and we look forward to having it onboard next month or so.

But scan on push and reports are not able on public ECR yet, so that might lag a bit.

[2021-02-07 21:14] #861 closed

[2021-02-11 12:28] kimwnasptd opened #897 "The Optional-test infra should run presubmit jobs for kubeflow/kubeflow"
As part of setting up the CI/CD process for the Notebooks WG, using the optional-test infra kubeflow/kubeflow#5482, we will need to enable the AWS Prow infra to run presubmit jobs for the `kubeflow/kubeflow` repo.

We should add a section in this config for `kubeflow/kubeflow` as well, in the presubmits
https://github.com/kubeflow/testing/blob/master/aws/User/clusters/optional-test-infra-prow/name

[2021-02-15 18:29] PatrickXYS commented on #848
/close

Close in favor of https://github.com/kubeflow/testing/tree/master/aws/Access

[2021-02-15 18:29] #848 closed

[2021-02-15 18:32] PatrickXYS commented on #785
After migration, let's close this issue and move forward with other optimizations instead

[2021-02-15 18:33] #785 closed

[2021-02-15 18:54] PatrickXYS opened #900 "[AWS] Infrastructure as Code"
This is a foresee issue to handle below scenarios:

1. Community folks feel test infra is more like a black box, without having deeper understanding.
2. As we grow, we may find that manually configure AWS resources (Note: not K8s object), either from AWS CLI or Console could be a burden and there's no way to keep track.
3. Replicating test infra may be impossible to do so within 1 day, setting up

[2021-02-16 22:59] #897 closed

[2021-02-19 22:04] PatrickXYS commented on #900
Let's divide the question into 2 layers, AWS resources layer and K8s resources layer, then we decouple two layers resources.

Of course there are overlapping between two layers' resources, such EFS will serve as K8s's NFS. But we can start from minimal and resolve issues step by step

[2021-02-19 23:27] PatrickXYS commented on #900
After a bit research, for k8s resources, we can use CDK8s (Object Oriented Language to generate k8s resource YAML file) + Flux/ArgoCD (Tool for GitOps).

[2021-02-24 19:26] PatrickXYS commented on #900
I feel like using CDK8s brings more complexity but did not really simplify our work.

Another proposal on k8s resources management: helm + ArgoCD

The reason I propose helm is it provides a simple to inject parameter into manifests without large change.

[2021-02-26 22:14] PatrickXYS opened #916 "Improve unit tests for kubeflow/testing repo codebase"
Checkout the python codes in this folder https://github.com/kubeflow/testing/tree/master/py/kubeflow

Most of the unit tests are either out of dated or not added for specific functions.

We should improve unit test coverage since it's becoming central point of test-infra across different kubeflow app WGs.

/cc @theofpa

[2021-03-01 01:42] Bobgy opened #919 "Let optional test infra manage kubeflow/testing presubmit/postsubmit"
/assign @PatrickXYS

As discussed, adding this issue as a tracker.

I'll go ahead and remove test triggers on k8s prow for this repo.

[2021-03-01 02:11] PatrickXYS commented on #919
@Bobgy Thanks for bringing this up, after removing it from k8s prow, I'll make sure to add it into optional-test-infra.

[2021-03-02 04:07] #916 closed

[2021-03-04 07:05] Bobgy commented on #919
Note, it's already removed from k8s prow

[2021-03-04 17:45] PatrickXYS commented on #919
Thanks @Bobgy  I'll be working on migrating to optional-test-infra a bit later, kind of busy at this moment

[2021-03-04 22:29] Bobgy commented on #919
No worry, do so on your own pace

[2021-03-05 10:17] Bobgy commented on #554
I reimplemented go-license-tools in golang and improved license detection ratio via google/licenseclassifier, moved to https://github.com/Bobgy/go-mod-licenses.

[2021-03-05 10:18] #554 closed

[2021-03-06 14:18] #900 closed

[2021-03-08 16:58] PatrickXYS opened #922 "Migrate to CDK-deployed AWS Resources"
Currently we have enabled CDK to deploy AWS Resources instead of relying human operation.

https://github.com/kubeflow/testing/tree/master/aws/IaC/CDK/test-infra

For existing ECR registries, we need to delete them and re-create via CDK.

/cc @andreyvelich

[2021-03-20 14:51] theofpa opened #932 "rebuild test-worker image"
we need to rebuild the test-worker image to be able to launch ephemeral k8s clusters >1.19
[code]

to fix kubeflow/kfserving#1482

[2021-03-20 21:56] theofpa commented on #932
/cc @PatrickXYS

[2021-03-21 01:27] PatrickXYS commented on #932
/assign

@theofpa Sounds good, I can find time working on this next Monday

[2021-03-22 18:19] PatrickXYS commented on #932
Finished rebuilding the image, it's available with latest tag.

Please reopen if there's another issue

[2021-03-22 18:19] #932 closed

[2021-03-22 21:09] theofpa commented on #932
@PatrickXYS thank you!

[2021-03-26 18:23] PatrickXYS opened #940 "Postsubmit link formatting error"
Noticed that optional-test-infra postsubmit can't provide a link to skylense page,

e.g, optional-test-infra postsubmit

![image](https://user-images.githubusercontent.com/23116624/112676325-87e81480-8e25-11eb-8ecf-e7a1458c4735.png)
[Ref link](http://prow.kubeflow-testing.com/?repo=kubeflow%2Fkubeflow&type=postsubmit)
For comparison, kubernetes/kubernetes postsubmit

![image](https://user-images.g

[2021-03-26 19:30] #940 closed

[2021-04-09 09:24] Bobgy commented on #851
Fixed the last e2 usage in https://github.com/kubeflow/testing/commit/91f10f63c31f3c7fd697d40951bb2f547ff684f7

[2021-04-09 09:24] #851 closed

[2021-06-02 23:41] thesuperzapper commented on #846
@PatrickXYS have there been any updates on this for ECR image scanning?

[2021-06-03 20:40] #772 closed

[2021-06-03 20:40] #768 closed

[2021-06-03 20:40] #773 closed

[2021-06-11 00:44] #919 closed

[2021-06-11 00:44] #769 closed

[2021-06-11 00:44] #786 closed

[2021-06-11 00:44] #788 closed

[2021-06-11 00:44] #787 closed

[2021-06-11 00:44] #834 closed

[2021-06-11 00:44] #823 closed

[2021-06-18 23:46] #922 closed

[2021-08-13 22:54] Jeffwan opened #962 "tekton cluster has been deleted in AWS Optional Test Infrastructure?"
Is this cluster deleted?

[code]

[2021-08-14 04:31] PatrickXYS commented on #962
@Jeffwan Yes, because I found there's few WG interested in developing it.

[2021-12-11 11:44] theofpa opened #971 "eksctl latest release will break cluster setup"
Taking a note here after our discussion with @kimwnasptd , this is a time-bomb that will explode next time the aws image will be built with the combination of a newer release of eksctl which might deprecate the version of k8s we're using.

We are using the latest `eksctl` release for the image:
https://github.com/kubeflow/testing/blob/a59d753d76c8c35bf17b88b5cd9cea80768f0e69/images/Dockerfile.py3.

[2021-12-11 11:55] theofpa commented on #971
Actually `eksctl` will remove the support when EKS will remove the support for 1.18. So our actual problem is that we're still testing on 1.18.

[2022-03-02 09:22] #962 closed

[2022-03-05 03:13] PatrickXYS opened #993 "Optional Test Infra Deprecation Notice"
Hi Kubeflow Community,

I've been continuously working on and responsible for providing [optional-test-infra](https://github.com/kubeflow/testing/tree/master/aws) for kubeflow community presubmit testing usage.

Due to my recent career change and there are no sufficient resources in making optional-test-infra continue to work, optional-test-infra may stop working around June 2022. That's said, kub

[2022-03-05 18:40] terrytangyuan commented on #993
That’s unfortunate to hear but best of luck on your new journey.

@kubeflow/wg-training-leads @kubeflow/wg-automl-leads Should we consider switching to GitHub Actions with K3d or minikube since our tests do not require special hardware?

@kubeflow/project-steering-group Any plans of additional resources from Google on this?

[2022-03-17 22:03] thesuperzapper commented on #993
@surajkota @terrytangyuan @PatrickXYS  I really like the idea of using GitHub actions for most parts of Kubeflow!

This will make our tests portable (not tightly integrated with a specific sponsor's infrastructure).

Considerations:

- [`github-hosted` runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners):
    - have no time-limits for open-source pro

[2022-03-19 08:03] surajkota commented on #993
Are you suggesting each working group own their own infra and setup?

If not, we are again missing the first step, finding new new maintainers for testing infra?

On side note, I see no major issues on this repository which seem to suggest it is working pretty well. So before we jump to redesign, let's find out if we can have new maintainers, probably a wg-testing?

Regarding portability, isn't th

[2022-03-21 22:47] thesuperzapper commented on #993
@surajkota You are correct I was still suggesting that someone (like AWS) provides the `self-hosted` GitHub actions runners, which the rest of the WGs can then use on their kubeflow-org GitHub repos.

I agree that it's not "broken", but GitHub actions is a very nice developer experience, so I think it's worth a look.
But I agree, if we can find new maintainers for the shared infrastructure, this w

[2022-03-23 02:02] surajkota commented on #993
@PatrickXYS can you clarify what you mean by `optional-test-infra may stop working around June 2022`? Specifically what will stop working and how can this be stopped?

[2022-03-23 02:35] PatrickXYS commented on #993
As I said in the issue description, there are two aspects of NOT-WORKING:
1. The account doesn't have enough resources/credits to continue working
2. I don't have enough bandwidth in maintaining the infra

Kubeflow community / AWS could invest more credits to existing test-infra, but I may not be able to continue maintaining it, so I'd prefer not to go with this option.

The option that I prefer i

[2022-04-21 11:37] theofpa commented on #971
/remove-lifecycle stale

[2022-05-01 16:10] PatrickXYS commented on #993
Sorry for the late response given the limited bandwidth on my side.

A few things to bring up here:

The timeline of deprecating optional-test-infra:

1. By **May 23rd**, I'll start to file PR to remove presubmit request to optional-test-infra for existing kubeflow repos.
2. By **June 6th**, I'll remove resources from AWS account and send a deprecation report to the community.

https://github.com/

[2022-05-01 17:17] yuzisun commented on #993
@PatrickXYS I request holding off the deprecation as we have not reached a decision for the migration plan yet. Also as previously discussed with @surajkota aws is willing to keep sponsoring the account, I am not sure if there is anything changed.

[2022-05-04 18:51] johnugeorge opened #999 "Support AWS EKS cluster version 1.22 in CI"
Inorder to support CI tests on k8s 1.22, testing worker images needs to upgraded to support k8s 1.22 cluster creation.

Related:

#971
https://github.com/kubeflow/training-operator/issues/1581
https://github.com/kubeflow/katib/pull/1758
https://github.com/kubeflow/training-operator/pull/1582

/cc @kimwnasptd

[2022-05-04 18:51] johnugeorge commented on #999
/cc @surajkota

[2022-05-15 00:27] PatrickXYS commented on #993
@yuzisun and other Kubeflow WG folks, I posted the deprecation notice on March 4th, trying to provide as much buffer time as possible to the community. Such that Kubeflow WGs can find their preferred alternatives for presubmit E2E testing. Also, I tagged all the WG and created sub-issues in corresponding repositories.

I'm not sure what's the main reason holding the community not finding other opt

[2022-05-27 04:36] #993 closed

[2022-05-31 19:01] annajung opened #1006 "Alternative solution to removal of test on optional-test-infra"
_**This is a blocker for the [1.6 release](https://github.com/kubeflow/community/tree/master/releases/release-1.6)**_

This issue is to track an alternative solution to the recent removal of existing presubmit and postsubmit tests on [optional-test-infra](https://github.com/kubeflow/testing/tree/master/aws).

As of May 31st,
- Testing clusters are deleted and not available for use
- All WGs who le

[2022-05-31 20:16] annajung commented on #1006
Hi WG leads, there is a discussion happening in parallel with AWS, but I also like to kick off a discussion to see if you would be transitioning to a different CI/CD pipeline before the release. If so, do you have any timelines in mind?

[2022-05-31 20:32] jlewi commented on #1006
Hi folks; its been a minute.

As a bit of additional context. The issue of a sustainable and scalable approach to test infrastructure was identified almost two years ago in kubeflow/testing#737.

What is the current thinking in terms of making each WG responsible for its own test-infra?

[2022-06-01 02:43] thesuperzapper commented on #1006
@annajung I have created a new private slack channel with all the working group leads to organize the creation of separate AWS accounts for each Working Group, and get AWS credits applied to them.

[2022-06-03 02:22] surajkota commented on #1006
As discussed in the Community Meeting 05/31, each Working Groups will need to setup their own testing infrastructure, as the [optional-test-infra has been deleted](https://github.com/kubeflow/testing/issues/1006).

AWS is willing to provide credits to the Working Groups for testing, to facilitate this please do the following:
- Each WG must delegate a single “testing manager” who will be the point

[2022-06-03 20:51] jbottum commented on #1006
@johnugeorge @kimwnasptd @yuzisun @james-jwu @annajung This seems like a very generous offer from @surajkota.   Would you please reply in a timely manner with your perspective / response?   Thanks!

[2022-06-03 22:00] yuzisun commented on #1006
Thanks @surajkota !!

[2022-06-06 16:31] james-jwu commented on #1006
Overall sounds good. Pipelines will continue to use GCP infra provided by Google. /cc @zijianjoy

[2022-06-06 18:57] annajung commented on #1006
Hi everyone, here is an update from the [June 6th release team meeting](https://bit.ly/kf-release-team-notes)
- As a short-term solution, affected WGs are migrating to GitHub Actions for the 1.6 release while working in parallel for a long term solution
- @pvaneck from KServe, @kimwnasptd from Notebooks and Manifest were present in the meeting and confirmed they will be able to meet the new featur

[2022-06-07 15:34] ca-scribner commented on #1006
If anyone needs assistance setting up github CI for their working group, etc., please reach out (on this issue or in Kubeflow Slack).  I'm not an expert, but I have some experience and happy to put some time in.

[2022-06-07 16:38] annajung commented on #1006
Some notes from the June 7th Community meeting,
- Johnu from Katib and Training Operators confirmed they are migrating to GitHub Actions and should be ready by June 15th
- All WGs are focused on short term solutions and the 1.6 release to get themselves unblocked, will review the long term solutions afterward

[2022-06-08 01:10] surajkota commented on #1006
update: I was trying to find out if there is a way to create an AWS account w/o payment info like credit card but havent found any documentation or a way to get exception for it. I will reach out to some more folks and will update if it is possible.

Per our Customer Agreement, all AWS Accounts must have a valid form of payment to access our services.

https://aws.amazon.com/agreement/

[2022-06-12 21:37] surajkota commented on #1006
Hi folks, unfortunately, creating an AWS account requires adding a valid payment information. I could not find any way to request an exception for this and creating an internal AWS account would not work for our use case.

Here is a proposal which can aims to create a maintainable and sustainable path forward on this:

1. Create a non-personal email which can we owned/shared by WG leads. This way

[2022-06-14 04:24] PatrickXYS opened #1008 "Deprecate ECR repo provided by optional-test-infra"
As a post item of deprecating optional-test-infra, we'll deprecate all the ECR repos provided by optional-test-infra.

### Private ECR Repo List

**kubeflow/katib**: `809251082950.dkr.ecr.us-west-2.amazonaws.com/katib/v1beta1/`
* `cert-generator`
* `earlystopping-medianstop`
* `file-metrics-collector`
* `katib-db-manager`
* `suggestion-chocolate`
* `suggestion-darts`
* `suggestion-enas`
* `suggest

[2022-06-14 04:50] johnugeorge commented on #1008
Training operator uses the ECR repo for last 3 releases ( v1.4.0, v1.3.0, v1.21, v1.1)  https://github.com/kubeflow/training-operator/blob/master/manifests/overlays/kubeflow/kustomization.yaml#L9

We should not deprecate the public repos for upcoming few releases. Though we will find an alternative solution starting from this release, we have to allow current users to continue using the release ma

[2022-06-14 20:29] surajkota commented on #1008
@PatrickXYS we understand the need to deprecate this repositories but we request you to work with us as we figure out the next gen of this infrastructure. Please see details in https://github.com/kubeflow/testing/issues/1006#issuecomment-1153299757.

In the meantime, we will work on funding the account with the needed credits to use these repositories.

[2022-06-15 00:53] thesuperzapper commented on #1008
@PatrickXYS can please you clarify if we can maintain the old ECR public images (even if we don't add new images) so that people's old manifest don't break?

[2022-06-16 18:06] surajkota commented on #1006
@kubeflow/wg-manifests-leads @kubeflow/wg-automl-leads @kubeflow/wg-notebooks-leads @yuzisun @james-jwu

Please let me know what the community thinks about the [above proposal](https://github.com/kubeflow/testing/issues/1006#issuecomment-1153299757) assuming, we have a partner for payment information. This will help us with #1008 as well.

[2022-06-17 17:30] kimwnasptd commented on #1006
Thank you very much for driving this @surajkota!

This proposal seems solid for allowing all WGs to share the same credit pool. Thumbs up from manifests and notebooks.

I really like this approach as well. Since it will ensure we have a cadence for the status checks.

[2022-06-17 19:47] jbottum commented on #1006
@surajkota thanks for moving this forward.   I have been asking companies (that provide integration services for Kubeflow on AWS) to support of this effort.    I believe that we need to scope the effort i.e. One headcount is needed to 1) manage the accounts and credits and 2) config, operate, tear-down the clusters on the testing infra.   3) the period of time i.e. 12 months.     Additionally, the

[2022-06-21 20:55] charlesa101 commented on #1006
Thank you @surajkota. The proposal looks solid. We do a lot of work with Kubeflow,  my company MavenCode will be able to provide the needed partnership support to get this going.

[2022-06-22 22:32] jbottum commented on #1006
@surajkota I believe that we said that interested parties should respond by COB today.   It appears that we have Arrikto, Maven Code, One Convergence and @ca-scribner offering support.   @annajung Perhaps we should ask the contributors to select a Working Group to support? @kimwnasptd @charlesa101 @songole do you have a preference for a working group to support ?   I think it would be good to have

[2022-06-23 21:43] charlesa101 commented on #1006
@jbottum -  automl, notebook, manifest, pipelines  but we are open to support any other WG

[2022-06-23 23:53] jbottum commented on #1006
@surajkota did you get a credit card from the AWS account ?   Do you need this to move forward?

[2022-06-27 03:02] PatrickXYS commented on #1008
I don't think any kubeflow repos are actively using those ECR images for deployment except notebooks WG.

Reason for the above observation: only notebooks ECR image has version tags such as `v1.1`, `v1.2`, etc.

So the rest of the other repos are no-concern, but notebooks might be a special one.

---

Due to my current situation, I have very limited bandwidth and am slow to respond.

[2022-06-29 01:35] jbottum commented on #1006
@johnugeorge @kimwnasptd @pvaneck - @surajkota needs an estimate of each Working Group's expenses for the next 12 months.   Please submit by Friday(July 1) for Manifests, Notebooks, Training, Katib/AutoML, and KService.   Please use AWS Pricing Calculator (https://calculator.aws/#/).    cc'ing @annajung

[2022-06-29 02:12] surajkota commented on #1006
Hi everyone, the [initial proposal](https://github.com/kubeflow/testing/issues/1006#issuecomment-1145523044) required us to attach a credit card per WG account. The [current proposal](https://github.com/kubeflow/testing/issues/1006#issuecomment-1153299757) that uses AWS Organization approach requires only one credit card which needs to be added to the management account since it offers consolidate

[2022-06-29 02:30] thesuperzapper commented on #1008
I have mirrored all the `public.ecr.aws/j1r0q0g6/notebooks` ones to GitHub Container Registry under `ghcr.io/kubeflow/{IMAGE_NAME}`, for example:
- [`ghcr.io/kubeflow/kubeflow/access-management`](https://ghcr.io/kubeflow/kubeflow/access-management)
- [`ghcr.io/kubeflow/kubeflow/jupyter-web-app`](https://ghcr.io/kubeflow/kubeflow/jupyter-web-app)
- [`ghcr.io/kubeflow/training/tf-operator`](https://

[2022-06-29 06:22] johnugeorge commented on #1006
@surajkota One question.  Will credit card again become a single point of failure for the management account similar to earlier personal account for AWS infra ? How can this be handled?

[2022-06-29 20:47] kimwnasptd commented on #1006
Apologies for the late reply here. First of all @songole @charlesa101 nice to meet you! I'm sure WGs would be more that happy to have some more engineering firepower for the testing, thank you very much for the interest!

As @surajkota described above we are splitting the testing infra migration into 2 orthogonal efforts:
1. Establishing a process for a team that will be responsible for the root A

[2022-07-05 00:33] thesuperzapper commented on #1008
I have raised https://github.com/kubeflow/kubeflow/issues/6560 about using `ghcr.io/kubeflow/{IMAGE_NAME}` as the default image registry for Kubeflow images (in addition to a DockerHub / ECR mirror).

[2022-07-06 00:04] surajkota commented on #1008
WGs have confirmed that private ECR registries were only used for testing purpose and have not been used in release manifests. Hence, the **private ECR registries** can be deprecated.

As @thesuperzapper commented, I am looking into migrating the public ECR repositories to a new account(with same registry alias) and will post an update here as soon as I have confirmation on the process. Repositori

[2022-07-14 06:40] surajkota commented on #1006
Hi everyone, thanks to all the WGs for the estimates, we got the management account created and credits approved!

Next steps: I have a draft of the design with the next steps on this doc:
https://docs.google.com/document/d/1Z3K4q21Vko6SzQDu2JSov9DO2fRehsDB_X9Z663fym4/edit?usp=sharing and we will be looking into setting up the AWS organization to get this going.

As we previously discussed, each W

[2022-07-14 06:42] surajkota commented on #1006
Hi everyone, thanks to all the WGs for the estimates, we got the management account created and credits approved!

Next steps: I have a draft of the design with the next steps on this document:
https://docs.google.com/document/d/1Z3K4q21Vko6SzQDu2JSov9DO2fRehsDB_X9Z663fym4/edit?usp=sharing and we will be looking into setting up the AWS organization to get this going.

As we previously discussed, e

[2022-07-18 23:28] songole commented on #1006
Thanks @surajkota. Someone from my team would start with training wg. @mak-454 @anil3

[2022-07-19 04:30] johnugeorge commented on #1008
@kimwnasptd Given these complications, Should we just just create and track the mapping previous image location-> new image location for earlier releases? (without any extra changes)
Release 1.4 or earlier doesn't support k8s 1.21+ anyways. There is very less chance of newer installations. In any case, if users run into issues with images, they can override the image name/tag in kustomization file

[2022-07-19 06:00] surajkota commented on #1008
@johnugeorge To clarify, the only action required from one of you(anyone from Notebook or training WG) is to create an email address. The repository will stay in the same account as before and there is no impact on user experience. Please help us understand if this looks complicated to you?

Re: **1.5 or earlier** & [as per your comment on June 13](https://github.com/kubeflow/testing/issues/1008#i

[2022-07-19 19:11] charlesa101 commented on #1006
Thanks, @surajkota  - We can start with the notebooks & manifest wg. Thank you!

[2022-07-21 23:15] PatrickXYS commented on #1008
Let's try to avoid this, please try to get a credit card from your team, and provide the card to @andreyvelich, he can help you replace your card with my card. After that, feel free to take any action. I believe my proposal is a better way to move forward.

[2022-07-27 00:38] surajkota commented on #1008
Hi everyone, the credits applied in the account `809251082950` were about to expire end of this week on 07/31. We have completed the steps outlined in the [comment above](https://github.com/kubeflow/testing/issues/1008#issuecomment-1188162838) to ensure Yao's credit card does not get charged for the billing.

This account is now part of the new AWS organization. Yao, I have opened a case with AWS

[2022-08-06 16:37] PatrickXYS commented on #1008
Great, just saw the message. Please keep me updated with the credit card removal stuff since I can't access the AWS account now, which makes me concerned if AWS will be applying bills to my credit card.

[2022-08-06 18:56] PatrickXYS commented on #1008
@surajkota  Could you please help keep me updated with the card removal process, there are still possibilities that billing will be applied to my card but I have no access to the AWS account.

As I mentioned in the previous comment:

Replace the card before taking any action, but seems like it didn't work on the AWS side, could you please expedite the process to resolve my concern?

[2022-09-01 17:51] surajkota commented on #1008
Hi @PatrickXYS, your credit card has been removed from the account. Thanks for your patience

Info for historical purpose: since this was a standalone account before, it is not possible to remove the default payment information. We added the same card as on the management account with help of @kimwnasptd, Amber Graner.

We can close this issue now.
/close

[2022-09-01 17:51] #1008 closed