[2018-02-01 15:29] jlewi opened #3 "Setup prow to run lint and python unittests"
We should setup some prow jobs for this repo to run lint checks and python unittests

[2018-02-01 21:55] jlewi opened #5 "Setup appropriate groups to give access to test infrastructure to members of the community"
We should setup appropriate access to the test infrastructure so we can share it with appropriate members of the community.

The current thinking is to

- Setup gsuite for kubeflow.org
- Use GCP projects within kubeflow.org
- Create groups in kubeflow.org to administer access to test infra

To start I think we might want to groups

- test-admin
   - Permission to administer GKE clusters used by ou

[2018-02-02 01:21] jlewi opened #6 "minikube testing"
We should run E2E tests on minikube.
kube_test is supposed to help with this.

[2018-02-03 01:34] jlewi opened #10 "Add a link to Argo UI in gubernator"
We should see if we can add a link to the Argo UI for the job so that its readily accessible in gubernator.

I wonder if we can just specify it as metadata?

[2018-02-05 20:10] jlewi opened #11 "Create a standard Argo workflow to run basic tests"
* We should create a standard workflow to run basic tests that can be shared by all our repositories; eg
   * lint checks
   * run py and go unittests

* I think its an open question whether we would run this as a separate prow job or have a single prow job for each workflow and run this as a sub workflow.

[2018-02-06 13:04] jlewi opened #13 "How do we test our UI's"
We need to figure out how to test our UIs like the TFJobs UI.

[2018-02-08 15:50] Jimexist commented on #13
by how did you mean:
- which tool
- which environment
- whether to use real backend or not

[2018-02-09 22:30] jlewi commented on #13
I meant how do we write an automated test that drive a UI and verify it works as expected?

E.g for the TFJobs UI how do we verify that the visual output shows up as expected, that when you click on objects links work as expected etc...

[2018-02-09 22:37] jlewi opened #18 "Setup test infrastructure for kubeflow.org"
We want to move our test infrastructure into kubeflow.org and share it with other members of the community willing to take on responsibility for maintaining it.

Here's what we need

- [X] Create a GCP project kubeflow-testing in kubeflow.org
  - We'll use this for GCR and our E2E tests.
  - Created project kubeflow-ci
- [X] Create a Google group in kubeflow.org for owners/maintainers of the test

[2018-02-09 22:51] jlewi opened #19 "Build Docker images on pre/postsubmit"
We'd like to setup our infrastructure so that we can build Docker images on pre/postsubmit so that we always have up to date images.

Our current thinking is that we will use Argo to create pipelines that do the builds and run any tests. We can use Prow to trigger this in response to pre/postsubmit

Here's some detail how this could work

 - We modify run_workflow_e2e.py so we can easily have Prow

[2018-02-10 03:06] jlewi opened #20 "Tests are failing because GIT_TOKEN not set"
[code]

This is caused by #17 . The environment variable GIT_TOKEN isn't defined in the prow job. This code runs in the prow container.

We'll need to rethink how we get the GIT API token; its possible prow attaches a secret already for the API token.

Alternatively it might just be easier to see if we can set it in the gubernator see #10 .

In the meantime we should roll this back since it breaks

[2018-02-10 03:14] jlewi commented on #19
Lunkai can you do this for TFServing?

I think we should go the route of structuring our workflow libsonnet file so that its easy to add the relevant template and steps from the workflow for building TFServing to our E2E workflow and just run it as a sub workflow.

[2018-02-10 05:30] jlewi commented on #20
Reverted in #21.

[2018-02-10 05:30] #20 closed

[2018-02-10 05:34] jlewi opened #22 "Add argo status link to GitHub"
Would like a link directly from a PR to the corresponding argo workflow to make debugging easier

This was originally aded in #17 but this broke things #20 and was rolled back.

The environment variable GIT_TOKEN isn't defined in the prow job. This code runs in the prow container.

We'll need to rethink how we get the GIT API token; its possible prow attaches a secret already for the API token.

A

[2018-02-10 05:34] jlewi opened #23 "Setup prow"
Need to setup prow for kubeflow/testing

[2018-02-10 05:40] lluunn commented on #19
Sure, sounds good.

[2018-02-10 20:34] jlewi opened #24 "Get rid of one prow container per repo"
Right now our [instructions](https://github.com/kubeflow/testing#adding-an-e2e-test-for-a-new-repository) require that every repository build a Docker image and create a custom run.sh script.

Maintaining a separate container per repository is more work than necessary. The sole purpose of this is to specify the command line arguments to run_e2e_workflow.py that control the workflow to run.

We can

[2018-02-11 01:39] jlewi commented on #19
@lluunn I thought about this more and realized that we can simplify our E2E tests by removing the need to build separate docker containers per repo (see #25).

As part of that I ended up adding support for running multiple workflows. This turns out to be straightforward and therefore worth doing. It gives us the flexibility of determining whether to run multiple workflows per repo or to combine wo

[2018-02-11 09:52] gaocegege commented on #22
FYI, I filed [an issue](https://github.com/argoproj/argo/issues/733) to the upstream and they recommend a new project: [argo-ci](https://github.com/argoproj/argo-ci), which is built on argo for CI.

[2018-02-11 18:17] jlewi commented on #22
What would argo-ci give us over prow?

[2018-02-11 19:26] jlewi commented on #23
* kubernetes/test-infra#6779 is in progress.

[2018-02-11 19:50] jlewi commented on #18
I added the following service accounts to project kubeflow-ci

[code]

I think these are the service accounts used by prow jobs.

I gave them the following IAM roles

  - Storage Object Viewer - So they can pull the containers used for our prow jobs
  - Kubernetes Engine Developer - So they can launch Argo workflows in our K8s clusters.

[2018-02-11 22:33] jlewi commented on #18
kubernetes testing team informed me that the only service account used is

[code]

So I removed the other one.

[2018-02-12 02:17] gaocegege commented on #22
@jlewi They said argo-ci supports status link internally compared to argo.

[2018-02-12 02:52] jlewi opened #27 "Need to take test status into account when reporting prow job success or failure"
We need to look at the junit XML files to decide whether to report the job as failed or success

* Right now we just look at whether the Argo workflow succeeded or not which is insufficient since tests can fail but Argo workflow can still succeed.

We need to do something like tensorflow/k8s#319

If we want to be strict about which xml files are expected we could specify the xml files expected in

[2018-02-12 18:44] jose5918 commented on #20
@jlewi If we move everything aside from triggering the argo test to argo will this token work? https://github.com/kubeflow/tf-operator/blob/b0561dd0b2e8254d09be71e106e2ea60727cffe9/test/workflows/components/workflows.libsonnet#L82
Also does that git token even have permission to create a status? I'll try to see if prow already has something but I suspect we shouldn't be using that their token

[2018-02-12 23:56] jlewi commented on #18
The actual service account used by prow is:

[code]

The service account

[code]

is not used in our case so I removed it.

[2018-02-13 01:59] #24 closed

[2018-02-14 04:51] jlewi opened #30 "Prow jobs marked as failure even though Gubernator indicates job succeeded"
Example:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_tf-operator/388/kubeflow-tf-operator-presubmit/35/

Job is marked as success and no test failures. There is no error in the log.

The issue is that the pod is exiting with non zero exit code. If we look at the pod logs (via prow jobs UI) we see the following exceptoin

[code]

This exception happens after th

[2018-02-15 05:24] jlewi commented on #30
Jobs are still being reported as failed. Prow's UI changed; I can no longer see pod logs so I can't tell what the error is.

[2018-02-15 05:25] jlewi opened #32 "Use our own build cluster with prow"
prow supports using your own build cluster.

Since we already use a K8s cluster to run our Argo workflows, we should ask prow to run our prow jobs in that cluster as well this will give us more access to the logs.

[2018-02-15 13:16] jlewi commented on #30
There's a bug in prow causing links not to work, you can work around it by navigating to url

[code]

Same error as before

[code]

[2018-02-15 18:17] jlewi commented on #22
If we use our build cluster with prow (#32) we can easily add whatever secrets we need.

@gaocegege I think argo-ci provides overlapping functionality with the dashboards and reporting in prow; but prow is more mature and battle tested by Kubernetes.

[2018-02-15 18:37] #30 closed

[2018-02-16 13:45] jlewi commented on #3
Fixed by #33

[2018-02-16 13:45] #3 closed

[2018-02-16 13:49] jlewi commented on #11
#33 added a workflow to kubeflow/testing to run python unittests and lint.

We've also added the ability to run multiple workflows specified via prow_config.yaml.

So I think turning the test in kubeflow/testing into a reusable workflow that any repo can use is a good place to start.

I think the main changes we would need to make are modifying py_checks so that we can take as arguments the src di

[2018-02-21 18:33] jlewi commented on #23
Its setup and postsubmits are passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-testing-postsubmit

[2018-02-21 18:35] jlewi commented on #18
@lluunn Is working on setting up a K8s cluster in project kubeflow-ci. Lunkai what's the status of that?

[2018-02-21 18:36] jlewi commented on #10
This has been fixed. The URL is shown in the metadata.

[2018-02-21 18:36] #10 closed

[2018-02-21 19:31] lluunn commented on #18
Setting up the cluster now.

Some note (will update later):
PROJECT=kubeflow-ci
ZONE=us-east1-d
CLUSTER=kubeflow-testing
NAMESPACE=kubeflow-test-infra
SERVICE_ACCOUNT=kubeflow-testing

secret created: kubeflow-testing-credentials & github-token

NFS server: kubeflow-test

[2018-02-24 23:17] jlewi commented on #19
#281 was merged this morning so we should now be building and testing TFServing images as part of our tests.

Lets open up more specific bugs; e.g. bugs for building our Jupyter notebooks.

[2018-02-24 23:17] #19 closed

[2018-02-25 00:09] #23 closed

[2018-02-25 00:12] jlewi opened #42 "checkout.sh shouldn't require PROW environment variables"
[checkout.sh](https://github.com/kubeflow/testing/blob/master/images/checkout.sh) supports the PROW environment variables.

But it also supports the more convenient syntax we introduced to specify for extra repos.

For workflows triggered outside of prow (e.g. manually) its more convenient just to specify EXTRA_REPOS.

We should update checkout.sh so that it doesn't assume REPO_OWNER and other pro

[2018-02-25 00:20] jlewi opened #43 "Setup IAP for our release cluster"
For our release cluster we should setup IAP so we can securely connect to the Argo UI.

We will need to wait for all the issues with IAP and Envoy JWT validation to be fixed so we can do this securely.

[2018-02-26 20:47] jlewi opened #44 "Verify python code is formatted with yapf"
In kubeflow/tf-operator#401 we started using yapf to enforce a consistent Python style.

We should a presubmit test so that we can ensure all python code is properly formatted.

/cc @Jimexist

[2018-02-27 02:25] jlewi opened #45 "Provide information to debug failed deployments"
A lot of times our tests will fail because we timeout waiting for a K8s deployment.
An example is when a deployment fails to start because the image couldn't be pulled.

To debug the test failure we'd like to capture the events for pod because this provides helpful debug information.

For example here is the output of kubectl describe for a pod that failed to start because the name of the binary t

[2018-02-27 02:34] jlewi commented on #45
On GCP the events are stored in stackdriver. Here's a sample query

[code]
logName should use the actual project and namespace should use the actual namespace.

We should add this to the docs about how to debug failed tests.

[2018-02-27 14:39] jlewi opened #46 "Building the test worker image fails."
I tried rebuilding the Docker image used by our test workers and I got the following error.

[code]
This might be fixed by #36 by switching to pipenv.

[2018-02-27 14:54] jlewi commented on #46
I patched #36 and it appears to fix the issue.

[2018-02-27 19:28] jlewi commented on #46
Using pipenv #36 didn't work for me. The build worked but subsequently imports of packages (like kubernetes failed). I think this might be because its in a virtual env and we might need to activate it
as a workaround

I stripped out the hashes from the requirements file and that seems to work.

[code]

@Jimexist is there something else that needs to happen to use packages installed via Pipenv?

[2018-02-28 03:30] Jimexist commented on #46
i did use `--system` so it will install packages back to the system Python.

[2018-02-28 03:51] Jimexist commented on #44
/assign @Jimexist

[2018-02-28 03:53] Jimexist commented on #13
I only know:

- https://github.com/segmentio/nightmare
- https://github.com/segmentio/daydream

but probably should try out https://github.com/GoogleChrome/puppeteer

[2018-02-28 05:03] jlewi commented on #46
@Jimexist maybe I did something wrong but it didn't seem to work.

[2018-02-28 05:07] jlewi opened #49 "Move docker images used by release/test infrastructure into a separate project"
We use gcr.io/kubeflow-ci/test-worker as the worker image in our CI/CD workflows.
We would like to use the same Docker image in our release workflows.
But we'd like to make sure untruted code running in PRs can't modify those images.

So it would be good to move these docker images into a separate registry such that code running in kubeflow-ci can read but not write that registry.

[2018-02-28 05:15] Jimexist commented on #46
@jlewi can you try on top of https://github.com/kubeflow/testing/pull/36?

[2018-03-02 14:06] jlewi opened #52 "Automatic merges with tide aren't working"
See #47

* All status checks are green
* Status still says PR is not in the tide pool.
* Coveralls is not enabled for this repository so I don't think we are hitting
  kubernetes/test-infra#7091

Background:
kubeflow/community#20

tide seems to be working for kubeflow/kubeflow.

[2018-03-02 14:16] jlewi commented on #52
@BenTheElder @cjwagner Another day another repo :) Any idea what the problem is this time?

[2018-03-02 17:01] BenTheElder commented on #52
@jlewi per the expanded merge requirements at https://prow.k8s.io/tide.html kubeflow repos need lgtm and approval. @qhuynh96 is working on a PR status page that we'll link to from the context (Eventually) to make this clearer. Looks like we just need to /lgtm

[2018-03-02 17:07] BenTheElder commented on #52
And it just merged after I `/lgtm`ed it :-)

[2018-03-02 17:23] cjwagner commented on #52
/close

[2018-03-02 17:23] #52 closed

[2018-03-02 21:45] jlewi commented on #52
@BenTheElder thanks.

[2018-03-04 02:39] jlewi opened #53 "Garbage collect old Argo workflows / Argo UI unresponsive"
On our test cluster in project mlkube-testing. I'm noting Argo workflows going back as far as 22 days old.
I'm also knowing that the UI and kubectl are sluggish.
I suspect this might be because there are so many workflows.

What is the garbage collection policy for workflows that have completed? Is there any?

[2018-03-05 00:35] jlewi opened #54 "testing-argo.kubeflow.io needs to be changed to testing-argo.kubeflow.org"
The old hostname testing-argo.kubeflow.io is no longer valid.

testing-argo.kubeflow.org should work.

We need to update the test scripts to print out the correctly URLs.

As a temporary work around people can manually edit the URLs.

[2018-03-06 02:14] jlewi opened #55 "Add instructions for adding GPUs to our test cluster"
We should add instructions to our test-infra setup to add GPUs.

Here are the commands I used

[code]

This is straight from the docs
https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

[2018-03-07 14:23] jlewi commented on #18
I think the only remaining work is to update our E2E tests to start using this project.
We might need to give our service account access to the bucket.

[2018-03-07 14:29] jlewi commented on #6
Some thoughts on possible approaches.

- Investigate kube_test and see what it does
- Run minikube on a VM and run everything via ssh

This should map pretty well to our existing E2E tests. Our existing E2E tests are Argo workflows that just run series of scripts. So the only change we'd need to make is to execute those scripts via ssh on the remote VM rather than in the pod itself.

[2018-03-07 14:39] mhausenblas commented on #6
@jlewi can you link to the Argo workflows pls? I might be interested in taking care of this …

[2018-03-07 14:53] #54 closed

[2018-03-08 05:58] jlewi commented on #53
Navigating to a specific workflow doesn't seem to work either
http://testing-argo.kubeflow.org/timeline/kubeflow-test-infra/kubeflow-presubmit-tf-serving-image-387-12405f1-511-aec5;tab=workflow

[2018-03-08 06:25] jlewi commented on #53
I tried manually deleting the older workflows as follows

Dump all workflows sorted by age to a file

[code]

Manually delete the lines corresponding to workflows I don't want to delete.

Then do

[code]

[2018-03-08 06:31] jlewi commented on #53
Deleting the workflows appears to have worked so it appears to be an issue with the UI not performing well when there are lots of workflows.

/cc @jessesuen @alexmt

[2018-03-08 06:41] jlewi opened #60 "URL for Argo workflows changed"
In gubernator we report the url for the worfklow UI as

[code]
This doesn't appear to be valid anymore with the new version of the Argo UI.

I think we just want to use

[code]

@Jimexist would you mind sending another PR to fix this?

[2018-03-08 07:50] jessesuen commented on #53
Argo does not have a GC policy/configuration. It should though.

[2018-03-12 19:55] lluunn commented on #18
It's currently failing with:
 python -m kubeflow.testing.run_e2e_workflow --project=kubeflow-ci --zone=us-east1-d --cluster=kubeflow-testing --bucket=kubernetes-jenkins --config_file=/src/kubeflow/tf-operator/prow_config.yaml --repos_dir=/src
INFO|2018-03-12T19:50:48|/src/kubeflow/testing/py/kubeflow/testing/run_e2e_workflow.py|255| Logging to /tmp/tmpRunE2eWorkflow96wvsHlog
INFO|2018-03-12T19:50:

[2018-03-12 19:56] lluunn commented on #18
Seems like pr-kubekins@kubernetes-jenkins-pull.iam.gserviceaccount.com is the service account. Adding it back

[2018-03-12 20:11] lluunn commented on #18
Now the error is:
kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com does not have storage.objects.create access to kubernetes-jenkins/pr-logs/directory/kubeflow-presubmit/589.txt.

[2018-03-13 07:31] Jimexist commented on #60
@jlewi i updated it in #62

[2018-03-13 07:32] Jimexist commented on #60
if you can confirm that this issue is fixed by that PR it'll be great, thanks!

[2018-03-13 21:48] krzyzacy commented on #18
ok, I think the right way of doing this: I think your pod already has the pr-kubekins service account credential (you can reactivate it at `GOOGLE_APPLICATION_CREDENTIALS`). Before uploading logs, you should switch to use pr-kubekins to upload logs.

[2018-03-13 21:52] lluunn commented on #18
Ah I see, thank you

[2018-03-14 18:19] lluunn commented on #18
Actually we don't have pr-kubekins credential in the cluster under project kubeflow-ci.
(The comment above was about granting pr-kubekins service account access to kubeflow-ci)

So can we get pr-kubekins credentials? Or should we upload to our own bucket? Or maybe you can grant kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com access to kube-jenkins for now?
What's the recommended approach? @kr

[2018-03-14 18:38] krzyzacy commented on #18
@lluunn the credential is binded in your CI Kubernetes Pod, pr-kubekins doesn't need to access kubeflow-ci, it has access to write to kubernetes-jenkins bucket, whenever you are ready to upload artifacts there.

[2018-03-14 18:46] lluunn commented on #18
We actually have two clusters here: the first one (cluster A) is under your kubernetes infra, which has pr-kubefins. Cluster A will launch a workflow in our cluster B under project kubeflow-ci (that's why we granted pr-kubekins permission to kubeflow-ci ). Cluster B does the  real work and needs to write to kubernetes-jenkins, but it doesn't have access now.

[2018-03-14 18:53] krzyzacy commented on #18
@lluunn ahh.. right, I forgot about that. Shall I remove kubeflow-testing@mlkube-testing.iam.gserviceaccount.com?

[2018-03-14 18:54] lluunn commented on #18
Can we do that after we migrate everything to kubeflow-ci and make sure it's passing?

[2018-03-14 18:55] krzyzacy commented on #18
ok, added kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com

[2018-03-14 18:55] lluunn commented on #18
So kubeflow-testing@kubeflow-ci.iam.gserviceaccount.com  will have access to kuternetes-jenkins?

[2018-03-14 18:55] lluunn commented on #18
Cool thanks!

[2018-03-14 22:47] lluunn commented on #18
The NFS server was in a different zone from the k8s cluster. I deployed a new one in the same zone:
kubeflow-test-nfs

[2018-03-15 01:02] lluunn commented on #18
Test is now running in kubeflow-ci.
kubeflow/kubefow should pass now.
kubeflow/tf-operator is waiting for https://github.com/kubeflow/tf-operator/pull/459

[2018-03-15 19:37] lluunn commented on #18
TODO: update the argo ui to point to the new cluster

[2018-03-17 21:45] jlewi commented on #18
I updated testing-argo.kubeflow.org to point to: 35.227.214.243
Old ip was 35.190.88.165

[2018-03-19 00:49] jlewi commented on #60
This doesn't appear to be fixed.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/62/kubeflow-testing-presubmit/77/

Still reports as the workflow
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-tf-serving-image-445-bcec1a8-681-30cc?tab=workflow

We most likely need to rebuild the testing image since run_e2e_workflow.py is

[2018-03-19 00:57] jlewi commented on #60
I take that back run_e2e_workflow.py should be checked out from kubeflow/testing via checkout.sh.

And the URLs now appear to work. Marking this as fixed.

[2018-03-19 00:57] #60 closed

[2018-03-19 12:42] jlewi commented on #6
@mhausenblas Are you still thinking of taking this on?

[2018-03-19 17:14] jlewi commented on #6
I did some initial experimentation this morning.

* I looked at [kubetest](https://github.com/kubernetes/test-infra/tree/master/kubetest) but it didn't seem to offer any support for minikube.

* I setup minikube on a GCE VM using driver=None.
* I was able to connect to that minikube deployment from a pod running in an actual GKE cluster by

  *  Copying the .kube directory to the pod from the VM

[2018-03-20 07:30] mhausenblas commented on #6
Thank you @jlewi and yes, I plan to work on it next week (on travel now) but if you want to have it earlier, feel free to start the work and I chime in when I'm back home?

[2018-03-20 18:06] jose5918 opened #71 "Create more generic testing files based on tf-operator python files"
I'm referring to this set of files: https://github.com/kubeflow/tf-operator/tree/master/py

For example there should be a generic version `deploy.py`  to deploy a cluster without tf specific params such as https://github.com/kubeflow/tf-operator/blob/master/py/deploy.py#L144

[2018-03-20 18:24] jose5918 opened #72 "Truncate workflow name in prow_config.yaml"
Found  that if the workflow name is too long in prow_config.yaml I get this error:
[code]
Should probably truncate or provide a warning to to the user.

[2018-03-20 21:16] jlewi commented on #6
Sounds great. Let me see how far I can get this week.

[2018-03-21 00:46] jlewi commented on #5
We have the following groups

ci-team@kubeflow.org
ci-viewer@kubeflow.org
   - View only access to stackdriver logs.

[2018-03-21 01:08] jlewi opened #75 "Add labels to workflows"
Related to #72  (truncate workflow name)

Right now we encode a lot of information in the workflow name. The pattern is

{ORG}-{REPOSITORY}-{PROW-JOB-TYPE}-{WORKFLOW-NAME}-{PR-NUMBER}-{RANDOMNESS}

It would be good to start using labels to represent this information. This would make it easier to filter and select workflows.

[2018-03-21 12:56] tmckayus opened #78 "Add e2e testing on OpenShift"
The ultimate goal would be to have Argo able to run multiple testing workflows on different platforms.

A first step would be a setup that can be used to run the e2e tests locally on an OpenShift cluster.

[2018-03-21 23:00] jlewi commented on #78
@tmckayus You might want to take a look at kubeflow/kubeflow#473

That PR added minikube support to our E2E tests. This works is follows

1. One step in the workflow deploys minikube (in this case by creating and deploying it on a GCE VM)
2. We store on our NFS share a .kube/config file suitable for configuring kubectl / kubernetes API to talk to the K8s cluster deployed on minikube
3. Subsequent

[2018-03-23 00:13] #45 closed

[2018-03-23 18:08] jlewi opened #81 "Test cluster is running out of disk quota"
Error

[code]

This happened on kubeflow/tf-operator#485

[2018-03-23 18:13] jlewi commented on #81
Our test cluster has 7 nodes (I think autoscaling is on)
Our boot disks are 100 Gb so our test cluster should be using ~700Gb
Our NFS VM uses 1Tb.

The tf-operator E2E spins up GKE clusters which requires additional disks which is where we get the error listed in the previous comment.

[2018-03-23 18:16] jlewi commented on #81
I appear to have leaked some PDs from my minikube testing.

[code]

[2018-03-23 18:19] jlewi commented on #81
My guess is this was a result from not configuring auto-delete on the PDs. I'm manually deleting them now.

[2018-03-27 03:19] jlewi commented on #53
UI is having problems again.

Currently 697 workflows

[wf.list.txt](https://github.com/kubeflow/testing/files/1850273/wf.list.txt)

Delete workflows more than a day old

[2018-03-27 05:01] alexmt commented on #53
@jlewi, unfortunately, Argo GC is still not implemented. UI is not performing well since it does not have pagination (because kubernetes api does not have pagination yet)

As a workaround, you might try argo v2.1.0-alpha1 +.  UI had been migrated to React and can render much more workflows.

[2018-03-27 12:20] jlewi commented on #53
@alexmt Great thank you so much.

[2018-03-27 13:18] jlewi commented on #81
Fixed.

[2018-03-27 13:18] #81 closed

[2018-03-27 13:23] jlewi opened #82 "Write metadata to gubernator at start of run."
In Gubernator, we display metadata that has links to the Argo workflows.

This metadata is stored in finished.json
https://github.com/kubernetes/test-infra/tree/master/gubernator

We currently write finsihed.json after the test finishes. But this means the handy links to the Argo workflows aren't available until the job finishes.

I wonder if we could wrote finished.json at the start of the test b

[2018-03-27 13:24] jlewi commented on #82
/cc @rmmh

[2018-03-27 17:11] krzyzacy commented on #82
I think that can work, or we can grab fields from start.json?

[2018-03-27 18:46] jlewi commented on #82
The docs don't list metadata as one of the respected fields in start.json
https://github.com/kubeflow/testing/issues/82#issuecomment-376603079

But that would be useful IMO.

[2018-03-28 18:49] jlewi opened #87 "Cron job to garbage collect test resources"
Our tests create a bunch of resources
- Argo workflows
- Namespaces
- GCE VMs
- GKE clusters

Most of these resources (exception is Argo) should be GC'd by the teardown steps in our tests. But some failures/bugs prevent resources from being GC'd.

It would be good to have a cron job to periodically garbage collect old resources like namespaces.

[2018-03-28 18:53] jlewi opened #88 "DO NOT SUBMIT presubmit check"
It would be good to have a presubmit check that will automatically fail if a string like "DO NOT SUBMIT" appears anywhere in the patch.

I'm not sure if this is something prow already supports.

[2018-03-28 21:05] jlewi opened #89 "checkout.sh doesn't work with branches"
Example PR: kubeflow/kubeflow#524

Error we observed was

[code]

[2018-03-28 21:46] jlewi commented on #89
This is not an issue with branches. Something else was happening here.

[2018-03-28 21:46] #89 closed

[2018-03-28 23:45] jlewi opened #90 "Turn down mlkube-testing"
We should delete the GKE cluster in mlkube-testing after migrating to kubeflow-ci

Blocked by kubeflow/examples#63

[2018-03-28 23:46] jlewi commented on #18
kubeflow-ci is setup.
Need to migrate some of the repos to use it.

[2018-03-28 23:46] #18 closed

[2018-03-29 22:28] jlewi opened #91 "Gubernator hyperlinks to GitHub don't work"
In Gubernator the Refs links don't work for us. It ends up trying to go to kubernetes/kubernetes
https://github.com/kubernetes/kubernetes/commit/a7511ff284621e4d88dba2354b048d57965a4011

[2018-03-30 13:16] jlewi opened #92 "Argo UI not serving at http://testing-argo.kubeflow.org/"
The kubeflow-testing cluster was recreated yesterday.

/assign jlewi

[2018-03-30 13:17] jlewi commented on #92
ingress exists and is using IP address
35.186.244.175

[2018-03-30 13:20] jlewi commented on #92
Our DNS record however is using 35.227.214.243

[code]

[2018-03-30 13:28] jlewi commented on #92
So it looks like our ingress may not be using the reserved ip.

It doesn't look like argo-ui is new or has changed.

[code]
ingress doesn't appear to be annotated to use static IP

[code]

[2018-03-30 13:30] jlewi commented on #92
But the annotation should be here.

[code]

[2018-03-30 13:41] jlewi commented on #92
So it looks like there are two issues

1. In cloud console the addresses
   35.190.53.122 & 35.186.244.175 are associated with the same rule
1. DNS record isn't mapping to the correct IP (looks like it never was)

My hunch is the two are related. My guess is when we first deployed it problem 1 occurred; so we got 2 ip addresses associated with the argu-ui and we used the ephmeral one in DNS

Both

[2018-03-30 13:43] jlewi commented on #92
I updated the DNS records to use http://35.190.53.122

[2018-03-30 13:46] jlewi commented on #92
Looks like a bug with the ingress spec. annotations should be inside metadata

[code]

[2018-03-30 14:01] jlewi commented on #92
I deleted
   - ingress
   - forwarding rules
   - backend services

[2018-03-30 16:25] jlewi commented on #92
Redeployed the ingress

http://testing-argo.kubeflow.org/workflows
is working

Fixes are in #93

[2018-03-30 16:55] #92 closed

[2018-03-31 01:33] jlewi opened #95 "Auto-push Kubeflow deployments corresponding to different Kubeflow versions."
It would be nice if we could auto-push dev.kubeflow.org or perhaps create another environment nightly-dev.kubeflow.org.

There are certain changes like UI that are difficult to test manually. It would be useful if we had an up todate environment.

I think we could easily adapt our E2E tests to do this and then just run it as a cron job.

[2018-04-01 19:58] dlorenc commented on #6
Note that you can also use nested virtualization and the kvm2 driver on gce for a more traditional minikube testing setup.

[2018-04-02 23:42] jlewi commented on #6
Basic testing is done.
We should consider whether we want to run some of our other tests on minikube as well.

[2018-04-02 23:42] #6 closed

[2018-04-03 01:34] kunmingg opened #96 "Create bot user to execute repo management tasks."
We need a bot Github account with (minimum necessary) access to repos in kubeflow org in order to automate repo management.
This bot will be responsible for tasks like label sync (https://github.com/kubeflow/community/issues/24), and in future PR scan, issue update.

We'll have a kubeflow.org group as owner of bot user.

[2018-04-03 12:26] jlewi commented on #96
I create the mailing list
ci-bot-owners@kubeflow.org

I gave access to the google-team@kubeflow.org, redhat-team@kubeflow.org, and caicloud-team@kubeflow.org

The bot will most likely have write access to our repositories so we will want to narrowly scope access and may need to restrict it in the future.

[2018-04-04 18:18] jlewi commented on #95
It might be interesting to look at using Weave Flux
https://www.weave.works/blog/gitops-operations-by-pull-request

Weave Flux supports keeping K8s infrastructure in sync with config defined in a git repository.

Not sure if ksonnet is supported yet.

[2018-04-04 21:54] jlewi commented on #96
This is the bot
https://github.com/kubeflow-bot

[2018-04-04 21:56] jlewi commented on #96
I sent an invite to add the bot to the Kubeflow org and kubeflow-bots team

[2018-04-04 22:25] jlewi commented on #96
@kunmingg is going to share the password with Googlers via an internal system. Only reason we are restricting to Googlers for now is because we haven't picked a public system for managing keys.

Google's KMS is one option.

[2018-04-05 05:28] elsonrodriguez opened #100 "[MAINTENANCE] Expand kubeflow-ci cluster to add gpus and cpus."
This'll cause a momentary blip.

[2018-04-05 05:33] elsonrodriguez commented on #100
This is done.

Old Cluster size:
3X n1-standard-8
1x  n1-standard8,2xK80

New cluster size:
4X n1-standard-8
2x  n1-standard8,2xK80

[2018-04-05 05:33] #100 closed

[2018-04-05 23:50] #96 closed

[2018-04-07 17:41] kunmingg opened #102 "Fix prow merge's incompatibility with new synced labels."
During label [auto-sync](https://github.com/kubeflow/community/issues/24), we had a label rename: "do-not-merge/work-in-progress" -> "status/in progress", which might cause prow merge uncompleted PR.
One false positive merge here: https://github.com/kubeflow/community/pull/41#issuecomment-379425033

To fix it:
#### 1. revert all false merges on affected repos (see affected repo list below)
#### 2.

[2018-04-07 18:41] jlewi commented on #102
So is the plan to keep the label `do-not-merge/work-in-progress` ?

[2018-04-07 18:42] jlewi commented on #102
/assign @kunmingg

[2018-04-07 18:43] jlewi commented on #102
I checked kubeflow/testing - it looks like we haven't given write access to the team ci-bots instead we gave direct access to the user k8s-ci-robot. We will need to change that so those other repos are sync'd as well.

But we should wait until issues with the label sync are fixed?

[2018-04-08 02:06] kunmingg commented on #102
Agree, easiest way is keep ```do-not-merge/work-in-progress``` label. Will add it back.
I checked recent PRs in the 7 affected repos, haven't found another false merge.
If you noticed any please let me know.

[2018-04-09 20:56] jlewi opened #103 "Optionally ignore some E2E test failures to let new tests bake"
See kubeflow/kubeflow#558
When adding a new E2E test we might want to turn it on but not mark failures as blocking/failures because we want to bake the test before making it blocking.

We could do this as follows

1. in prow_config.yaml add options to indicate a workflow shouldn't be counted as a failure
1. If a workflow as marked as ignore don't take it into account when
   - Marking the prow job

[2018-04-10 19:40] lluunn commented on #103
It's not easy to tell whether a failure in junit file should be ignore or not.

[2018-04-12 21:42] jlewi commented on #103
Why does that matter? We only want the ignore to apply to the GitHub status check that prow reports so that we can mark a test as not blocking merges.

The GitHub status check is based on the exit code which we compute in run_e2e_workflow.py based on

- Did argo workflows succeed
- Were there any junit files with failures

So our config file would just have to allow us to ignore an argo workflow a

[2018-04-12 21:44] jlewi opened #106 "Make ISTIO deployment part of our dev environment"
Our dev environment depends on ISTIO for monitoring.

We should document the ISTIO setup in
https://github.com/kubeflow/testing/blob/master/dev-kubeflow-org/README.md

We should also update the shell scripts necessary.

/assign @lluunn

[2018-04-12 21:55] lluunn commented on #103
Yes we need that metadata to tell whether a junit file can be ignored.

[2018-04-13 21:40] #106 closed

[2018-04-16 13:52] jlewi commented on #102
@kunmingg I think this is fixed right? Can we close it?

[2018-04-16 17:07] #102 closed

[2018-04-20 12:51] jlewi opened #108 "E2E testing for Katacoda Kubeflow Scenarios against Kubeflow at HEAD"
Katacoda just added another Kubeflow scenario (the GH issue summarization example).

It would be great if we could work with Katacoda on figuring out how to test these scenarios against the latest version of Kubeflow.

[2018-04-23 20:39] pdmack opened #112 "minikube VM unavailable for e2e kubeflow-presubmit check"
/cc @jlewi
/cc @Jimexist

PTAL

#36 took out the `ssh` install from #76 in the test-worker image. But a bunch of commits since then too. 😞 Somehow the updated image just got pushed to kubeflow-ci in the past 3 days.

[code]

[2018-04-23 20:42] pdmack commented on #112
/cc @jiezhang

[2018-04-23 21:46] jlewi commented on #112
Latest is currently pointing to this image
https://console.cloud.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:3a13f91c9cfe5a45608bd0e924711a62dd836b309d1c5b5a90880e6ff3d0b75f/details/info?project=kubeflow-ci

I moved it to this image built on 3/20
https://console.cloud.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:4df23d938e21a8e3ae449c1647388a585cae97748e216650f31677c

[2018-04-23 21:55] pdmack commented on #112
Yeah, confirmed from my -ad-hoc testing in gcloud.

[2018-04-26 04:57] jlewi commented on #112
Thanks for the fix.

[2018-04-26 04:57] #112 closed

[2018-04-27 19:47] jlewi opened #115 "What is kubeflow-ci-yxshi for?"
There's a gke cluster kubeflow-ci-yxshi in kubeflow-ci.

What's this for?

/assign @yixinshi

[2018-04-30 00:30] jlewi commented on #90
Deleted the cluster: kubeflow-testing in project mlkube-testing.

[2018-04-30 00:32] jlewi commented on #90
I marked project mlkube-testing for deletion.

[2018-04-30 00:32] #90 closed

[2018-05-01 22:51] yixinshi commented on #115
Deleted. I used it for GPU testing.

[2018-05-01 22:52] yixinshi commented on #115
/close

[2018-05-01 22:52] #115 closed

[2018-05-09 17:28] ankushagarwal commented on #87
`/mnt/test-data-volume` also needs GC. It ran out of space yesterday.

[2018-05-10 12:02] jlewi opened #124 "Jsonnet utility function to parse prow_env to a dictionary"
In our E2E jsonnet workflows we pass prow environment variables as a string of comma separated key value pairs

e.g

[code]

It would be nice to parse this into a dictionary of key value pairs so that we could easily reference these parameters in jsonnet by name. Here is a snippet to do that. It would be nice to define this as a utility function in a common location.

[code]

[2018-05-10 18:37] jlewi opened #125 "Tests failing; Looks like run_e2e_workflow.py is not waiting for workflows to finish"
See for example
https://github.com/kubeflow/kubeflow/pull/787

Logs here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/787/kubeflow-presubmit/1462/?log#log

Relevant bit:

[code]

So looks like we ended while workflows were still running.

[2018-05-10 18:44] jlewi commented on #125
Doesn't look like run_e2e_workflow.py has changed in a while. But I do think we upgraded Argo recently.

[2018-05-10 18:53] jlewi commented on #125
My conjecture is that wait_for_workflows raises an exception (after calling log_status).
This doesn't show up in the log uploaded to prow because it we don't catch it and in the finally blog we upload the current log to prow. So the exception will get propogated and cause the process to exit but it won't be captured in the log uploaded to prow.

[code]

[2018-05-10 18:57] jlewi commented on #125
Yup that's the problem

If we get the logs for the pod run by prow [see here](https://github.com/kubeflow/testing#no-results-show-up-in-gubernator)
[code]

[2018-05-10 19:05] jlewi commented on #125
So the workflow it can't find is "kubeflow-presubmit-kubeflow-gke-deploy-787-f893ce6-1462-040e"

http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-gke-787-f893ce6-1462-b429?tab=workflow

Looks like there is a name mismatch so its a particular issue with my PR.

[2018-05-10 19:55] jlewi opened #127 "Why is travis running?"
On this PR
https://github.com/kubeflow/testing/pull/126

travis ran and failed. Did someone enable travis? To my knowledge we don't use Travis in this repo.

[2018-05-10 19:57] jlewi commented on #127
It looks like we just disabled travis #123

[2018-05-10 20:01] jlewi commented on #127
It looks like the option in travis to only build if .travis.yaml was enabled wasn't set.

I also deleted the travis app for this repository since we aren't using it.

[2018-05-10 20:01] #127 closed

[2018-05-11 21:08] lluunn commented on #87
We have >1000 workloads in the cluster.

![screenshot from 2018-05-11 14-07-06](https://user-images.githubusercontent.com/32310205/39946866-b96e9d36-5524-11e8-8e3f-f9312c442ef1.png)

[2018-05-14 18:44] jlewi commented on #125
/close

[2018-05-14 18:44] #125 closed

[2018-05-14 19:58] pdmack opened #129 "ks show error blocking kubeflow-presubmit"
/cc @jlewi
/cc @ankushagarwal

[code]

<snip>

[code]

[code]

Are double-quotes valid for ks 0.9.1? Do we need to upgrade ksonnet?

[2018-05-14 20:05] ankushagarwal commented on #129
Do you have a link to the presubmit?

[2018-05-14 20:15] pdmack commented on #129
https://prow.k8s.io/log?job=kubeflow-presubmit&id=1506

[2018-05-14 20:18] ankushagarwal commented on #129
Is it for https://github.com/kubeflow/kubeflow/pull/786

Can you try `/retest`

[2018-05-14 21:06] pdmack commented on #129
That PR branch for kubeflow/kubeflow#800 is out of date by 2 months. Could that be messing up the test?

[2018-05-15 00:02] jlewi commented on #129
If PR is outdated that could explain why the test is failing.

Post submits are passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

Also I see passing presubmits
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

So most likely an issue with the individual PR.

[2018-05-15 14:49] pdmack commented on #129
Confirmed that PR was out-of-date. Passing presubmit now.

[2018-05-15 14:49] #129 closed

[2018-05-16 00:46] jlewi commented on #95
Here's an idea for how to make progress

1. We could use cron job to regularly run recreate_app.sh
1. Create a PR using [hub](https://github.com/github/hub) CLI for GitHub
1. Manually approve the PR

Either use argo-cd or a cron job to call redeploy_app.sh to keep the deployed instance in sync with what's checked in.

[2018-05-22 01:19] jlewi opened #135 "Delete katib ui forwarding rules in kubeflow-ci"
[code]

[2018-05-22 01:19] jlewi commented on #135
Not sure what these are from but I deleted all the katib rules

[2018-05-22 04:34] jlewi opened #136 "Test failures: not enough IP addresses"
See kubeflow/kubeflow#837

[code]

Current quota.

[code]

[2018-05-22 04:35] jlewi commented on #136
Here are the VMs in kubeflow-ci

[code]

[2018-05-22 04:39] jlewi commented on #136
kubeflow/kubeflow#747 - closed
kubeflow/kubeflow#748 - closed
kubeflow/kubeflow#751 - closed
kubeflow/kubeflow#777 - closed
kubeflow/kubeflow#792 - closed
kubeflow/kubeflow#798 - open but looks like presubmit ran a while back

So looks like all the minikube VMs were failures to garbage collect.

[2018-05-22 04:39] jlewi commented on #136
Deleted the minikube VMs manually.

[2018-05-22 04:39] #136 closed

[2018-05-22 15:47] pdmack opened #137 "ksonnet 0.10.2 invalid field name "prow_env""
Possibly related to #124.

/cc @jlewi

[code]

[2018-05-22 16:46] pdmack commented on #137
kubeflow/kubeflow#786

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/786/kubeflow-presubmit/1612/

[2018-05-23 00:42] everpeace commented on #137
Let me apologize for breaking e2e test and bothering you  🙇   I would like to dig the cause.

[2018-05-23 02:16] jlewi commented on #137
No apologies needed not your fault we have no way of catching this with presubmits.

[2018-05-23 02:25] everpeace commented on #137
hmmm.  this seems to be a bug of ksonnet.  This reproduces in the very simple tutorial example...

[code]

I will open an issue on ksonnet repo.

[2018-05-23 02:35] everpeace commented on #137
I did open a issue on ksonnet repo:  https://github.com/ksonnet/ksonnet/issues/554

[2018-05-25 18:04] pdmack opened #142 "issue-summarization having problems with Liveness/Readiness probes"
issue-summarization struggling on dev.kubeflow.org but logs show it's otherwise healthy.

/cc @jlewi
/cc @texasmichelle

[code]

[2018-05-25 18:12] pdmack commented on #142
/label flake

[2018-05-25 18:40] pdmack commented on #142
Flake I think. Looks more stable now. Perhaps related to the envoy/ingress hiccups.

[2018-05-26 18:40] jlewi commented on #142
I recall there being some issue with seldon and the liveness probe but I can't find it.

[2018-05-29 15:33] pdmack opened #144 "/home/jovyan not mounted in dev.kubeflow.org"
/assign @pdmack

Despite `NOTEBOOK_PVC_MOUNT=/home/jovyan` being set in JH and the user PVC/PV created from the default StorageClass, `/home/jovyan` is not being mounted.

The reason is that the `github-issues-data` PVC overwrites **all** volumes and volume_mounts when it is attached.

From the JH ConfigMap:
[code]

[2018-05-31 12:43] everpeace commented on #137
Next version of ksonnet will fix this issue. https://github.com/ksonnet/ksonnet/pull/567 fixes above two issues( ksonnet/ksonnet#554 and ksonnet/ksonnet#504)

[2018-05-31 13:31] #144 closed

[2018-06-05 19:21] jlewi opened #147 "Test flake: Exception getting workflow status"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/921/kubeflow-presubmit/1924/?log#log

Logs show

[code]

All the workflows completed successfully so it looks like a temporary issue getting the status

We should add some retry logic to waiting for the status so we don't fail just because we got an error.

[2018-06-05 19:37] ankushagarwal commented on #147
I have been seeing this _very_ frequently

[2018-06-06 02:01] jlewi opened #150 "Run E2E tests selectively based on modified source files"
I think we'd like to be able to trigger certain E2E workflows only when certain files are changed.

Example, if we have an E2E test for TFServing, we should only need to run that in presubmit/postsubmits if a subset of code actually changed.

One proposal is in prow_config.xml, for every workflow we could specify include/exclude expressions and we would only run a test if the files modified matche

[2018-06-06 22:33] #147 closed

[2018-06-11 16:02] jlewi opened #154 "Add area/inference and map inference to it"
We should have a label area/inference for issues related to inference.

We have the existing label inference that should be mapped to it.

/assign @lluunn

[2018-06-12 01:55] jlewi commented on #53
1330 workflows

Deleted workflows older than 3 days to make UI more responsive.

[2018-06-14 00:39] lluunn commented on #154
updated the kubeflow_label.yml and the configmap. It should be updated by cronjob later.

[2018-06-14 17:23] lluunn commented on #154
It's updated

[2018-06-14 17:23] #154 closed

[2018-06-14 23:55] pdmack opened #162 "Re-organize d.k.o for improved update automation"
/assign @pdmack

ks 0.11 has a modules feature which may be useful for separating the update lifecycles of some of the various components in the overall d.k.o app.

/cc @jlewi

[2018-06-15 00:38] pdmack opened #163 "redeploy_app.sh needs new secret for envoy IAP"
e.g.,
[code]

/cc @jlewi

[2018-06-18 20:12] pdmack commented on #78
I believe this would likely make use of [minishift](https://github.com/minishift/minishift) as opposed to the other "quick" alternative, `oc cluster up`. The latter depends on docker being appropriately configured for insecure registry.

In this regard it would be almost identical to the minikube e2e setup.

[2018-06-21 12:49] jlewi commented on #163
@pdmack Is this fixed? Can we close this issue?

[2018-06-21 12:57] pdmack commented on #163
Your manual fix is in place but redeploy_app.sh isn't updated.

[2018-06-29 02:42] jlewi commented on #95
kubeflow/kubeflow#1100

Added a script for upgrading the ksonnet application.

[2018-07-06 01:43] jlewi opened #166 "[Test Flakes] Bump the timeout waiting for the test workflows to complete"
In kubeflow/kubeflow#1109 we are seeing a lot of timeouts waiting for workflows to complete but the workflows end up completing.

So we should bump the timeout.

This will require pushing a new test image since the run_e2e_workflow.py code is baked into the docker image.

[2018-07-06 01:50] jlewi commented on #166
/assign @jlewi

[2018-07-06 12:22] jlewi commented on #150
Bumping to P1 because test flakes are becoming a major headache. Being able to selectively run tests should help.

I think we can do something like add includes and excludes sections to each workflow in prow_config.yaml. These could be regexes or globs used to match paths.

[2018-07-06 17:05] jlewi commented on #166
I pushed a new test-ci-worker image.

[code]

[2018-07-06 17:05] #166 closed

[2018-07-06 17:13] jlewi opened #168 "Project velocity negatively impacted by test infra problems"
This is an uber bug to discuss how to identify problems with our test infrastructure.

Background:
kubeflow/kubeflow#1109 is an example of how velocity is being negatively impacted by test flakiness. None of the code in that PR is actually tested by the presubmits yet they repeatedly fail blocking the PR.

High level conjectures
  1. We are running too many tests on presubmit; developers are block

[2018-07-06 17:18] jlewi opened #169 "[Test Flake] E2E test can't get workflow status; problems connecting to K8s master; need longer retry window"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1109/kubeflow-presubmit/2391/?log#log

Here are the logs run run_e2e_workflow.py

[logst](https://github.com/kubeflow/testing/files/2171401/build-log.6.txt)

[2018-07-06 18:18] jlewi commented on #169
Seeing it while polling for workflow status as well

[code]

It looks like the retry window is pretty short; 4 seconds.

So I think we need to do the following

1. Add exponential backoff to submission of workflows with a max retry window of O(minutes)
1. Add exponential backoff to get workflow status with a max retry window of O(minutes)

[2018-07-06 21:08] jlewi commented on #169
Still seeing test flakes even with longer timeout.
In kubeflow/kubeflow#1133; we were retrying for 4 minutes and it still failed.

Stack trace is:

[code]

Error is

[code]

So the problem is we can't establish a connection to the master.

[2018-07-06 21:13] jlewi opened #171 "[Test Reliability] Measure uptime / availability of K8s APIServer"
See #169

We are seeing test flakes caused by problems connecting to the APIServer to get workflow status.

To help debug/troubleshoot, it would be great if we had a signal that was indicating the availability of the status of the APIServer so that we could see how often this was a problem and use this to calibrate things like backoff and retry periods.

Is there a signal we can use?

[2018-07-06 21:20] jlewi commented on #169
Autoscaler is showing errors like the following

[code]

[2018-07-06 21:23] jlewi commented on #171
Autoscaler logs shows a lot of errors like

[code]

10.39.240.1 is the service "kubernetes" which I think is the master/APIServer. So it looks like other programs are having trouble talking to the K8s master.

[2018-07-07 00:10] jlewi opened #173 "Configure Prow Tide to ignore unknown contexts"
See
https://github.com/kubernetes/test-infra/issues/7140#event-1721058960

It should now be possible to configure contexts like Reviewable and Test Status not to block tide auto merging.

I'm not sure what settings we want. Maybe we want to set it to ignore unknown contexts?

[2018-07-09 20:52] jlewi commented on #150
@richardsliu Any interest in taking a stab at this?

[2018-07-09 21:44] richardsliu commented on #150
Sure, I can take a look.

[2018-07-09 22:47] jlewi opened #175 "Have dev clusters for head and stable."
Right now we have dev.kubeflow.org. But its not clear what it points to; e.g stable release? head?

I think it would be useful to have two different deployments.

* One that points to the latest stable release
* head

/assign @richardsliu

[2018-07-10 18:53] #163 closed

[2018-07-14 21:02] jlewi opened #177 "Enable new stackdriver agents on test cluster"
We should enable the new stackdriver agents on cluster kubeflow-ci so that we can fetch logs by pod label

[2018-07-14 21:17] jlewi opened #179 "Show cluster name and namespace in the Gubernator as well as stackdriver links"
Gubernator allows us to report metadata (e.g. Argo links) to facilitate debugging.

As the test debugging [page](https://github.com/kubeflow/testing#debugging-failed-tests) other information that would be useful to know would be

* GKE cluster or VM used to actually deploy Kubeflow on
* Namespace in cluster kubeflow-testing that the Argo workflow ran in
* Stackdriver links to
   * Container logs f

[2018-07-17 17:07] lluunn opened #181 "Don't need to test jsonnet format in both minikube and gke"

[2018-07-18 12:14] jlewi commented on #87
There is a proposal in the community to add a TTL field to K8s jobs
kubernetes/kubernetes#64470
Design doc: https://goo.gl/YxtxTi.

Hopefully this will be generalized to Argo workflows.

[2018-07-20 13:42] jlewi commented on #181
My suggestion would be to move jsonnet testing into its own workflow.

I think we should have a common workflow for running

- Lint tests
- unittests

See #11

[2018-07-20 15:38] #150 closed

[2018-07-23 21:29] jlewi opened #182 "Provide an excludes option to files that trigger an E2E test"
Right now our E2E tests can be configured to only be triggered when certain include paths are specified.

It might also be convenient to specify excludes.

I guess one question that arises is what to do when both an include & exclude path is provided.

[2018-08-03 18:11] lluunn commented on #53
deleted 1391 workflows older than 3d

[2018-08-10 06:43] jlewi commented on #53
Deleted 307 workflows; older than 3d

[2018-08-10 13:54] jlewi commented on #175
This is fixed.

[2018-08-10 13:54] #175 closed

[2018-08-10 19:57] jlewi opened #187 "Trigger E2E tests based on regex matching modified files"
Right now we can trigger tests only when certain directories are modified.

But we'd like to be able to scope a trigger to specific files. An example is for our E2E tests we don't want to run minikube on presubmit except in the situation where the minikube E2E workflow test was itself modified.

[2018-08-12 00:11] jlewi opened #190 "Cron job to delete leaked resources from E2E tests"
in #189 we added a script to cleanup old resources left by tests.

We should turn that into a cron job.

[2018-08-15 12:33] jlewi opened #191 "Disable spartakus reporting in CI tests"
When we switched to kfctl.sh in our CI tests I don't think we disabled spartakus; so our test clusters are inflating our metrics.

We should disable it in our tests.

We should do the same for the chainer operator.

[2018-08-15 22:06] richardsliu commented on #187
This might already work. The include_dirs are already in regex format and are being checked with fnmatch: https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/run_e2e_workflow.py#L155

[2018-08-20 01:30] jlewi commented on #191
I think the only remaining work would be to disable it for the chainer operator.

[2018-08-23 04:34] jlewi opened #196 "pytests failing ImportError: No module named funcsigs"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/195/kubeflow-testing-presubmit/347/

[code]

I just upgraded the test worker image so that could be related.

New image:
gcr.io/kubeflow-ci/test-worker:v20180822-d8bc7c8-e3b0c4

Confirmed that in that image the import is broken.
Note its using python2.7 not python3.

[2018-08-23 04:35] jlewi commented on #196
Lets try an earlier image:
https://pantheon.corp.google.com/gcr/images/kubeflow-ci/GLOBAL/test-worker@sha256:03f5e12edd44b85e2ec5f9cace089723886b00f53c89ab164f7b2d8277f670d9/details?tab=info

[2018-08-23 04:41] jlewi commented on #196
gcr.io/kubeflow-ci/test-worker:v20180713-b8f1691-dirty-81baa6
import mock worked

[code]

[2018-08-23 06:16] jlewi commented on #196
Ne image:
gcr.io/kubeflow-ci/test-worker:v20180822-da7cefc-e3b0c4

based on #195

[2018-08-23 18:08] #191 closed

[2018-08-23 18:45] #196 closed

[2018-09-04 20:31] jlewi opened #199 "Tests are failing; Argo not responsive"
Example
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_tf-operator/817/kubeflow-tf-operator-presubmit/1078/?log#log

Gubernator shows results from some tests; but there are no links to the individual argo workflows and there are no build logs.

I used stackdriver to get the pod logs for the prow job and I see this.

[code]

My suspicion is that we have too many A

[2018-09-04 20:37] jlewi commented on #199
Maybe we need to add retries to the script that runs `ks apply`.

[2018-09-04 20:46] jlewi commented on #53
1726 workflows
Deleting 1601 workflows older >=3d

[2018-09-17 21:35] jlewi opened #202 "Automatically build and push gcr.io/kubeflow-ci/test-worker:latest on postsubmit"
It might be nice to use GCB to automatically build and push a new docker image on each postsubmit.

This would be a useful way to see if using GCB to build  the images is useful.

[2018-09-20 04:25] jlewi opened #204 "[Test Flake] argo_client wait_for_workflows doesn't handle retryable errors correctly"
Test flake:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1579/kubeflow-presubmit/3421/?log#log

Here's the exception

[code]

This should be a retryable error. We can see from the stack trace the retrying module is invoked.
We add retries to wait_for_workflows
https://github.com/kubeflow/testing/blob/a3a472bcac79319dd9e3188fcf886c2dda683867/py/kubeflow

[2018-09-20 04:28] jlewi opened #205 "run_e2e_workflow.py should create a junit XML file for each workflow"
run_e2e_workflow.py should create a junit file reporting success/failure of each Argo workflow and upload it to GCS.

This way test_grid will report success or failure of our Argo workflows.

Initial use case of this is so that we can use prow to track success/failure of our image release workflows (kubeflow/kubeflow#1574)

[2018-09-20 19:13] #204 closed

[2018-09-21 01:10] richardsliu opened #207 "Argo client should refresh credentials if OAuth token expired"
Currently if a workflow runs for more than an hour, the OAuth token would expire and subsequent k8s API calls would fail with a 401. A workaround is to reload the kube config when we receive an unauthorized response and retry.

[2018-09-21 03:43] jlewi opened #209 "k8s client doesn't periodically refresh GCP credentials"
See
   #207
   #208

We observed the argo client getting unauthorized errors when workflows took longer than an hour to run. This is because the OAuth credential is expiring and not being refreshed.

The K8s client should automatically be refreshing the OAuth credential but this doesn't appear to happen. In #208 we added a temporary workaround to force a refresh but we should figure out why its ne

[2018-09-21 20:54] richardsliu commented on #209
The bug appears to be in the K8S python client: https://github.com/kubernetes-client/python-base/issues/59

For now we'll need to keep a workaround on our side.

[2018-09-21 22:39] richardsliu opened #214 "Kubeflow_periodic prow job is always failing"
https://prow.k8s.io/?type=periodic&job=kubeflow-periodic

[2018-09-22 20:51] jlewi commented on #214
Here's the prow log

[code]
So it looks like the problem is in the case of a periodic job; the environment variables that our checkout.sh script depends on aren't set so we don't end up cloning the repo properly.

See here:
https://github.com/kubernetes/test-infra/tree/master/prow

checkout.sh should probably detect if its a periodic job and if it is I think we'll need to use the JOB_NAME to deter

[2018-09-24 18:04] #209 closed

[2018-09-27 20:56] jlewi commented on #53
Argo v2.2.0 now supports setting a TTLAfterSeconds flag.
https://github.com/argoproj/argo/blob/7864ad36788dc78d035d59ddb27ecd979f7216f4/pkg/apis/workflow/v1alpha1/types.go

We  need to do a couple things

1. Upgrade Argo
1. Start setting that on our workflows.
1. Consider adding an admission controller to ensure its set.

[2018-09-28 04:00] richardsliu opened #220 "Workflows failing with "find objects: revendoring packages for environment""
Examples:
https://prow.k8s.io/log?job=kubeflow-periodic-release-branch&id=2

INFO|2018-09-28T03:41:43|/src/kubeflow/testing/py/kubeflow/testing/util.py|62| time="2018-09-28T03:41:43Z" level=warning msg="Versioned packages stored in unversioned paths - please run `ks upgrade` to correct."
INFO|2018-09-28T03:41:43|/src/kubeflow/testing/py/kubeflow/testing/util.py|62| level=error msg="find objects: r

[2018-09-28 15:49] jlewi opened #221 "label sync failing"
Our label sync job doesn't appear to be running.

We recently added a 0.4.0 label and I didn't see it added to some repos.

related to kubeflow/community#173

[2018-09-28 17:44] jlewi commented on #221
Cronjob is setup in
project:kubeflow-ci
cluster: kubeflow-testing

[2018-09-28 17:45] jlewi commented on #221
Most recent job run failed

[code]

[2018-09-28 19:27] jlewi commented on #220
See: kubeflow/kubeflow#1540

[2018-09-28 19:35] richardsliu commented on #220
Can we make the ksonnet version an environment variable in the Dockerfile? Then we can build two versions of the test worker, say "latest" and "latest-0.12".

That way we can unblock the periodic tests, which require a newer version of the test-worker but won't work with 0.12.

[2018-09-28 21:55] jlewi commented on #220
Why does it need to be an environment variable in the Dockerfile?
run_e2e_workflow.py can figure out which ksonnet version to use just by look at app.yaml in the app dir specified in prow_config.yaml

We can install multiple versions of ksonnet in the same Docker image e.g
ks-11
ks-12

run_e2e_workflow.py can then just use figure out which version to use.

[2018-09-28 23:38] jlewi commented on #221
Here's the error

[code]

[2018-09-29 00:07] jlewi commented on #221
I upgraded to the latest label sync image from Kubernetes. It is now running successfully; output is below. But it doesn't seem like any labels are getting updated.

[code]

[2018-09-29 00:14] jlewi commented on #221
Value of the config is

[code]

[2018-09-29 00:39] jlewi commented on #221
I'm not seeing "Apply labels" in the logs
https://github.com/kubernetes/test-infra/blob/b289c7fc53ec7b8b087ed2b948b283a07f05c65a/label_sync/main.go#L528

So I don't think its detecting any changes.

[2018-09-29 00:40] jlewi commented on #221
Looks like the config may have changed and I'm missing "default"
https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml

[2018-09-29 00:50] jlewi opened #225 "Use prow updateconfig plugin to automatically update label sync config"
See: https://github.com/kubernetes/test-infra/tree/master/label_sync#our-deployment

We use a configmap to store the desired labels to be used by the label_sync job.
We can use the prow updateconfig plugin to keep that in sync with the version checked in so we don't need to update it manually

/priority p2

[2018-10-02 20:46] #214 closed

[2018-10-03 14:15] jlewi opened #229 "Presubmits are not properly detecting modified files"
Here's a run where we modified the Katib component but the PR ended up triggering the notebook release workflow. This shouldn't have happened since the release should only be triggered on
modifications to

[code]
and this shouldn't be one of the modified files.
PR links

https://github.com/kubeflow/kubeflow/pull/1687
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow

[2018-10-03 21:50] jlewi commented on #229
I think this is one way to find the common ancestore

[code]

[2018-10-05 01:10] #220 closed

[2018-10-08 13:11] jlewi commented on #221
Most recent cron runs are still failing with the following error;

Did I forget to update the cron job?

time="2018-10-08T12:43:31Z" level=fatal msg="failed to update kubeflow" error="failed to list labels: [status code 404 not one of [201], body: {\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"} status code 404 not one of [200], bo

[2018-10-08 13:14] jlewi commented on #221
Looks like it is using the container image built on 0921

[code]

[2018-10-08 17:05] jlewi commented on #221
Below are pod logs from failed runs. it looks like the pods exited with an error and were getting restarted.

I noticed a couple things
  * 404 error was occurring on trying to list labels for repos crd-validation and marketing-materials
  * Even though log message showed it was running an update; no labels were added to repo crd-validation

When I checked repos crd-validation and marketing-materi

[2018-10-08 22:58] kunmingg opened #233 "test image build broken"
How to reproduce: build image with
```docker build --no-cache ...```

related:
https://github.com/pypa/pipenv/issues/2924

[2018-10-08 22:59] kunmingg commented on #233
@jlewi
@richardsliu

[2018-10-08 23:00] richardsliu commented on #233
Did you try the workaround mentioned in the link?

[2018-10-08 23:07] kunmingg commented on #233
Doesn't work

[2018-10-11 21:04] kunmingg commented on #233
@jlewi
@r2d4

[2018-10-12 13:10] #221 closed

[2018-10-15 00:13] jlewi opened #234 "NFS share is out of space."
[code]

[2018-10-18 00:47] #234 closed

[2018-10-18 00:58] jlewi commented on #53
Running get wf was having problems on my local machine but when I ran it from within cluster it succeeded. I think its probably because there's so much K8s master traffic.

[2018-10-18 04:48] #233 closed

[2018-10-24 22:31] richardsliu opened #270 "Create a python unittest test runner that emits results as JUnit files for prow"
Quoted from https://github.com/kubeflow/tf-operator/pull/849:

Do we need our own "main()"? Could we just use unittest.main()? Or if need be subclass unittest.main()?

I think one of the advantages of reusing unittest.main() is that out of the box it supports a lot of useful parameters. e.g. we can run a single test

python my_module.py TestClass.test_func

Should Test Case subclass unittest.TestC

[2018-10-25 01:51] richardsliu opened #238 "Handle Argo workflow timeouts better"
We have some Argo test workflows that are running for an extremely long time. For example, this one has been running for 12 hours: http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kfctl-1774-9e57409-4022-26e6?tab=workflow&nodeId=kubeflow-presubmit-kfctl-1774-9e57409-4022-26e6-1733843370

These jobs take up resources and can block other tests from running due to quo

[2018-10-31 03:55] jlewi opened #239 "Create a GCP project for ModelDB work/experimentation."
Setup a GCP project for the modelDB team to experiment/test ModelDB with Kubeflow.

[2018-10-31 04:12] jlewi commented on #239
Created project:
org: kubeflow.org
project: kf-modeldb-dev

Shared access with modeldb-team@kubeflow.org.

[2018-10-31 04:12] #239 closed

[2018-11-02 02:39] jlewi opened #240 "test_py_checks needs more options for excluding tests"
Right now test_py_checks runs all python unittests it finds.

We should add the ability to exclude files e.g via regex.

The unittest module has decorators for skipping individual tests.
https://docs.python.org/2/library/unittest.html#skipping-tests-and-expected-failures

But sometimes we don't even want to import a test because it has dependencies that won't be in the generic test image

[2018-12-04 19:23] jlewi opened #242 "What to do about K8s CSV for testing and release clusters?"
See:
https://groups.google.com/forum/#!topic/kubernetes-announce/GVllWCg6L88

Recommendation is to upgrade K8s clusters. According to @kunmingg recommended versions aren't available in GKE.

We are working on finding out the recommendation for GKE.

/assign @kunmingg

[2018-12-04 21:27] #242 closed, assigned to kunmingg

[2018-12-05 18:36] richardsliu opened #243 "Periodically clean up /mnt/test-data-volume"
We should clean up /mnt/test-data-volume periodically (say weekly). Otherwise the share can be out of space and block all presubmits.

[2018-12-14 06:06] gyliu513 opened #247 "Getting a Power CI for Kubeflow"
We want to enable Kubeflow running on POWER, so it is better to enable POWER CI for Kubeflow as well.

Can anyone propose some help for how to enable this?

[2018-12-14 20:51] jlewi commented on #247
What is POWER?

[2018-12-14 20:52] jlewi opened #248 "Clean up clusters in kubeflow-dev"
Here's a list of clusters running in project

[code]
I think we can delete all of these except the last two.

[2018-12-14 20:52] jlewi commented on #248
/cc @inc0

[2018-12-14 20:54] inc0 commented on #248
feel free to delete mine

[2018-12-14 20:59] jlewi commented on #248
Activity logs:

https://console.cloud.google.com/home/activity?project=kubeflow-dev&organizationId=714441643818

Looks like

kf-latest created by @richardsliu
v100-gpu-2 created by @pdmack for RAPIDs testing

[2018-12-14 21:14] jlewi commented on #248
Query to get activity logs for CreateCluster

[code]

[2018-12-14 21:18] jlewi commented on #248
[code]

nv-dev was created by an engineer at nvidia.

[2018-12-15 02:53] gyliu513 commented on #247
Thanks @jlewi , please refer to https://www.ibm.com/it-infrastructure/power for what is POWER.

You may also see that Kubernetes now support x86, POWER and s390x for each release, this is because now many customers are using a mixed infrastructures for their cloud, so it would be great for Kubeflow CI enable POWER support. WDYT?

[2018-12-15 02:54] gyliu513 commented on #247
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#server-binaries

ppc64le is for POWER. @jlewi

[2018-12-17 20:19] pdmack commented on #248
I took down v100-gpu-2. Could spin up something similar if needed for more RAPIDS work, I'm assuming.

[2018-12-19 00:37] jlewi commented on #247
@gyliu513 got it so its an architecture that you want to test on.

[2018-12-19 00:45] jlewi opened #249 "Cron job to collect Kubeflow deployments launched by E2E tests"
Related to #87

Here's an example where tests failed because we ran out of quota in part because we had some extra kubeflow deployments from tests still running
https://github.com/kubeflow/kubeflow/pull/2107#issuecomment-448424301

We should aggressively garbage collect deployments in kubeflow-ci.

One way to do this would be a cron-job.

We could add labels to the Kubeflow deployment to store the

[2018-12-19 00:48] jlewi commented on #249
in #189 we added a script to cleanup old resources left by tests.We should turn that into a cron job.

[2018-12-19 00:49] jlewi commented on #190
Duplicate of #249

[2018-12-19 00:49] #190 closed

[2018-12-19 05:03] jlewi opened #250 "Maximum number of service accounts in kubeflow-ci project exceeded"
HIt this test failure

[code]

[2018-12-19 05:07] jlewi commented on #250
Looks like we have 91 service accounts.

[2018-12-20 14:07] jlewi opened #252 "Use GitHub App instead of account"
See
kubernetes/test-infra#10423
https://developer.github.com/apps/about-apps/

Right now we have a bot account and use personal access tokens. Managing this bot account is a pain (e.g. the bot account is basically a human account). I believe GitHub apps address this need and we should consider using that.

[2018-12-27 03:22] woop opened #254 "Set up test infrastructure for Feast"
We'd like to find out if it is possible to have a testing environment (GCP project) set up for testing [Feast](http://github.com/gojek/feast) [Kubeflow Issue #2141](https://github.com/kubeflow/kubeflow/issues/2141)

This would allow us to integrate and test Feast alongside Kubeflow and Kubernetes. As long as the GCP project exists, we should be able to deploy Prow to the environment and set it up

[2018-12-27 03:38] jlewi commented on #229
I confirmed by looking at #2127 that PULL_BASE_SHA will be updated to the latest commit on the master branch; so if we compute the diff w.r.t to it we will end up including changes not in the PR.

[2018-12-27 03:54] jlewi commented on #229
#255 should fix this issue; we should verify though before closing this issue.

If #255 is submitted in time we could just try re-triggering the tests for kubeflow/kubeflow#2127

[2018-12-27 14:19] jlewi commented on #254
Created project: **kf-feast** in kubeflow.org

[2018-12-27 14:49] jlewi commented on #254
Permissions are pending in kubeflow/internal-acls#37.
I think once that's merged we can close this issue.

@woop To the extent possible we prefer all GCP infrastructure to be managed declaratively (e.g. using Deployment Manager). So it would be great if you could check in DM configs to your repo corresponding to any infrastructure you create.

I made you an owner of the project. If you need to cha

[2018-12-27 14:52] woop commented on #254
Noted.

We currently use Terraform quite extensively. Do you have a strong preference for Deployment Manager? If it makes integration easier then we can pick it up.

Noted. Thanks!

[2018-12-27 16:28] jlewi opened #256 "Use a cron job to cleanup test directory on NFS rather than Argo"
Right now we have our Argo E2E test workflows delete the test directory on NFS after a test completes.

This has two draw backs

1. Directory isn't available for debugging
1. Test authors are responsible for adding the GC step

I think a better solution would be to run a cron job or other process to periodically clean up older directories on the NFS volume.

[2018-12-27 17:47] jlewi opened #257 "run_e2e_workflow.py should handle artifact management for prow"
run_e2e_workflow.py should handle prow artifact management; specifically

1. Creating the symbolic GCS link
   * https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/prow_artifacts.py
1. Copying artifacts to GCS

The advantage of moving this logic into run_e2e_workflow.py is that we don't have to add it to each E2E Argo workflow. This should make writing new E2E workflows simpler.

[2018-12-27 19:45] jlewi commented on #177
Bump to P1 because I think this would make debugging tests much easier.

[2018-12-27 19:52] jlewi opened #259 "Make it easy to run E2E Argo workflows on developers cluster; run E2E locally"
It would be very convenient if we could make it easy for contributors to spin up their own K8s cluster and run the E2E test workflows on it.

Ideally they'd be able to do this if they have

1. A K8s cluster
1. Argo deployed
1. A PVC for a read/write many volume

I think the main barriers to this are making it easy run the Argo workflows outside of prow

1. #257 will move prow artifact management o

[2018-12-28 01:36] jlewi commented on #248
I'm going to delete
dev-cluster
and
kubeflow

I believe these corresponded to previous attempts to have a dev cluster at dev.kubeflow.org
https://github.com/kubeflow/testing/tree/master/deployment

These clusters are super old at this point and dev-cluster is using a fair bit of CPU (72).

I'm using this script to delete the deployments
https://github.com/jlewi/kubeflow-dev/blob/master/kubeflow-de

[2018-12-28 02:33] jlewi opened #260 "run_e2e_workflow.py doesn't properly handle individual workflow failures"
Here's a failed test
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/kubeflow_examples/446/kubeflow-examples-presubmit/1077/?log#log

Logs are here
[
[build-log (15).txt](https://github.com/kubeflow/testing/files/2713821/build-log.15.txt)

run_e2e_workflow.py aborted with the following stack trace.

[code]

The test should be running 2 workflows. One of the workflows was successful

[2018-12-28 03:36] jlewi commented on #53
I deleted the namespace because deleting individual workflows wasn't working.

[code]

[2018-12-28 03:38] jlewi commented on #53
Waiting for the namespace to be deleted. Hopefully that succeeds.

[2018-12-28 03:41] jlewi commented on #199
Duplicate of #53

[2018-12-28 03:41] #199 closed

[2018-12-28 03:46] jlewi commented on #53
Namespace was successfully deleted.

Now redeploy test infra

[code]

ksonnet app is here:
https://github.com/kubeflow/testing/tree/master/test-infra

[2018-12-28 03:52] jlewi commented on #53
Argo UI is backup

[2018-12-28 03:59] jlewi commented on #53
I had to delete and recreate the nfs component

[code]

[2018-12-28 04:18] jlewi opened #262 "NFS test volume can't be mounted;"
Due to #53 we deleted the kubeflow-test-infra namespace because we had too many Argo workflows and we couldn't delete them individually.

After recreating the kubeflow-test-infra namespace there is a problem mounting the NFS volume used for the shared data.

According to the configs here:
https://github.com/kubeflow/testing/blob/master/test-infra/components/params.libsonnet

The NFS Server is
10.1

[2018-12-28 12:49] jlewi opened #264 "Use kfctl to create Kubeflow test cluster"
We should use a cluster created with kfctl to run Argo workflows for our E2E tests.

Right now there is a separate process for creating the test cluster
https://github.com/kubeflow/testing#setting-up-kubeflow-test-infrastructure

There are a lot of improvements we'd like to make

1. Make it declarative
1. Add IAP
1. Upgrade Argo

We'd also like to have KF clusters corresponding to each major relea

[2018-12-28 13:45] jlewi opened #266 "Delete old VMs related to NFS"
Context:
#262 NFS Test Volume Can't Be Mounted
#263 Setup Cloud Filestore for NFS.

We are now using Cloud FileStore for our shared filesystem.

It looks like we have two old VMs corresponding to Cloud Launcher NFS shared.

I don't see any Cloud FileStore instances in project kubeflow-ci

I see two VMs that look like they were created by Cloud Launcher
kubeflow-test-nfs-vm: created Mar 14, 2018, 3

[2018-12-28 13:46] jlewi commented on #266
It looks like we have a deployment manager config named:
kubeflow-test-nfs2
which corresponds to one of the VMs.

[2018-12-28 13:50] jlewi opened #267 "Monitor cron jobs; dashboards?"
We'd like to use cron jobs to do things like cleanup old test resources.

We need a good way to monitor them so we can see whether they are failing or succeeding.

Some features we'd like

1. Dashboard to easily view successful and failed runs.
1. Easy links to logs

Some ideas

1. Use gubernator/prow?
1. Use prometheus and stackdriver?
1. Create a custom dashboard?

[2018-12-28 13:53] jlewi commented on #266
I deleted the DM kubeflow-test-nfs2-vm which deleted the VM.
I also deleted the VM
kubeflow-test-nfs-vm

We have another VM named instance-1 created Aug 23, 2018, 7:59:12 PM

I don't see any labels indicating it was created by Deployment Manager. I'm going to delete it as well.

[2018-12-28 17:31] #250 closed

[2018-12-28 19:35] #262 closed

[2018-12-28 20:18] #266 closed

[2018-12-28 20:20] jlewi opened #268 "Maximum number of Cloud Endpoints Services in project: kubeflow-ci"
I tried bringing up a cluster in project: kubeflow-ci and noticed that cloud endpoints was failing to create the cloud endpoints resource with the following error.

[code]

[2018-12-28 21:21] jlewi commented on #268
I created a script #2190 to clean up old endpoints.

When I ran it I eventually hit the maximum requests per minute. We might need to add some backoff to deal with that.

it might also help if we run it regularly as part of our regular GC of ci resources so we don't hit the limit and have so many to cleanup.

[2018-12-28 21:45] jlewi commented on #264
#269 adds a script that can be used as the basis for this. I think there are some additional steps we need to perform to turn one of the deployed clusters into a cluster suitable for testing

e.g.

* Adding a GITHUB Oauth token
* Adding the NFS filesystem
* Creating a namespace for the Argo workflows
* Exposing Argo dashboard

[2018-12-28 23:02] jlewi commented on #95
We'd like to maintain a pool of Kubeflow deployments corresponding to different Kubeflow versions.

e.g
[code]

The reason for having a pool of deployments for a given major release (X.Y) is that we want to run tests against these clusters. We don't want to interrupt the tests when deploying an updated version. So by maintaining a pool and cycling through them we can create a new version for new t

[2018-12-28 23:20] jlewi commented on #229
Based on kubeflow/kubeflow#2127 it looks like this is fixed.

[2018-12-28 23:20] #229 closed

[2018-12-29 00:14] jlewi commented on #270
We currently have:
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/test_helper.py

I think we can refactor that into a Py Test Runner that will emit junit xml files.

[2019-01-03 19:30] jlewi commented on #95
[Boskos](https://github.com/kubernetes/test-infra/tree/master/boskos) might be useful for managing clusters.

[2019-01-03 19:45] jlewi opened #273 "E2E tests need a way to get the Kubeflow deployment they should test on"
See: kubeflow/testing#95

E2E tests (such as E2E tests for our examples) need a way to request the endpoint for a Kubeflow deployment they can run.

We'd like some simply python scripts that hide the implementation details; e.g. we'd like a script that takes as input some query string that specifies constraints on the Kubeflow deployment (e.g. major version) and returns the endpoint of the cluster

[2019-01-08 02:21] kunmingg opened #275 "E2E test should recycle long running workflows"
Due to various reasons, some workflows refuse to exit after error happened.
This could hold resources and block other tests.
We should have a cronjob which delete workflows with life > 4 hours.

[2019-01-08 02:34] jlewi commented on #275
This is our cleanup script:
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py

@kunmingg Were pods left running?

Do we need to GC the workflows or is it sufficient to GC the pods?

We want to leave the workflows around for say 7 days because its helpful for debugging.

so it would be good to understand

1. Is the workflow in a terminal state; e.g. failed
1. If the

[2019-01-08 02:43] kunmingg commented on #275
pods were on ```pending creation```. (Already grab some resources, depends on their detailed status).
So GC pods is insufficient as workflows will recreate them and pending again.

Can we set max workflow life = 12 hours? Should be enough for debugging and avoid holding resources too long.

[2019-01-08 03:01] richardsliu commented on #275
Potential symptoms of this bug - tests can fail with errors like:
[code]
and/or
[code]

[2019-01-08 16:07] jlewi commented on #275
Does Argo provide a way to impose a max lifetime on Workflows or individual steps?

I think if we aggressively garbage collect Argo workflows its going to make troubleshooting test failures really difficult.

/cc @jessesuen

[2019-01-11 01:02] kunmingg opened #276 "kubeflow presubmit broken"
[code]
Happens to all PRs.

[2019-01-11 01:03] kunmingg commented on #276
@jlewi
@richardsliu
@gabrielwen

[2019-01-11 01:09] richardsliu commented on #276
https://github.com/kubeflow/testing/pull/269/files#diff-7bf4658611b6ab80126b15c277708a44

What does this change do?

[2019-01-15 06:10] jlewi commented on #270
Based on the above I think we want to do two things before closing out this issue

1. Get an example committed; e.g. #278 although it might be nice to have a unittest example as well
1. Provide documentation on how to use pytest

[2019-01-18 13:47] jlewi opened #282 "cron job to recycle test namespaces"
We create namespaces in our Kubeflow example clusters for each test.

We'd like a cron job to delete old namespaces so that we can leave them up after test finishes to aid debugging.

[2019-01-18 21:41] jlewi opened #284 "Argo UI not showing step logs after upgrading to v2.2.1"
#283 upgraded Argo images to v2.2.1 to pull in features like the job TTL.

The Argo UI now seems to be showing a blank screen when looking at the logs.

[2019-01-18 21:44] jlewi commented on #284
I'm seeing some JS errors

﻿
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd?tab=workflow&nodeId=kubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd-482224849&sidePanel=logs%3Akubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd-482224849%3Amain
 response has a MIME type ("application/json") that is

[2019-01-18 21:53] jlewi commented on #284
@jessesuen Any idea?

Are UI is public so you can try it out:
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd?tab=workflow&nodeId=kubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd-482224849&sidePanel=logs%3Akubeflow-examples-presubmit-examples-e2e-479-051143e-1223-a8bd-482224849%3Amain

[2019-01-19 03:03] jessesuen commented on #284
I recall there might be a UI config setting that might need to be used. @alexmt can you confirm?

[2019-01-22 15:39] alexmt commented on #284
Hello @jlewi , looks like you are seeing an issue which was fixed by https://github.com/argoproj/argo-ui/commit/37808b1b775f986744f9d34de5fe60c14d00c7fa .  Unfortunatelly fix is not released yet.  As workaround you might use a pre-release image `argoproj/argoui:v2.2.1-37808b1` .

[2019-01-22 16:53] jlewi commented on #284
@alexmt Thanks. That should work for us.

[2019-01-23 21:53] jlewi opened #288 "Example using selenium with authorization headers to write tests"
We'd like to be able to use selenium to write web tests.

I started to create a test with selenium
https://github.com/jlewi/kubeflow/blob/1690703d261d29ccd7e1d5ff154d79064473d9d8/kubeflow/jupyter/tests/jupyter_test.py#L85

The problem I ran into is authentication. If we aren't running inside the cluster than we need to proxy the request e.g. via IAP or the APIServer.

Using the APIServer we just n

[2019-01-25 20:53] jlewi commented on #284
Just upgraded to argoproj/argoui:v2.2.1-37808b1 looks like the logs will now show up but seems to be a bit of a delay compared to before.

[2019-01-26 00:30] jlewi commented on #82
I chatted with prow team. It looks like gubernator will fetch metadata from started.json or finished.json depending on which files exist.

So we just need to write the information to both files.

[2019-01-27 21:37] jlewi opened #292 "Add stackdriver link to prow metadata"
We should add a link to stackdriver logs in the prow metadata.

The link should redirect to the stackdriver query to filter logs based on the pod labels identifying the workflow.
https://github.com/kubeflow/testing#argo-spec

For the link to work we will need to upgrade logging in our test cluster to use the new stackdriver agents.

[2019-01-28 21:41] #82 closed

[2019-01-28 22:52] gabrielwen commented on #95
/assign @gabrielwen

[2019-01-28 22:53] gabrielwen commented on #95
Remaining tasks for the cronjob itself:
- Add github repos (kubeflow/testing) version snapshot.
- Dockerfile dependencies clean up.
- Deployed clusters labeling (used to identify the time deployment is made)
- Add service account role bindings garbage collection to workflow.
- Add a workflow to create git PR.

[2019-01-29 18:44] gabrielwen opened #295 "Cronjob worker doesn't have permission to delete deployment"
Crojob worker is not able to delete deployment with command:
gcloud deployment-manager deployments delete *

Error returned was: Deletion was aborted by user.

[2019-01-29 18:44] gabrielwen commented on #295
/assign @gabrielwen

[2019-01-29 18:45] gabrielwen commented on #295
/label area/testing

[2019-01-29 18:46] gabrielwen commented on #295
/cc @jlewi

[2019-01-29 18:47] gabrielwen commented on #295
Relates to #95

[2019-02-01 01:30] jlewi opened #299 "label-sync failing missing oauth token"
The label sync job is failing because our test cluster is missing a secret containing the GitHub token.

[2019-02-01 02:31] kunmingg commented on #299
/assign @kunmingg

[2019-02-03 00:35] jlewi commented on #252
It looks like GitHub apps have the advantage of being owned by the organization. So we don't need to create user accounts and share keys for them.

To authenticate to GITHUB it looks like the use a private key  to create a JWT which they then in an authorization header.

It looks like GitHub apps use private keys
https://github.com/github-developer/using-the-github-api-in-your-app

it looks like t

[2019-02-03 01:12] jlewi commented on #299
I don't know that we should continue to run label-sync on the test cluster since it requires write permissions on our GitHub repos.

I think we should create a new admin GCP project and deploy things there.

[2019-02-04 18:55] jlewi commented on #270
#278 is committed and we have examples using pytest; e.g the jupyter notebook test and mnist predict.

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/jupyter/tests/jupyter_test.py

[2019-02-04 18:55] #270 closed

[2019-02-04 19:02] jlewi commented on #53
Will be fixed by #300 which includes  a cron job to GC Argo workflows.

[2019-02-04 19:22] lluunn opened #301 "Testgrid issue"
I was looking at https://github.com/kubeflow/kubeflow/issues/2364, about why deployapp is not running periodically: https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

It turns out it's running: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/kubeflow-periodic-master/718, and failing.

So the problems are:
1. some test is being run, but no shown on testgrid
1. fix the t

[2019-02-04 19:23] lluunn commented on #301
@jlewi Do you know how are the names on testgrid determined?

[2019-02-05 19:42] lluunn opened #304 "test-worker gcb build issue"
1. the image built is gcr.io/kubeflow-ci/test-worker/test-worker:TAG (two test-worker)
2. the generated dir, `build`, will make local `make build` do nothing.

Fixing it now

[2019-02-05 23:33] #87 closed

[2019-02-05 23:33] #249 closed

[2019-02-06 04:38] #304 closed

[2019-02-11 01:17] #299 closed

[2019-02-11 17:33] lluunn commented on #301
Also for the kfctl workflow:
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfctl-761-e1d0?tab=workflow&nodeId=kubeflow-periodic-master-kfctl-761-e1d0-2475545059

test-argo-deploy failed, but shown succeeded on the testgrid

[2019-02-11 18:52] lluunn commented on #301
Another issue:
I *think* kfctl and kfctl-beta use the same artifacts name, and thus are overwriting each other,
because the testgrid should've shown two copies of each test.

cc @jlewi @kunmingg

[2019-02-12 13:41] jlewi commented on #177
I used the UI to enable the stackdriver monitoring beta in the cluster.

Next steps

* Verify it is working; that we can filter pods by label
* Update the README to explain this.

[2019-02-12 13:53] jlewi commented on #177
Verified logs are using the new style. Sample entry.

[code]

Will send out a PR to update the docs.

[2019-02-12 20:43] #177 closed

[2019-02-12 23:25] gabrielwen opened #310 "Make auto-deploy deploy based on version number plus HEAD"
Related #95

[2019-02-12 23:25] gabrielwen commented on #310
/assign @gabrielwen

[2019-02-12 23:26] gabrielwen commented on #310
/cc @jlewi

[2019-02-12 23:28] gabrielwen commented on #310
Currently it's deploying to kf-v0-4 at HEAD.  This is wrong, TODO:
- Check out branch of v0.4 and use the HEAD of this branch to deploy to kf-v0-4.
- Set up HEAD clusters and deploy HEAD to it.

[2019-02-12 23:30] gabrielwen commented on #310
/label area/testing

[2019-02-13 00:00] #295 closed

[2019-02-15 21:18] #310 closed

[2019-02-19 13:44] jlewi commented on #273
/assign @gabrielwen

[2019-02-19 18:49] jlewi commented on #301
@lluunn is this resolved can we close out this issue?

[2019-02-19 19:02] #301 closed

[2019-02-22 19:48] jlewi opened #314 "auto deployed KF clusters don't have http certificates because of lets encrypt quota issues."
Example

[code]

[2019-02-22 19:54] jlewi commented on #314
Ingress seems healthy.

I don't see a TLS secret.

[2019-02-22 19:57] jlewi commented on #314
It looks like we are hitting quota problems with lets encrypt certificates.

[code]

I think we need to use the same trick we use for click to deploy and cache certificates on GCS and load them up.

[2019-02-22 21:15] jlewi commented on #314
A simple fix might be to use self-signed certificates.
We would get a warning in chrome but for our test clusters that might be ok.

[2019-02-22 21:55] jlewi commented on #314
I noticed that the loadbalancer frontend in kubeflow CI don't have HTTPs associated with them. I suspect that's because the TLS secret doesn't exist.

I used https://github.com/kelseyhightower/kube-rsa to try to generate a self-signed certificate

[code]

Waiting for the ingress to sync; it was hitting some errors with forwarding rules so now need to wait for backoff and retry.

[2019-02-22 21:57] jlewi commented on #314
The HTTPs protocl is now defined for the endpoint. Certificate was uploaded.

Still getting

[code]

[2019-02-22 21:59] jlewi commented on #314
Looks like it propogated and now I get:

[code]

[2019-02-22 22:08] jlewi commented on #314
It looks like that eventually worked after the certificate propogated; I was able to get the chrome warning and click through. I wasn't able to see the central dasbhoard; I ended up getting 404s. It looks like the cron job kicked in and restart kf-v0-4-n00

[2019-02-23 17:15] jlewi opened #315 "auto deployed kf 0.4 clusters aren't using the correct version of the code"
The https://kf-v0-4-n00.endpoints.kubeflow-ci.cloud.goog/ endpoint
Has the central dashboard failing to pull the image.
Its trying to use the image
gcr.io/kubeflow-images-public/centraldashboard:v20190222-v0.4.0-rc.1-152-g1de09b7

Which is not correct.
It looks like this is the value on master:
https://github.com/kubeflow/kubeflow/blob/6a3c0562c4c2b31e31c849e9abcd61381f7df955/kubeflow/common/proto

[2019-02-23 17:16] jlewi commented on #314
So need to update
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/create_kf_instance.py

To create self-signed certificate.

[2019-02-27 13:04] jlewi opened #316 "Web app to redirect to latest deployed cluster"
The following scripts are used to auto deploy Kubeflow clusters from master
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/create_kf_instance.py
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

These scripts create endpoints like the following
https://kf-master-n00.endpoints.kubeflow-ci.cloud.goog
...
https://kf-master-n04.endpoints.kubeflow-ci.cloud.goo

[2019-02-27 13:05] jlewi commented on #95
Some follow on issues:
#314 - Use self signed certificates to avoid lets-encrypt quota issues
#273 - E2E tests need a way to get the cluster to use
#316 - Web app to auto redirect to latest cluster

I think we can close this issue once the auto-deployed endpoints are working. I think #314 is the only blocking issue for that.

[2019-02-28 04:11] #314 closed

[2019-02-28 16:22] jlewi opened #321 "us-east1-d is having stockouts causing test failures"
us-east1-d is having stockout issues so new clusters aren't being provisioned.

We should consider moving Kubeflow clusters to a different zone or region.

[2019-03-07 03:36] jlewi commented on #321
Stockouts have been resolved.

[2019-03-07 03:36] #321 closed

[2019-03-07 03:38] jlewi opened #324 "E2E tests fail because of too many requests trying to get workflow status"
kubeflow/kubeflow#2557
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2557/kubeflow-presubmit/6084/

Test is reported as success but its still a failure.

Pod probably exited with non-zero exit code

Here are the pod logs

[code]

Could this because we have too many workflows in the api server?

[2019-03-07 03:43] jlewi commented on #324
[code]

[2019-03-07 03:59] jlewi commented on #324
I think we're going to have delete the namespace seems like there are too many workflows and the APIServer is unresponsive even to deleting individual workflows or by label.

[2019-03-07 04:02] jlewi commented on #324
See: https://github.com/kubeflow/testing/issues/53#issuecomment-450282687

[2019-03-07 04:04] jlewi commented on #324
Delete the namespace

[code]

[2019-03-07 04:05] jlewi commented on #53
See #324 seems like there's a problem with our cron job and we aren't GC'ing the resources.

[2019-03-07 05:45] jlewi commented on #324
[code]
Follow the [instructions](https://github.com/kubeflow/testing#create-a-gcp-service-account) to create the secret.

The namespace is back up

[2019-03-08 19:16] kunmingg opened #326 "cleanup_ci: delete Argo jobs that's older than 3 days."
Argo UI becomes very slow to load as Argo jobs pile up.
We can expire history older than 3 days.
@jlewi
@zhenghuiwang

[2019-03-08 23:50] jlewi commented on #326
Duplicate of #53

[2019-03-08 23:50] #326 closed

[2019-03-10 22:32] jlewi commented on #95
This is working for master.

For 0.4 it looks like there was a typo in the cron job that should be fixed by #327.

#315 is tracking fixing this for 0.4. So I'm going to mark this as fixed.

[2019-03-10 22:32] #95 closed

[2019-03-11 00:39] jlewi commented on #315
With #327 most recent run of the job failed with

[code]

Full log attached
[auto-deploy-v0-4-1552262400.logs.txt](https://github.com/kubeflow/testing/files/2950239/auto-deploy-v0-4-1552262400.logs.txt)

[2019-03-13 23:19] jlewi opened #328 "Test failures; out of firewall quota"
We ran out of firewall resource quota which is causing test failures.

See logs.

[kubeflow-presubmit-kfctl-2672-8dfc574-6263-3e11-2762981228.log.txt](https://github.com/kubeflow/testing/files/2964028/kubeflow-presubmit-kfctl-2672-8dfc574-6263-3e11-2762981228.log.txt)

[2019-03-13 23:29] jlewi commented on #328
Here's an old firewall rule.

[code]

[2019-03-14 00:00] jlewi commented on #328
Deleted a bunch of firewall rules. Usage is now 41.

Here's a list of deleted rules.

[code]

[2019-03-14 00:28] jlewi commented on #284
We seem to be having trouble again showing logs in Argo UI; even though we are using: image
argoproj/argoui:v2.2.1-37808b1

[2019-03-14 00:30] jlewi commented on #284
It looks like this is the latest argo image
https://hub.docker.com/r/argoproj/argoui/tags

[2019-03-14 00:32] jlewi commented on #284
I'm seeing some 502's in JS

[code]

[2019-03-14 00:34] jlewi commented on #284
Looks like the pod doesn't exist so it could just be a case of the pod no longer existing in stackdriver.

[code]

[2019-03-14 02:44] jlewi opened #331 "Upload workflow YAML specs as prow artifacts"
It would be valuable to upload the Argo YAML spec/status as prow artifacts. This way they would be readily available.

From the YAMl spec users can get the pod id for each step which allows them to fetch the logs from stackdriver.

[2019-03-14 12:30] #328 closed

[2019-03-14 13:33] jlewi opened #332 "Move CI deployments into their own project"
Should we move CI kubeflow deployments into their own project?

This would allow for better
  * Resource management
  * Security

Resource management wise if the project only contains ci deployments then we can delete all resources to deal with quota issues.

Right now when we GC resources in kubeflow-ci we have to distinguish between deployments created by the tests and test infrastructure.

Secu

[2019-03-14 13:44] jlewi commented on #332
We have projects:

* kubeflow-ci-deploy
* kubeflow-ci-deployment

[2019-03-14 15:55] jlewi commented on #332
kubeflow-ci-deployment is used for click to deploy
kubeflow-ci-deploy is used for periodic tests.

[2019-03-15 18:40] gabrielwen opened #333 "auto-deploy is failed."
At least 2 errors are witnessed:
- error when running delete_deployment.sh
[code]
- Timeout when connecting to k8s `Unable to connect to the server: dial tcp 35.196.92.12:443: i/o timeout`

[2019-03-15 20:52] gabrielwen opened #334 "make build-kfctl is failed during test"
Seems like something wrong with deepcopy.  FYI, `make build-kfctl` works fine in local machine.

[code]

[2019-03-15 20:57] gabrielwen commented on #334
/close

[2019-03-15 20:57] #334 closed

[2019-03-25 12:17] jlewi opened #335 "Load Testing Results into BigQuery: Use Kettle?"
We'd like to load our test results into BigQuery so we can run queries to do things like identify flaky tests.

It looks like PROW has a component called Kettle to do this.
https://github.com/kubernetes/test-infra/tree/master/kettle

According to the docs for PROW the results should already be loaded into BigQuery.

When I tried to access the dataset I got an error so we should investigate further

[2019-03-26 15:35] jlewi opened #337 "kubeflow-ci out of CPU quota and leaking clusters/deployments"
kubeflow-ci appears to be leaking test clusters causing us to run out of quota.

[code]
Some of these clusters like `kfctl-473b` is over a 24 hours old. So it should have been GC'd by the cron job.

The kubeflow-testing cluster is also using 15 nodes and 120 CPUs. That seems like a lot.

[2019-03-26 15:37] jlewi commented on #337
It doesn't look like our cron job to cleanup the ci system is configured.

[code]

[2019-03-26 15:40] jlewi commented on #337
Started the cronjob.

[code]

[2019-03-26 15:42] jlewi commented on #337
Started a oneoff run of the ci job.

[2019-03-26 16:07] jlewi commented on #337
The cleanup job is failing with a connection error trying to call delete on DM.

[code]

[2019-03-27 00:09] zabbasi commented on #335
queried  `k8s-gubernator.build.all`. it has our required data (run query in the new bigquery ui https://pantheon.corp.google.com/bigquery?utm_source=bqui&utm_medium=link&utm_campaign=classic&project=a11y-testing)

[2019-03-27 00:10] zabbasi commented on #335
ueried k8s-gubernator.build.all. it has our required data (run query in the new bigquery ui https://pantheon.corp.google.com/bigquery?utm_source=bqui&utm_medium=link&utm_campaign=classic&project=a11y-testing)

[2019-03-27 02:27] jlewi commented on #335
This is great.

Can we use it to compute metrics about test flakiness?

I'd like to know how often for a given commit on a PR tests failed on some but not all runs of that test for that commit.

[2019-03-27 04:59] jlewi commented on #331
Here are some pointers.

The code which runs the workflows is here:
https://github.com/kubeflow/testing/blob/e08595f1515fbddb2788e19b81471faf7230f4e4/py/kubeflow/testing/run_e2e_workflow.py#L273

We have a list of python dictionaries describing each workflow. So we just need to write those specs to GCS. We can do that by just writing them to GCS by calling `util.upload_to_gcs`
https://github.com/k

[2019-03-27 05:02] derekhh commented on #331
I can take a look :)

[2019-03-27 16:30] jlewi opened #342 "Test flake; "Failed create pod sandbox""
I had an Argo workflow fail in presubmit. It looks like the container never got started.

Looking at the pod event logs. I see "Failed create pod sandbox".

[kubeflow-presubmit-kfctl-go-iap-2814-fb936f5-2842-7ebe-2873590622.event.log.txt](https://github.com/kubeflow/testing/files/3014279/kubeflow-presubmit-kfctl-go-iap-2814-fb936f5-2842-7ebe-2873590622.event.log.txt)

[2019-03-27 22:26] jlewi commented on #342
There are only 2 notes on the GKE cluster. I'm wondering if that error is somehow related to the node being under pressure.

Looking at one of the VMs it looks like CPU is spiking to 100%.

![cpu_trace](https://user-images.githubusercontent.com/777219/55116451-894e9d00-50a4-11e9-93cd-c4af21dfab82.png)

it doesn't look like the pool is autoscaling. I wonder if maybe setting requests and limits on t

[2019-03-29 23:30] jlewi commented on #11
We should try to do this in 0.6.

[2019-03-30 20:10] #337 closed

[2019-03-30 20:20] jlewi opened #346 "Failed to mount nfs-external"
Tests are failing because the nfs-external volume can't be mounted.

[code]

Is this because the nfs volume is full?

[2019-03-30 20:28] jlewi commented on #346
Here's a graph of free bytes in our NFS share.

![freenfsbytes](https://user-images.githubusercontent.com/777219/55281292-809dd700-52ef-11e9-8f80-f662b8dea710.png)

It looks like we ran out of space and then at 6pm yesterday it became free again. I'm guessing someone deleted the NFS share and recreated it.

/cc @richardsliu

[2019-03-30 20:30] jlewi commented on #346
The NFS share is on IP: 10.240.92.210

It looks like the PVC is still using 10.49.145.162. So I'm guessing we didn't update the PVC after deleting the NFS share.

[2019-03-31 01:21] jlewi opened #348 "Setup GCP infrastructure for GitHub probots"
@hamelsmu has been working on a probot to auto label issues.

We need some GCP infrastructure to deploy the probots.

Opening this issue to track it.

[2019-03-31 01:25] jlewi commented on #348
Created folder: ci-cd
Project: github-probots

[2019-04-02 20:44] gabrielwen opened #350 "Update auto-deploy for v0-5"
Currently both `kf-vmaster` and `kf-v0.4` are not deployed properly and I think the reason is they are still using shell script of `kfctl`.  Need to switch to go binary for deployment.

[2019-04-02 20:45] gabrielwen commented on #350
/priority p1

[2019-04-02 20:46] gabrielwen commented on #350
/area build-release

[2019-04-02 20:46] gabrielwen commented on #350
/assign @gabrielwen

[2019-04-02 21:30] gabrielwen commented on #350
seems like it's already default to go binary.  need to fix deployments, though.  currently deployments are not accessible through endpoints.

[2019-04-04 16:22] zabbasi commented on #335
/close

[2019-04-04 16:22] #335 closed

[2019-04-05 00:09] #350 closed

[2019-04-09 00:51] #348 closed

[2019-04-09 01:39] jlewi opened #355 "Report for test flakiness"
We'd like to be able to compute a report (e.g. Jupyter notebook) that provides statistics and metrics about test flakiness.

We'd like to start with metrics about presubmit test flakiness so we can see how well we are doing.

I think @zabbasi is working on such a notebook.

/cc @zabbasi

[2019-04-09 03:32] jlewi commented on #346
This has been fixed.

[2019-04-09 03:32] #346 closed

[2019-04-09 03:33] jlewi commented on #333
@gabrielwen is this still happening?

[2019-04-09 03:36] jlewi commented on #267
Bump to P1.

I think this would have high impact because it would ultimately help us reduce toil because we could identify flaky cron jobs and fix them.

For example, we have cron jobs to

* Regularly apply labels across all repos
* Cleanup CI project
* Auto deploy clusters

But we don't have any visibility into whether they are actually succeeding.

[2019-04-09 03:41] gabrielwen commented on #333
no, currently testing clusters fail only when we have quota issue.  My request to increase healthy check quota just approved today, we shouldn't have quota issue in a short period of time.

[2019-04-09 03:41] gabrielwen commented on #333
/close

[2019-04-09 03:41] #333 closed

[2019-04-09 03:41] #268 closed

[2019-04-09 03:43] #248 closed

[2019-04-09 03:45] jlewi commented on #187
Closing this issue.

We have the ability to selectively trigger specific workflows when certain files change. I don't think there's any more immediate work.

[2019-04-09 03:45] #187 closed

[2019-04-09 03:46] jlewi commented on #171
/lifecycle stale

Hasn't been much of an issue for us lately.

[2019-04-09 03:46] #171 closed

[2019-04-09 03:47] #169 closed

[2019-04-09 03:47] jlewi commented on #162
/lifecycle obsolete

We've overhauled our auto-deploy infrastructure.

[2019-04-09 03:47] #162 closed

[2019-04-09 03:48] jlewi commented on #142
/lifecycle stale

[2019-04-09 03:48] #142 closed

[2019-04-09 03:48] jlewi commented on #137
/lifecycle obsolete

[2019-04-09 03:48] #137 closed

[2019-04-09 03:50] #91 closed

[2019-04-09 03:51] jlewi commented on #72
I believe all our workflows are properly truncating the names right now so I'm going to close this.

[2019-04-09 03:51] #72 closed

[2019-04-09 03:52] jlewi commented on #71
/lifecycle obsolete

We no longer rely on deploy but instead use kfctl.

[2019-04-09 03:52] #71 closed

[2019-04-09 03:53] jlewi commented on #53
#267 Issue to monitor cron jobs.

[2019-04-13 19:56] #273 closed

[2019-04-15 13:25] jlewi commented on #355
/assign @zabbasi

[2019-04-15 13:26] jlewi opened #357 "E2E test failing too many people in IAM policy"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3002/kubeflow-presubmit/1117649020823539712/

Test failed with error

[code]

[2019-04-15 13:28] jlewi commented on #357
Here's the command:

[code]

[2019-04-15 13:31] jlewi commented on #357
Here's the YAML policy

It looks like there are lots of service accounts for which the deployments should no longer exist.

[kubeflow-ci-deployment.iam.policy.yaml.txt](https://github.com/kubeflow/testing/files/3080348/kubeflow-ci-deployment.iam.policy.yaml.txt)

[2019-04-15 13:41] jlewi commented on #357
Here are the logs from the most recent run.
[cleanup-ci-kubeflow-ci-deployment-1555329600-sr4x2.log.txt](https://github.com/kubeflow/testing/files/3080387/cleanup-ci-kubeflow-ci-deployment-1555329600-sr4x2.log.txt)

[2019-04-15 13:46] jlewi opened #358 "Cleanup ci job not cleaning up Argo workflows; no kube config file"
Below are the logs for cleaning up the ci system.

It looks like cleaning up of Argo workflows is failing with the following error.

[code]

[cleanup-ci-kubeflow-ci-deployment-1555329600-sr4x2.log.txt](https://github.com/kubeflow/testing/files/3080402/cleanup-ci-kubeflow-ci-deployment-1555329600-sr4x2.log.txt)

[2019-04-15 13:47] jlewi commented on #357
It looks like an exception is occurring cleaning up the service accounts.

[code]

[2019-04-15 18:58] jlewi commented on #357
It looks like the problem is caused by using an older version of `googleapiclient`. I upgraded from 1.6.5 to 1.7.0 and that seemed to fix the issue.

[2019-04-15 19:07] jlewi commented on #355
Right now the metrics are broken down by Argo workflow; we should also break them down by individual test corresponding to individual junit files.

[2019-04-15 19:09] jlewi commented on #331
@derekhh Any progress on this?

[2019-04-15 19:43] derekhh commented on #331
@jlewi Yeah I took a look and should be able to open a PR soon.

[2019-04-15 22:11] Jeffwan commented on #357
Thanks for the fix!

[2019-04-18 19:06] jlewi commented on #357
Attaching logs from the most recent run.

It looks like cleaning up of service account bindings is succeeding.

[code]

[cleanup-ci-kubeflow-ci-deployment-1555610400.logs.txt](https://github.com/kubeflow/testing/files/3095846/cleanup-ci-kubeflow-ci-deployment-1555610400.logs.txt)

[2019-04-18 19:06] #357 closed

[2019-04-18 19:07] jlewi commented on #358
Attached is recent logs. Looks like cleanup is succeeding.

[code]

[cleanup-ci-kubeflow-ci-deployment-1555610400.logs.txt](https://github.com/kubeflow/testing/files/3095852/cleanup-ci-kubeflow-ci-deployment-1555610400.logs.txt)

[2019-04-18 19:07] #358 closed

[2019-04-19 05:15] gabrielwen opened #361 "clean up ci not clean up compute engine resources"
cleanup-ci only cleans up health check resources for compute engine.  We have a much larger extent of resource leak.  Please take a look at this image:
![graph](https://storage.googleapis.com/static.ianlewis.org/prod/img/750/gcp-lb-objects2.png)

Basically we need to clean up orphaned resources plus resources associated with presubmit tests which lasted longer than a given amount of time.

This is

[2019-04-19 05:15] gabrielwen commented on #361
/assign @zhenghuiwang

[2019-04-19 05:16] gabrielwen commented on #361
/priority p0

[2019-04-19 05:16] gabrielwen commented on #361
/label kind/bug

[2019-04-19 05:16] gabrielwen commented on #361
/kind bug

[2019-04-19 05:21] lluunn commented on #361
cc

[2019-04-19 05:22] lluunn commented on #361
also need to cleanup project kubeflow-ci-deployment

[2019-04-19 09:17] jlewi commented on #361
Can you provide examples of the leaked resources?

Any idea how we are leaking instance groups? All of our instance groups should be associated with GKE clusters. So if we're leaking instance groups that suggests deleting GKE cluster isn't deleting the associated instance group.

[2019-04-19 09:23] jlewi commented on #267
Another option would be to leverage Kubeflow pipelines. Most of our cron jobs are python scripts so to some extent they fit naturally as 1 step pipelines.

It would be a good exercise to try to convert one of our cron jobs (e.g. cleanup_ci) to a 1 step pipeline that runs regularly.

[2019-04-19 12:30] jlewi commented on #361
Attached are list of the current instance groups and clusters in project kubeflow-ci-deployment

A lot of the instance groups have size zero.

The instance groups don't look to be named after our E2E test clusters; e.g.

[code]

Some of them appear to be in use by forwarding rules.

One hypothesis is that these are node pools provisioned by auto-provisioning and that might explain why they aren't

[2019-04-19 12:36] jlewi commented on #361
Here are the stackdriver logs for one instance group. It was created by the GKE service account.

[gce_instance_group_instance_group_id_1008177806084829541_instance_group_name_k8s-ig--53fc5e0363ccb918__logs__2019-04-18T10-29.csv.txt](https://github.com/kubeflow/testing/files/3098110/gce_instance_group_instance_group_id_1008177806084829541_instance_group_name_k8s-ig--53fc5e0363ccb918__logs__2019-04

[2019-04-19 12:40] jlewi commented on #361
None of these have instance templates which is very strange.

[2019-04-19 13:01] jlewi commented on #361
Here's an instance group that is currently in use

[code]

[2019-04-19 14:06] jlewi opened #362 "Over agressive garbage collection of Argo workflows"
Are we being over aggressive in GC'ing Argo workflows.

It looks like an Argo workflow that should be 24 hours old is missing.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/2971/kubeflow-presubmit/1118685690494717952/

I only see the following workflows.

[code]

This is very suspicious.

[2019-04-19 14:09] jlewi commented on #362
We are using the same timeout as for the deployments; 3 hours.
https://github.com/kubeflow/testing/blob/92ffdd0f15b350b7b3b2777ed794feff4b82db25/py/kubeflow/testing/cleanup_ci.py#L624

That's way too short we should probably be 1-2 weeks.

[2019-04-19 15:13] jlewi commented on #361
It looks like the instance group deletion might be related to ingress not doing GC kubernetes/ingress-gce#136

I think there are a couple ways to improve the situation

1. We should update cleanup_ci to use kfctl to issue a delete
1. We should update kfctl to delete the ingress explicitly and wait for it to be deleted before deleting the cluster.

[2019-04-19 15:15] jlewi opened #364 "cleanup_ci should use kfctl to delete kubeflow"
cleanup_ci.py should use the kfctl binary to delete Kubeflow deployments.

Related to #361

[2019-04-19 17:24] gabrielwen commented on #361
Let's take [this](https://pantheon.corp.google.com/net-services/loadbalancing/details/http/k8s-um-kubeflow-envoy-ingress--31521c72da22c515?project=kubeflow-ci-deployment&tab=details) URL mapping as example:
- URL mapping: `k8s-um-kubeflow-envoy-ingress--31521c72da22c515`
- Associated target proxy: `k8s-tp-kubeflow-envoy-ingress--31521c72da22c515`
- Associated forwarding rule: `k8s-fw-kubeflow-envo

[2019-04-19 18:12] zhenghuiwang commented on #361
Thanks for the investigation @jlewi !

Just to make sure I understand it. Do we need to finish task 2 first? Without 2, the issued kfctl delete may still leak resources if ingress doesn't finish its GC.

[2019-04-21 11:29] jlewi commented on #361
@zhenghuiwang Yes I think that's correct; we will need kfctl to delete the namespace and/or ingress first and wait for it to be deleted.

It looks like `kfctl delete` does delete the namespace
https://github.com/kubeflow/kubeflow/blob/0c410b78953f306dc58a2f024cb5fa89487d98dd/bootstrap/pkg/kfapp/ksonnet/ksonnet.go#L286

But it doesn't look like we wait for the namespace to be deleted. So we might n

[2019-04-21 11:32] jlewi opened #366 "Create a v0.5 KF cluster in kubeflow-releasing"
Creating this issue to track updating of infrastructure in project kubeflow-releasing.

This cluster will be used for CI-CD.

We currently have a very old cluster in that project that we will get rid of.

[2019-04-21 11:44] jlewi commented on #366
Here's some information about the old cluster

project:kubeflow-releasing
cluster: kubeflow-releasing

kubectl get jobs
NAME                  DESIRED   SUCCESSFUL   AGE
jlewi-image-release   1         0            214d

$ kubectl get all
NAME                                      READY     STATUS      RESTARTS   AGE
pod/argo-ui-6d5fd48cf9-nnfrp              1/1       Running     0          82d
pod/

[2019-04-21 11:47] jlewi commented on #366
We also have a very old NFS share deployment; looks like this predates Cloud Fileshare. So going to delete that as well.

[code]

[2019-04-22 16:05] #331 closed

[2019-04-22 16:13] jlewi commented on #331
Fixed by #360.

[2019-04-22 17:21] derekhh commented on #267
I like this idea. I can take a look but probably need more pointers :)

[2019-04-23 00:26] jlewi opened #368 "[GCP] Continuous testing of deployment on private clusters"
We should setup continuous integration for deploying Kubeflow on private GKE to make sure our scripts and other tooling doesn't.

We should extend our existing auto-deployment infrastructure to create a version of Kubeflow on private GCP.

In particular, one of the things that we want to test is that we are properly replicating and overriding the set of images to be mirrored into the user's regist

[2019-04-25 00:08] ywskycn commented on #267
We're using kfp's scheduleworkflow internally for scheduling some workflows, especially the CI and monitoring workflows.

[2019-04-26 23:05] jlewi opened #372 "junit files from multiple runs of a workflow with different parameters clobber each other"
Right now we run our E2E test workflows with different parameters (e.g. the kfctl_e2e_workflow).

But the junit files are often times not unique. As a result we end up clobbering the runs.

Example:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1121841104535162880/

We have two different workflows
/mnt/test-data-volume/kubeflow-postsubmit-kfctl-go-iap-9

[2019-04-26 23:16] jlewi commented on #362
This has been fixed.

[2019-04-26 23:16] #362 closed

[2019-04-26 23:21] jlewi commented on #372
Possible solutions

1. One possible solution would be to use run_workflow.py to copy the artifacts and add some unique salt to each file based on workflow. (see also #257)

1. If prow supports subdirectories for junit we could give each workflow its own subdirectory for junit files

I think we should investigate the second option; to see if gubernator supports it or if not how hard it would be to

[2019-04-28 08:22] jinchihe opened #373 "Any one can help to release new image for test-worker"
In the PR #370 , updated Dockerfile to install kustomize, but no new image for `gcr.io/kubeflow-ci/test-worker/test-worker` is pushed, anyone in team can help to publish one image for test-worker? Seem I have no permission to do that. Thanks!

/cc @kunmingg @lluunn

[2019-04-29 13:02] jlewi commented on #373
Do we build the image on post-submit?

I think we should automate the building of the test worker image. We generally do that by creating a post submit job that will build and push the image to the appropriate repository.

[2019-04-29 13:06] jlewi commented on #260
It looks like this is still not fixed.
https://github.com/kubeflow/testing/blob/fcdd2091a95524f67aaf03b24447c97e6bc14038/py/kubeflow/testing/argo_client.py#L98

It looks like we still abort if there is a problem getting one of the workflows.

[2019-04-29 13:25] jlewi opened #374 "Report workflow status to prow even if workflows aborted"
run_e2e_workflow.py will report to prow metadata that specifies the status of each workflow; i.e. succeeded or failed.

Here's the code where we get the status:
https://github.com/kubeflow/testing/blob/ef8696e6966b7f083ba60e117b17f52587327f14/py/kubeflow/testing/run_e2e_workflow.py#L274

Here's where we upload the info to prow
https://github.com/kubeflow/testing/blob/ef8696e6966b7f083ba60e117b17f5

[2019-04-29 13:34] jlewi opened #375 "run_e2e_workflow.py doesn't correctly compute modified files for branches"
Here's a PR that cherry-picked some fixes onto the 0.5 branch. This PR should not have triggered the E2E tests that build the TF notebook images because those files weren't modified.

https://github.com/kubeflow/kubeflow/pull/3124/files

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3124/kubeflow-presubmit/1121918100388712448/

build log
[build-log (7).txt](https:/

[2019-04-29 14:48] jlewi commented on #361
@zhenghuiwang Any progress on this?

[2019-04-29 23:09] #43 closed

[2019-04-30 01:28] jlewi commented on #267
@derekhh Really appreciate you volunteering.

Here's how I might tackle this.

Create a 1 step pipeline that runs "hello world".

Then use KFP to run that regularly.

Figure out with KFP how we could report success/failure. In particular, how can report success/failure so that its easy to see all the runs of the pipeline and whether they succeeded or failed.

We can use that to asses the viability

[2019-04-30 22:17] gabrielwen commented on #361
FYI we have resource pressure on `kubflow-ci-deployment` again.

[2019-05-03 22:40] lluunn opened #379 "we should periodically cleanup NFS"
It gets filled up quickly

[2019-05-03 22:51] jlewi commented on #379
Cleanup ci script is here:
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py

[2019-05-03 22:57] jlewi opened #380 "Do shallow clones of Kubeflow repos in checkout.sh"
We clone Kubeflow repos in these scripts
https://github.com/kubeflow/testing/blob/665fda22af4aa72639efdfd62a4fe2e440cfad7b/images/checkout.sh#L28

https://github.com/kubeflow/testing/blob/665fda22af4aa72639efdfd62a4fe2e440cfad7b/images/checkout_repos.sh#L82

Right now we are cloning the entire history which uses a lot of space.

Doing

[code]

Appears to cut the size from 286 M to 150M

[2019-05-06 12:53] #375 closed

[2019-05-06 13:19] #374 closed

[2019-05-09 14:40] jlewi opened #386 "HTTP errors getting workflow status prevent status from being recorded"
Here's a test run where the test aborted due to an exception caused by an HTTP error getting workflow status
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3208/kubeflow-presubmit/1126233582973489152/

* The workflow status isn't reported and no yaml files for the Argo workflows are uploaded

Here are the full logs
[build-log (12).txt](https://github.com/kubeflow/te

[2019-05-09 14:41] jlewi commented on #386
/cc @derekhh

[2019-05-12 17:38] derekhh commented on #386
@jlewi - I'll take a look and fix it :)

[2019-05-13 01:24] jlewi commented on #361
Looks like #390 was just opened to fix this.

[2019-05-13 13:59] jlewi opened #391 "kubeflow-ci-deployment out of service account quota"
Ran out of service account quota.

[2019-05-13 14:00] jlewi commented on #391
Here are logs from most recent run of cleanup-ci

[cleanup-ci-kubeflow-ci-deployment-1557748800.logs.txt](https://github.com/kubeflow/testing/files/3173189/cleanup-ci-kubeflow-ci-deployment-1557748800.logs.txt)

So we did call cleanup service accounts.

[2019-05-13 14:04] jlewi commented on #391
Here's a list of the current service accounts
[service-accounts.list.txt](https://github.com/kubeflow/testing/files/3173195/service-accounts.list.txt)

There are 105.

It looks like are quota is 100.

[2019-05-13 14:05] jlewi commented on #391
Filed a quota request to increase it to 500.

[2019-05-13 17:58] #361 closed

[2019-05-13 20:43] jlewi commented on #391
I think there is a couple reasons why we are accumulating service accounts

* We have a bunch of failed deployments which are accumulating resources.
   * It takes time before we garbage collect them.
   * We should be more aggressive in deleting failed deployments

* I think our cleanup CI script is using the time of the service account key to determine when the service
  account was created and

[2019-05-13 21:22] jlewi commented on #391
Here's a list of deployments.
[deployments.txt](https://github.com/kubeflow/testing/files/3174887/deployments.txt)

We can see that we have a lot of failed deployments with out resource quota errors.

[2019-05-13 22:38] jlewi commented on #391
Down to ~44 service accounts in use.
Quota has been increased to 500

#392 has some lint errors that need to be fixed.

[2019-05-13 23:32] jlewi opened #393 "Can't get workflow status; ConnectionError to master"
Here's a failed gubernator run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/3108/kubeflow-presubmit/1127998695321636867/

Lots of errors like this

[code]

The following errors look like connection errors to the master

[code]

Why would we be having connectivity issues to the master?

Do stackdriver logs show anything for the master?

[2019-05-15 18:42] jlewi opened #396 "kubeflow-ci-deployment out disk quota; cleanup disks is failing"
We are out of PD quota.

It looks cleanup disks is failing with the following error

[code]

[2019-05-29 15:23] kkasravi opened #400 "switch the package-manager from ksonnet to kustomize in e2e deployment"

[2019-06-04 20:34] kkasravi opened #403 "port unit-test code generators (bash) under manifests to golang"
- [ ] bash scripts are manifests/hack/{gen-test-targets.sh, gen-test-target.sh}
- [ ] port this to live within testing. The tool would live here
- [ ] keep the generated tests in manifests (currently under /manifests/tests)
- [ ] the tool should ideally generate tests under each target rather than all of them under manifests/tests so it's easy to just regenerate unit-tests that are required
- [ ]

[2019-06-05 03:55] #386 closed

[2019-06-10 01:33] #396 closed

[2019-06-10 01:36] jlewi opened #406 "Auto-deployments of master to project are not running"
The last kv-vmaster-XX deployment was on May 22.

The code is here
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

We should fix this so we can easily verify that deployments on master are working.

We should update it to deploy using kustomize and ISTIO

[2019-06-10 13:22] jlewi commented on #372
@zabbasi Any update on this?

[2019-06-10 13:27] jlewi commented on #372
I think @zabbasi tried this in #3381. When we looked at the prow/gubernator code it looked like junit files might not be pulled from subdirectories. I think prow/gubernator has a recursive setting that isn't currently set.

@zabbasi Could you update this issue please with the relevant links?

#3381 tried to use subdirectories but it was hard to tell whether it was working because some of the tests

[2019-06-10 17:55] zabbasi commented on #372
As suggested by @jlewi I updated [this wip pr](https://github.com/kubeflow/kubeflow/pull/3381) to use subfolder for all workflow tests. It turns out that the gubernator does not pull and list the junits if they are located in subdirectories. However still the tests are available in testgrid and the xml files are available in Artifacts (the link is provided by gubernator).

[2019-06-10 19:49] jlewi commented on #315
Closing this as obsolete.

Lets focus on 0.5 and 0.6.

[2019-06-10 19:49] #315 closed

[2019-06-14 18:27] zhenghuiwang commented on #406
/assign @zhenghuiwang

[2019-06-17 16:03] jlewi opened #407 "Cron job to auto label repositories appears to not be running"
kubeflow/manifests lacks the common labels which leads me to conclude there is a problem with the job to auto-sync labels.

[2019-06-18 23:44] #406 closed

[2019-06-26 12:58] #355 closed

[2019-06-27 20:23] jlewi opened #412 "junit test failures not accounted for in github status"
Prow only uses the exit code of the prow job to determine whether to report success or failure to GitHub.

Right now that doesn't take into account junit results. So we need to update our job to exit with non-negative exit code if some of the junit files report failures.

/cc @derekhh

[2019-06-27 21:36] derekhh commented on #412
Ah - I guess this should be an easy fix. I'll take a look this week.

[2019-07-02 13:45] jlewi commented on #412
Thank you so much @derekhh

[2019-07-02 13:51] jlewi opened #413 "ImageInspectError pulling gcr.io/kubeflow-ci/test-worker:latest"
Tests started failing.
e.g
kubeflow/kubeflow#3577

Pod logs and event logs are attached. The main container never starts. Error is

[code]

Other steps in the pipeline ran successfully though

[kubeflow-presubmit-kfctl-go-iap-istio-3577-3203d8a-4848-1d65-2463764818.event.log.txt](https://github.com/kubeflow/testing/files/3350355/kubeflow-presubmit-kfctl-go-iap-istio-3577-3203d8a-4848-1d65-24637648

[2019-07-02 13:54] jlewi commented on #413
[code]

Pod started fine.

[code]

[2019-07-02 13:59] jlewi commented on #413
It looks like this may be an issue with the node.

GKE reports the status of node gke-kubeflow-testing-temp-cpu-pool-3b385d9f-962l
as  CorruptDockerOverlay2

Found 63 matching logs, which meets the threshold of 10

I'm going to delete that node.

[2019-07-02 14:00] jlewi commented on #413
I marked the node for cordoning.

[2019-07-02 19:15] jlewi commented on #413
Should be fixed.

[2019-07-02 19:15] #413 closed

[2019-07-08 20:56] kunmingg opened #415 "release infra broken."
Currently for each of
https://github.com/kubeflow/katib
https://github.com/kubeflow/tf-operator
https://github.com/kubeflow/pytorch-operator
we use same workflow for both test and release.

Recently test workflows are updated together with test infra.

We need to update release infra as well otherwise release workflow will not work.

[2019-07-08 21:00] jlewi opened #416 "E2E / component tests that involve GCP or other Cloud Infrastructure"
We need a good way to run component and manual tests that might have a dependency on GCP or other infrastructure.

For example, as part of kubeflow/kubeflow#3534 I'm writing a module that will interact with Google Cloud Source Repo.

To aid in development, we can easily create a manual, component test that will actually try to use Cloud Source Repos.

We need a good way to make it easy for

1. Dev

[2019-07-08 21:05] jlewi commented on #416
A couple methods listed in this [SO question](https://stackoverflow.com/questions/24030059/skip-some-tests-with-go-test)

  * Using buildtags
  * Using skipNow

[2019-07-11 10:42] hougangliu opened #417 "prow for kubeflow components cannot work now"
When create a PR in kubeflow repo (you can check any latest PR of kubeflow repo, saying katib, kfserving etc.), prow job always fail with below message
[code]

refer more to below example links
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_fairing/311/kubeflow-fairing-presubmit/1148823530889023488/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kfserv

[2019-07-11 16:39] jlewi commented on #417
@hougangliu Is the URL  https://raw.githubusercontent.com/kubernetes/kubernetes/v0.3.1/api/openapi-spec/swagger.json available?

[2019-07-12 08:11] derekhh commented on #412
@jlewi - I might be missing something but it seems currently we do rely on JUnit results as well?

https://github.com/kubeflow/testing/blob/2cc1bfbdd6c8e74e7561c2660910d005210b468d/py/kubeflow/testing/prow_artifacts.py#L245

Let me know if my understanding is incorrect. Thanks!

[2019-07-15 21:14] derekhh commented on #412
@jlewi Gentle ping

[2019-07-20 01:24] jlewi commented on #372
Repasting @zabbasi's notes

Here are some notes:
- Prow supports having junit xml files in subdirectories and it will upload everything in the $ARTIFACTS directory. Prow does not write junit, that is the responsibility of the tests. Junit (and all other files) in the $ARTIFACTS directory are uploaded by the sidecar pod utility: https://github.com/kubernetes/test-infra/tree/master/prow/sidecar

- T

[2019-07-20 01:30] jlewi commented on #372
Opened kubernetes/test-infra/issues#13525

We should see what they say and then decide how to proceed.

[2019-07-23 03:57] jlewi commented on #417
@karthikv2k I believe you fixed this at least for some repos? I think the fix was upgrading? Can you explain what you did to fix it?

[2019-07-23 03:59] jlewi opened #421 "Turn on vulnerability scanning in Kubeflow GCR registries"
We should turn on vulnerability scanning in our GCR registries.

[2019-07-23 04:04] hougangliu commented on #417
https://github.com/kubeflow/kfserving/pull/239/files
changing apiVersion from 0.1.0 to 0.3.0 as below make this issue gone
[code]

[2019-07-23 04:06] karthikv2k commented on #417
Yes upgrading apiversion fixed the bug.

[2019-07-23 04:12] scottilee commented on #243
@richardsliu is this still relevant? If so, could you give me more background info on the script and where it should be placed?

[2019-07-23 04:20] scottilee opened #422 "Remove kf-v0-4-n00"
@jlewi Per our discussion on Slack, I'm creating this issue to remove https://github.com/kubeflow/testing/tree/master/test-infra/kf-v0-4-n00. Is there anyone we should cc on this ticket before I submit a pull request?

[2019-07-23 04:29] scottilee commented on #415
@kunmingg can you close this ticket?

[2019-07-23 05:49] richardsliu commented on #243
@scottilee We're using these instructions here: https://github.com/kubeflow/testing/blob/master/playbook.md#nfs-volume-is-out-of-disk-space

We recently recreated the volume with much larger storage, so this issue is low in priority.

[2019-07-23 11:46] jlewi commented on #422
Nope just go ahead and do it.

/assign @scottilee

[2019-07-23 11:46] jlewi commented on #417
Thanks closing this bug.

[2019-07-23 11:46] #417 closed

[2019-07-23 12:08] jlewi opened #423 "run_e2e_workflow.py should support using python functions to generate the workflow"
Currently we use ksonnet to parameterize our Argo workflows in our E2E tests.
Since ksonnet is being deprecated we need a different way to parameterize our E2E tests.
I think a flexible way to do this is to let people define a class in python with methods that return one or more Argo workflows.

[code]

Our prow_config.yaml files could then look like the following

[code]

Then run_e2e_workflow.py

[2019-07-23 12:18] jlewi opened #424 "install tektoncd/pipeline in our test clusters"
It might be valuable to support [tektoncd/pipeline](https://rubygems.pkg.github.com/tektoncd/pipeline/blob/master/docs/install.md) for writing E2E tests.

One of the nice things about pipelines is that pipelines are split into reusable tasks. So we could have common tasks for things like deploying kubeflow and then combine these tasks into E2E tests.

Installing it should just be a matter of runni

[2019-07-23 12:24] jlewi opened #425 "run_e2e_workflow.py support TektonCD pipeline"
We should modify run_e2e_workflow.py so that we can also submit and run tektoncd/pipeline's and not just argo workflows.

We probably want to fork our argo_client to create a tekton client
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/argo_client.py

blocked by kubeflow/testing#423 run_e2e_workflow.py should support calling py functions to generate the workflow.

/cc @scottil

[2019-07-23 15:10] #46 closed

[2019-07-23 15:12] jlewi commented on #53
Haven't had problems in a while so closing this issue.

[2019-07-23 15:12] #53 closed

[2019-07-23 15:16] jlewi opened #427 "Setup stale bot on kubeflow/testing"
We just need a YAML file like this

https://github.com/kubeflow/kubeflow/blob/master/.github/stale.yml

/cc @scottilee @derekhh

[2019-07-23 15:17] jlewi commented on #415
I don't think this is fixed. We probably need to go about figuring out how we want the release infra should be set up and set it up.

[2019-07-23 15:27] scottilee commented on #423
@jlewi Sure, I can give it a try.

/assign

[2019-07-23 15:39] scottilee commented on #55
@jlewi is this still relevant? If so, should I add it to https://github.com/kubeflow/testing/blob/master/playbook.md?

[2019-07-23 15:50] scottilee commented on #422
Merged.

/close

[2019-07-23 15:50] #422 closed

[2019-07-23 16:05] scottilee commented on #427
@jlewi is there anything you want in the config that's different from what kubeflow/kubeflow is using?

I'd assume one thing that is different is `exemptLabels` -- what do you want them to be for kubeflow/testing?

[2019-07-23 17:20] scottilee commented on #44
@jlewi can this be closed? I just skimmed the pull request but it looks like yapf was added to TravisCI which is no longer used, not sure if it should be added to a Prow test or it's not relevant anymore.

[2019-07-23 17:21] scottilee commented on #243
@richardsliu does this overlap https://github.com/kubeflow/testing/issues/379? Just wondering if we can kill two birds with one stone.

[2019-07-23 17:25] richardsliu commented on #243
Looks the same to me

[2019-07-23 18:22] jlewi commented on #412
@derekhh good point. If I recall correctly I filed this issue because I observed a prow job that reported success even though there were junit failures.

I must have been mistaken; or something else must have been going on.

[2019-07-23 18:29] jlewi commented on #427
I think you can just copy the config.

[2019-07-23 21:44] derekhh commented on #427
@scottilee Feel free to assign this to yourself :)

[2019-07-23 21:46] derekhh commented on #412
Copying the Slack conversation here so we can track it:

[code]

[2019-07-23 21:47] derekhh commented on #44
@scottilee @jlewi I actually do want yapf on this repo. Can we try to set this up? I can try to get this done if you both feel it's important.

[2019-07-23 22:48] scottilee commented on #427
Sure.

/assign

[2019-07-23 23:45] jlewi commented on #372
Chatted with some folks from the engprod team.

This should be supported in spyglass today.
https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L37

The current config should match regexes.

So under the current configuration, I'm pretty sure artifacts/junit/anything/anything.xml would also match
as would artifacts/junit_anything/anything.xml

We will try that and see if it works

[2019-07-23 23:47] jlewi commented on #372
Next steps; I think we want to resurrect the test PR from @zabbasi and try it using one of the prefixes mentioned above e.g.

[code]
@derekhh any interest in trying this out?

[2019-07-24 02:59] richardsliu commented on #412
/close

[2019-07-24 05:32] scottilee commented on #380
@jlewi looks like this was taken care of with `--depth=2` on both files.

/close

[2019-07-24 05:32] #380 closed

[2019-07-24 05:40] scottilee commented on #42
@jlewi can you provide more info about which vars are prow env vars (is that listed somwhere?) and what the more convenient syntax is? It's not clear what needs to be replaced.

[2019-07-24 05:44] derekhh commented on #42
@scottilee I might be wrong but I think this is the list: https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#job-environment-variables

[2019-07-24 06:26] scottilee commented on #243
@richardsliu I'm still trying to figure out how this stuff works.
1. Just out of curiosity, how often does https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py run and where does it run?
2. I don't even know if this is possible, but would a good approach be to use the Python client to exec into the debug worker and execute the commands to delete the old directory? It s

[2019-07-24 14:14] kkasravi commented on #400
this has been done

[2019-07-24 14:14] #400 closed

[2019-07-24 17:31] derekhh commented on #372
@jlewi Sure I can take a look :)

[2019-07-24 20:12] kkasravi opened #429 "Use Application.Status for health of deployed applications in kfctl/kf_is_ready_test.py"
deployment testing should utilize the deployed application CR, currently kf_is_ready_test.py is checking for the existence of deployments.
[code]

[2019-07-24 20:55] richardsliu commented on #243
@scottilee I think right now we just run the script manually when we need to. When the volume gets filled up, deleting the older files might take a long time, so recreating the PV is sometimes much quicker.

Since we already have a workaround for this issue, I think it is low in priority.

[2019-07-24 21:00] scottilee commented on #427
Pull request was merged.

/close

[2019-07-24 21:00] #427 closed

[2019-07-25 18:13] richardsliu commented on #238
No longer relevant.
/close

[2019-07-25 18:13] #238 closed

[2019-07-25 18:14] richardsliu commented on #275
Do we still need this?

[2019-07-26 05:16] scottilee commented on #42
@derekhh Thanks!

@jlewi what is the more convenient syntax you referred to other than EXTRA_REPOS? Is there a list somewhere?

[2019-07-26 05:17] scottilee commented on #202
@jlewi I can help with this if it's still relevant but can you give me more info on which files I need to modify?

[2019-07-26 05:31] scottilee commented on #423
@jlewi Just started looking at this today and need some more context and make sure this is the correct path ahead:
1) Edit `parse_config_file` function to parse a `py_func` field along with its associated args
2) Edit the `run` function to remove the `ks_cmd`s and instead invoke the python method -- is the latter as simple as updating the `util.run` calls to execute the python methods?

Also, is t

[2019-07-26 05:35] derekhh commented on #372
/assign

[2019-07-26 06:24] jlewi commented on #423
I think we want to continue to support both ksonnet and py_func.

In the loop over workflows here
https://github.com/kubeflow/testing/blob/1231ff98ec13b483acc4eb17c158f25e7e5b1595/py/kubeflow/testing/run_e2e_workflow.py#L178

We want to support 2 types of workflows

1. Ksonnet - which would use existing code
2. py_func

In the case of py_func you'll want to invoke the func to get a json descriptio

[2019-07-26 06:28] jlewi commented on #42
We have
https://github.com/kubeflow/testing/blob/master/images/checkout_repos.sh

But I think we might want to standardize on
https://github.com/hashicorp/go-getter

I think we can close this issue.

[2019-07-26 06:28] #42 closed

[2019-07-26 06:28] #55 closed

[2019-07-26 06:28] jlewi commented on #55
obsolete

[2019-07-26 14:56] kkasravi commented on #423
@scottilee I'm defining a run_e2e_workflow.py in the new [kfctl repo](https://github.com/kubeflow/kfctl). If you open a PR with the py_func definition I would be interested in reviewing what you have and try using it in the new kfctl repo.  I've done a bit of experimentation with class decorators but would be interested in using what you come up with.
thanks Kam

[2019-07-29 16:44] derekhh commented on #267
/assign

[2019-07-30 06:32] derekhh commented on #260
/assign

[2019-07-31 19:26] jlewi commented on #423
@kkasravi Why would run_e2e_workflow.py live in kubeflow/kfctl? Don't we want a single script that is used across repositories?

/cc @krishnadurai @swiftdiaries

[2019-07-31 19:39] jlewi commented on #259
/cc @krishnadurai @swiftdiaries

[2019-07-31 20:47] kkasravi commented on #423
@jlewi
yes - sorry, the workflows are in kfctl/prow_config.yaml. The py_func definitions are in kfctl.

[2019-07-31 21:56] swiftdiaries commented on #423
Yeah currently the design is to manually copy over the Workflow components if we want to re-use existing tests across repos.
See example here: https://github.com/kubeflow/manifests/blob/master/tests/workflows/components/kfctl_go_test.jsonnet
This adds extra maintenance overhead, going forward like Jeremy mentioned we should have a single script that can be re-used.

[2019-08-01 18:30] #205 closed

[2019-08-01 18:30] #225 closed

[2019-08-01 18:30] #247 closed

[2019-08-01 18:30] #254 closed

[2019-08-01 18:30] #256 closed

[2019-08-01 18:30] #264 closed

[2019-08-01 18:30] #282 closed

[2019-08-01 18:30] #292 closed

[2019-08-01 18:30] #252 closed

[2019-08-01 18:30] #316 closed

[2019-08-01 18:30] #284 closed

[2019-08-01 18:30] #332 closed

[2019-08-01 18:30] #342 closed

[2019-08-01 18:30] #324 closed

[2019-08-01 18:30] #179 closed

[2019-08-01 18:30] #173 closed

[2019-08-01 18:30] #108 closed

[2019-08-01 18:30] #103 closed

[2019-08-01 18:30] #78 closed

[2019-08-01 18:30] #5 closed

[2019-08-01 18:30] #11 closed

[2019-08-01 18:30] #364 closed

[2019-08-01 18:30] #368 closed

[2019-08-01 18:30] #366 closed

[2019-08-01 19:29] #32 closed

[2019-08-01 19:29] #22 closed

[2019-08-01 19:29] #13 closed

[2019-08-01 19:29] #49 closed

[2019-08-01 19:29] #75 closed

[2019-08-01 19:29] #88 closed

[2019-08-01 19:29] #168 closed

[2019-08-01 19:30] #124 closed

[2019-08-01 19:30] #182 closed

[2019-08-01 19:30] #181 closed

[2019-08-02 11:13] pdmack commented on #425
Why support multiple w/f pipeline providers in testing? Or is this a transition to ultimately replace argo?

[2019-08-02 19:04] scottilee commented on #202
It seems like you’ve already setup some postsubmit jobs to build images in https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml — is this ticket still relevant or which ones still need postsubmit jobs?

[2019-08-02 19:20] kkasravi commented on #424
@swiftdiaries here's my status

1. I'm working through this [example](https://itnext.io/how-to-use-knative-pipelining-component-to-automate-an-application-build-and-deployment-on-442b0b1bebf).
2. It installs knative as well as TektonCD, one thing I was looking into is whether we can leverage tests and the test framework that kubernetes has so the pipeline would call serverless snippets similar to

[2019-08-02 20:56] richardsliu commented on #202
@scottilee Those are for the kubeflow main repo. We still need one for the test-worker, which is built here: https://github.com/kubeflow/testing/tree/master/images

Right now we have to manually build and push the image whenever we make a change. We should be able to do this automatically after each postsubmit to kubeflow/testing.

[2019-08-04 13:33] #373 closed

[2019-08-04 16:55] scottilee commented on #44
@derekhh go for it.

[2019-08-06 00:31] jlewi commented on #425
@pdmack I think we'd want to ideally standardize. Tekton has some really nice properties in terms of reusability which is why I think it might make sense to standardize on Tekton. But one of the easiest ways to evaluate it is to pick an E2E test and try it out.

[2019-08-06 00:32] jlewi commented on #424
@kkasravi  Why would the E2E tests in kuberrnetes/test_infra be relevant to us? Wouldn't those tests be testing things we don't need to test?

[2019-08-06 01:50] kkasravi commented on #424
@jlewi
test_infra ends up calling ginkgo and uses kubernetes/test/e2e/framework which has lots of convenience functions for checking deployments, creating pods, etc

right now i'm just basically doing what kfctl_go_test does and evaluating whether this is a good approach and whether it's easy to mix python, golang in a tekton pipeline.

[2019-08-06 05:31] nikhil-thomas commented on #424
@kkasravi
You might find the following resources useful:

1. Tekton slack channels: `tektoncd.slack.com`
2. A simple `build-deploy pipeline` example: https://github.com/hrishin/voting-tekton-pipeline-samples (from a talk we delivered last Friday, the video is not published yet)
3. Tekton Pipelines Intro: https://www.youtube.com/watch?v=-ji5Z0qJmJs
         - source: https://github.com/nikhil-thoma

[2019-08-06 14:17] kkasravi commented on #424
thanks @nikhil-thomas I've joined the slack channel.

[2019-08-08 23:54] #379 closed

[2019-08-11 12:30] jinchihe opened #435 "No space in the CI/CD test env"
No space in the CI/CD test env, beflow is kfserving CI/CD presubmit test:

[code]

[2019-08-11 12:30] jinchihe commented on #435
/cc @kunmingg

[2019-08-12 03:36] johnugeorge commented on #435
/assign @jlewi

[2019-08-12 11:57] jlewi commented on #435
Playbook
https://github.com/kubeflow/testing/blob/master/playbook.md#nfs-volume-is-out-of-disk-space

[2019-08-12 12:02] jlewi commented on #435
Stackdriver only shows freebytes for last 6 weeks; [link](https://app.google.stackdriver.com/metrics-explorer?isAutoRefresh=false&project=kubeflow-ci&timeSelection=%7B%22timeRange%22:%22custom%22,%22start%22:%222019-07-01T12:00:38.771Z%22,%22end%22:%222019-08-12T12:00:38.771Z%22%7D&xyChart=%7B%22dataSets%22:%5B%7B%22timeSeriesFilter%22:%7B%22filter%22:%22metric.type%3D%5C%22file.googleapis.com%2Fn

[2019-08-12 13:58] jinchihe opened #437 "kubeflow-fairing-presubmit integration tests hangs"
kubeflow-fairing-presubmit integration tests always running timeout

[code]

Sometimes I saw there is a log
[code]

Not sure if this is root couse, but seems the fs.inotify.max_user_instances = 128, that's small, but we cannot update that in the docker container, I think need to update the base OS...

Related issue in faring repo https://github.com/kubeflow/fairing/issues/342

[2019-08-12 13:58] jinchihe commented on #437
/assign @kunmingg
/cc @jlewi

[2019-08-13 00:56] jinchihe commented on #435
@jlewi Great thanks for the quickly action, Yes, that's OK now.

[2019-08-13 17:13] jlewi opened #438 "no results showing up in testgrid"
Our test grid is suddenly not showing any results
https://testgrid.k8s.io/sig-big-data#kubeflow-postsubmit

[2019-08-13 17:45] jlewi commented on #438
presubmit grid for kubeflow shows some results
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-presubmit

No postsubmit results
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

We are running postsubmit jobs
https://prow.k8s.io/?repo=kubeflow%2Fkubeflow&type=postsubmit

Here's a postsubmit run in spyglass
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubefl

[2019-08-13 17:46] jlewi commented on #438
Annotation to add to testgrid-dashboards here
https://github.com/kubernetes/test-infra/blob/f651985a836637f122408fd63e6dea5b07e2aac7/config/jobs/kubeflow/kubeflow-postsubmits.yaml#L25

[2019-08-13 17:59] #435 closed

[2019-08-13 18:47] jlewi commented on #438
I think something may have changed in the test grid config.

We use to have kubeflow info in testgrid/config/config.yaml
https://github.com/kubernetes/test-infra/pull/4951/files

Not seeing that in
https://github.com/kubernetes/test-infra/blob/master/config/testgrids/config.yaml

https://github.com/kubernetes/test-infra/pull/4951/files

[2019-08-14 01:57] xauthulei opened #439 "kubeflow-presubmit testing error"
When I test my PR: #3879 and #3837 , it will report the same error :
INFO|2019-08-14T01:33:31|/src/kubeflow/testing/py/kubeflow/testing/util.py|71| panic: runtime error: invalid memory address or nil pointer dereference
Am I right here ?

[2019-08-14 03:31] jlewi commented on #438
One possible fix might be to list test-groups here
https://github.com/kubernetes/test-infra/blob/99b91b56b097e39d70cb1ae82c0b1cb57d98ac48/config/testgrids/config.yaml

And explicitly specify the GCS prefix.

It looks like we use to explicitly specify the GCS location for each test grid but now its using annotations but the implicit location may not be matching where are artifacts are stored.

[2019-08-14 05:10] jinchihe commented on #437
The issue cannot be reproduced now, close the ticket, thanks.

[2019-08-14 05:10] #437 closed

[2019-08-14 16:24] Katharine commented on #438
I added back explicit configuration in kubernetes/test-infra#13891. I think only postsubmits should've had this issue.

I think the root cause is a prow bug where it incorrectly determines where your results should be stored.

[2019-08-14 17:19] jlewi commented on #438
Thank you!
Its working
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit

[2019-08-14 17:19] #438 closed

[2019-08-14 17:31] jlewi opened #440 "Standardize/cleanup different bug kind labels"
The following labels are currently used to indicate what kind an issue is

* community/discussion
* community/question
* kind/bug
* improvement/enhancement
* addition/feature
* kind/process

Not  using the kind prefix has a bunch of drawbacks

* Prow allows the "/kind" command to be used to set the kind.
  * We use this in our issue templates to automatically set the kind
  * If we don't use kind

[2019-08-14 17:32] jlewi commented on #440
Updating label_sync might make for a good first issue; other parts will require access to test infra.

@derekhh @jian-he @scottilee

[2019-08-15 06:25] rbrishabh commented on #440
Hey @jlewi !

I would love to to the first part of this issue as my good first issue.

I noticed that in ```label_sync``` there are no labels likes -

[code]

Do I need to add new labels for these ones? If yes, what color should I be using?

Thanks!

[2019-08-15 22:00] jlewi commented on #440
@rbrishabh There should be a label for each label that we want; e.g. kind/process. There shouldn't be label definitions for labels we don't want. However labels that we want to rename should be listed as previous labels

e.g. addition/feature should be listed as a previous label for kind/feature

[2019-08-16 12:12] rbrishabh commented on #440
Alright, I'm on it! Will give a PR soon!

[2019-08-18 23:16] #391 closed

[2019-08-19 00:16] #393 closed

[2019-08-19 20:58] jlewi opened #444 "Auto-deployments of Kubeflow should use unique names and not recycle names - Upgrade to v0.7"
Our auto-deployments currently recycle names; e.g.
kf-vmaster-n??...

We originally did this because with IAP we used to need to create register each hostname manually. With universal redirect that should no longer be necessary.

In the past, reusing hostnames would lead to lets-encrypt quota errors. We worked around this by generating self-signed certificates.

But on master we have now switched

[2019-08-20 14:48] nikhil-thomas commented on #424
@kkasravi  in i see that you have embedded all tekton resources in `tektoncd/tektoncd/base`. (in https://github.com/kubeflow/manifests/pull/264)

You might find the `tektoncd/operator` project very useful (https://github.com/tektoncd/operator). you will be able to setup tektoncd-pipelines components using manifests in this directory (https://github.com/tektoncd/operator/tree/master/deploy)

at pre

[2019-08-28 01:07] xauthulei commented on #439
I have fixed this issue, more details can see issue [3995](https://github.com/kubeflow/kubeflow/issues/3995)

[2019-08-28 01:07] #439 closed

[2019-08-28 19:34] rbrishabh commented on #440
Definitely! I'll get right to it @jlewi

[2019-08-28 23:18] jlewi commented on #423
#431 is being reverted in #449. It looks like #431 is always adding workflows to be waited on even if the workflow is skipped. We will need to roll #431 forward and fix that issue.

@scottilee Do you want to take a look?

/cc @kkasravi

[2019-08-28 23:44] kkasravi commented on #423
@jlewi @scottilee

It looks like some of the code is repeated when the workflow is 'app_dir'. (create_started_file)
@scottilee did you want to have a go at fixing it?
If not, I can make a fix and push a PR. @scottilee if you want to merge my fix into #431 that would work too. Let me know. I would encourage you to try.

If you wanted me to go forward with a fix, I'll do the following
1. checkout #4

[2019-08-29 01:21] jlewi opened #450 "Continuous build of docker images and updating kustomize manifests"
We need a good way to continuously build our docker images and then update our kustomize manifests to use the updated images.

This is critical for maintaining velocity. One of the big problems we are seeing with releases is that changes are piling up and not getting exercised until we start cutting releases because we haven't updated our kustomize manifests.

Also as the number of applications sc

[2019-08-29 02:03] scottilee commented on #423
I think I found the issue. I put up another PR here: https://github.com/kubeflow/testing/pull/451

[2019-08-29 04:46] rbrishabh commented on #440
Hey @jlewi !

The 8 repositories where I found issue_label_bot.yaml were:

1. Kuberfolow
2. Testing
3. Website
4. Fairing
5. Examples
6. tf-operator
7. code-intelligence
8. community

There were no issue_label_bot.yaml files in the rest of the 24 repositories.
For your ease, I have tagged you on all 8 pull requests.

Let me know if I went wrong anywhere! Thanks! =)

[2019-08-29 04:53] rbrishabh commented on #440
Whoops I think by mistake I updated cache file in this repo as well :P

[2019-08-29 14:58] jlewi commented on #440
That sounds right.

@rbrishabh be sure to "/assign jlewi" your PRs to me so that they show up in my review queue otherwise I won't see them.

You can see my inbox here
https://k8s-gubernator.appspot.com/pr/jlewi

[2019-09-04 22:32] jlewi opened #455 "Define labels to indicate approximate effort needed to complete an issue"
We'd like a standard way to indicate how much effort an issue will take. This will help us do better planning.

It doesn't look like GitHub has a way to specify effort. But one way we can do this is by defining labels.

As a starting point here's an initial set of label

effort/1-day
effort/3-day
effort/5-day
effort/2-weeks
effort/2-weeks+

[2019-09-05 03:03] jlewi opened #457 "Setup KCC to manage kubeflow.org projects"
We are creating more and more GCP projects and GKE clusters to use for administering kubeflow.org.

In order to continue to scale and grow we need to manage this more declaratively and move to GitOps. This will eventually make it easier for Kubeflow contributors to create infrastructure they need just by submitting PRs.

The latest example is @scottilee is trying to setup infrastructure to auto-sy

[2019-09-05 03:22] jlewi commented on #457
@derekhh @jinchihe I have created the Google group and given you access in #147 in the hope of motivating you to help out with this :)

@scottilee I will give you access as well but I'd like to use a corporate account and not a personal account and I don't know yours.

[2019-09-05 04:05] scottilee commented on #457
Cool, unless I'm misunderstanding it looks like Cloud Connector is infrastructure orchestration through Kubernetes manifests. If there's anything that CC doesn't support yet that you'd want managed through something like Terraform let me know because I can definitely do that.

I'm happy to help and I've messaged you to see if we can figure out how we can get me access.

[2019-09-05 04:56] derekhh commented on #457
@jlewi Sure let me take a look.

[2019-09-05 04:56] derekhh commented on #457
/assign @derekhh

[2019-09-05 05:48] scottilee commented on #292
@jlewi Is this still relevant? If so, we should re-open it and remove the lifecycle/stale label.

[2019-09-05 14:01] jlewi commented on #450
GCB now has direct integration via GitHub App Triggers
https://cloud.google.com/cloud-build/docs/create-github-app-triggers

So if we install that GitHub App in our project then we can trigger GCB builds in response to PRs.  The GCB build could then create K8s resources.

This is very similar to our prow infra works today. We use Prow to trigger Prow jobs which run run_workflow_e2e.py which in tur

[2019-09-05 20:21] jlewi commented on #450
With kubeflow/kubeflow#4029 we have a pretty good POC for CD of the jupyter web app image.
The next step is probably to generalize this to a 2nd image which should probably be the central dashboard; kubeflow/kubeflow#3781.

1. Parameterizing [update_jupyter_web_app.py](https://github.com/kubeflow/kubeflow/blob/master/py/kubeflow/kubeflow/ci/update_jupyter_web_app.py) into a reusable script should

[2019-09-06 03:19] jlewi commented on #457
@scottilee you should have access now. For anything that KCC can't manage we should file an issue and figure out when KCC will manage it.

[2019-09-07 06:54] rbrishabh commented on #440
I think this can now be closed ;)

[2019-09-07 17:00] scottilee commented on #457
@derekhh I'd be happy to help with this, maybe we can split up tasks (let me know if any of these are wrong):

**Config Connector**
- [ ] Upgrade the `kf-kcc` and `containercluster-sample-2` GKE clusters in the `kf-kcc-admin` project to version `1.13.7-gke.24`
- [ ] Create a PR with [Config Connector](https://cloud.google.com/config-connector/docs/overview) changes in [kubeflow/testing](https://gi

[2019-09-07 20:23] #423 closed

[2019-09-07 20:50] jlewi commented on #440
Thanks @rbrishabh

[2019-09-07 20:50] #440 closed

[2019-09-08 23:45] #455 closed

[2019-09-09 08:32] derekhh commented on #457
@scottilee Thanks for the detailed task list! Let me take a quick look at Config Connector related docs and get back to you. :)

[2019-09-09 17:52] jlewi opened #459 "ks segfaulting trying to submit workflows"
Presubmit for kubeflow/kubeflow#4097

Segfault

[code]

[2019-09-09 17:53] jlewi commented on #459
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4096/kubeflow-presubmit/1171115329498124288/

[2019-09-09 18:05] jlewi commented on #459
Looking at gcr.io/kubeflow-ci/test-worker it looks like we recently updated the image tagged latest
v20190905-cff62af-e3b0c4

[2019-09-09 18:07] jlewi commented on #459
The debug worker is using
    image: gcr.io/kubeflow-ci/test-worker:latest
    imageID: docker-pullable://gcr.io/kubeflow-ci/test-worker@sha256:db67f414c04a918f60aa081d9f9b85b4665c54bac1cdf706efd25a7ef63e7e29

That corresponds to the tag
v20190802-c6f9140-e3b0c4

[2019-09-09 18:08] jlewi commented on #459
I don't see any critical fixes in
https://github.com/kubeflow/testing/commits/master/images

So I'm going to try moving the latest tag back

[2019-09-09 18:13] jlewi commented on #459
It looks like rolling bag the latest tag back to
v20190802-c6f9140-e3b0c4
fixed that particular issue

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4097/kubeflow-presubmit/1171123500727930881/

So it looks like there might be some difference in the ks binary in the existing image vs. the one that would get pulled into  a new image.

[2019-09-09 18:34] kkasravi commented on #459
That’s disconcerting especially if the is version hasn’t changed.

[2019-09-09 22:08] #403 closed

[2019-09-14 04:42] scottilee opened #460 "Cleanup Kubeflow Testgrid"
https://testgrid.k8s.io/sig-big-data could use some attention. @jlewi Let me know what you think about the following tasks and questions:

**Tasks**
1. Remove unused jobs from https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubeflow (e.g., `kubeflow-periodic-0-4-branch` and `kubeflow-periodic-0-3-branch`
2. Remove unused groups from https://github.com/kubernetes/test-infra/blob/ma

[2019-09-15 02:39] jlewi commented on #460
Thanks @scottilee I think we can remove any test grids related to releases prior to v0.5.

A kubeflow specific test grid as opposed to big data sounds like a great idea

We can remove testgrids if the repository no longer exists in kubeflow or if the repository has been archived.

If the repository still exists then eventually we will want testgrids for pre, post and periodic because pretty much e

[2019-09-15 04:25] scottilee commented on #460
@jlewi

If you go to https://testgrid.k8s.io/istio-tests-postsubmit for example, by tab I mean "Summary" or "build_tests_postsubmit" or "lint_tests_postsubmit". You can see related tests are grouped under those tabs. I was asking if we should group similar Kubeflow tests under tabs like "periodics" or "kfctl", what do you think?

Also when you say "kubeflow specific test grid" do you want me to cr

[2019-09-16 12:53] jlewi commented on #460
Option B seems fine to me.

Yes a job for the upcoming release would be great.

[2019-09-16 12:54] jlewi commented on #457
@derekhh any update on this?

[2019-09-16 13:03] jlewi opened #461 "Kubeflow auto-deployments from master endpoint not accessible; no SSL certificate"
The kubeflow auto deployments from master are not accessible via IAP.

It looks like the certificate isn't getting created (probably as a result of switching to managed certificates in 0.7).

Here are the events for one of the master clusters

[code]

Here are the events for the managed certificate.

[code]

[2019-09-16 13:05] jlewi commented on #461
endpoints tests are failing on v0.6 and master
see kubeflow/kubeflow#4114

[2019-09-16 13:14] jlewi commented on #461
The gcloud output for the certificate is below

The certificate was created on 2019/08/19. So I think it corresponds to an earlier incarnation of the kf-vmaster-n02 endpoint and not the most recent deployment which is 12 hours old.

[code]

[2019-09-16 13:17] jlewi commented on #461
We can get the compute operation. Looks like its failing because of quota errors.

[code]

[2019-09-16 13:25] jlewi commented on #461
It looks like the GKE certificate resource is trying to create a new certificate for the kf-vmaster-n02 host rather than reusing the existing one.

[code]

So its trying to create certificate mcrt-d37050b4-d08c-4394-bde9-ca24850fffa4

The existing certificate is mcrt-8f0b5937-eebe-4feb-9e02-9ebe061d5ccb

So we will likely run into lets encrypt issues.

[2019-09-16 13:27] jlewi commented on #461
It looks like we don't do any cleanup of SSL certificates.
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py

[2019-09-16 13:53] jlewi commented on #461
Results of certificate cleanup. I cleaned up all certificates more than 7 days old. This ended up deleting all the certificates.

[code]

[2019-09-16 16:30] derekhh commented on #457
@jlewi Sorry I haven't found time to work on this issue last week but I'll provide some update this week for sure. :)

[2019-09-16 17:11] jlewi commented on #461
I cleaned up old certificates. As a result it was able to provision a new certificate and the endpoint is now accessible.
kf-vmaster-n02.endpoints.kubeflow-ci-deployment.cloud.goog

[2019-09-17 13:20] jlewi commented on #412
Reopening because I'm observing junit failures not reported as a status check failure.
Here's a presubmit run where we have a junit failure
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4129/kubeflow-presubmit/1173794332621148160/

The GitHub status check however indicates the tests passed (this is how the code that broke the tests kubeflow/kubeflow#4114) ended up

[2019-09-18 13:14] Tabrizian opened #464 "Allowing Public Access to CI Logs"
I am a new contributor to Kubeflow, during the pull requests time is consumed because the contributor needs to wait for someone who has access to the CI logs to post them so that the contributor can read the log and fix the problem.

I was wondering is it possible to make the access to the Kubeflow logs public and/or creating a google group to grant viewer only access?

Thanks!

[2019-09-18 17:51] derekhh commented on #412
@jlewi Sure I'll take a look - that does seem weird

[2019-09-20 01:08] kkasravi opened #465 "update test-worker to use kustomize-v3.0.1"
this should come after kubeflow/manifests#372

[2019-09-20 04:02] jlewi opened #467 "Namespace packaging and run_e2e_workflow.py breaks when using python -m"
We invoke run_e2e_workflow.py using "python -m kubeflow.testing.run_e2e_workflow.py"

run_e2e_workflow.py then dynamically adds to the python path based on the python_paths listed in prow_config.py.

The imports of modules e.g. kubeflow.kubeflow.ci.kfctl_e2e_workflow failed.

However when I changed the code to instead run it as

[code]
I have no idea why this is.

Steps to reproduce

1. Create a r

[2019-09-20 13:49] Tabrizian opened #468 "Docker version of the image builder should be updated"
Currently, Docker version of the dind image is lacking support for some of the image building requirements.

For example, in the comment below `USER` could not be parameterized.

https://github.com/kubeflow/kubeflow/pull/4046#issuecomment-533303450

[2019-09-20 14:05] jlewi commented on #467
See this comment
https://github.com/kubeflow/testing/pull/466#issuecomment-533567848

For some suggestions about how to refactor the hacky solution to make it cleaner.

[2019-09-21 04:33] kkasravi opened #469 "Set up tektonCD in the kubeflow-releasing project"
- Put TektonCD on that cluster (/manifests/tektonCD
- Add kkasravi to https://github.com/kubeflow/internal-acls/blob/master/release-team.members.txt

[2019-09-22 17:38] #407 closed

[2019-09-23 02:44] scottilee commented on #460
I went through the Kubeflow repos and it looks like `kubeflow-experimental-beagle-postsubmit`, `kubeflow-experimental-kvc-presubmit`, `kubeflow-experimental-kvc-postsubmit`, and `kubeflow-experimental-beagle-presubmit` are no longer repositories. I will remove them and have checked them off above.

I'm going to wait until https://github.com/kubernetes/test-infra/issues/14343 is resolved before con

[2019-09-23 06:39] #465 closed

[2019-09-23 10:22] jlewi commented on #464
@Tabrizian I will set up a google group. What is your Google account? Using your corporate account is preferred to your personal account.

[2019-09-23 15:54] Tabrizian commented on #464
Here is my email address:

iman.tabrizian@gmail.com

[2019-09-27 00:06] jlewi opened #471 "Kubeflow auto-deployments from master failing; error setting project"
Here's the stack trace from the most recent failure

[code]

[2019-09-27 00:08] jlewi commented on #471
I think the problem is that we are trying to pull the config from kubeflow/kubeflow but the manifest has moved to kubeflow/manifests.

Here's the invocation.

[code]

[2019-09-27 11:50] jlewi opened #473 "Files modified in PR not computed correctly because clone depth = 1"
https://github.com/kubeflow/kubeflow/pull/4148

Is an example where we incorrectly detected the files that were changed in the PR.
We ended up including files which had been modified on master after the commit on which the PR was based.

The command

[code]

failed so we ended up computing a diff against master.

It looks like we are cloning with depth = 2
https://github.com/kubeflow/testing/blob/

[2019-09-27 20:47] jlewi commented on #461
Running into more quota problems. I checked the cleanup script and we are cleaning up some.

[2019-09-27 20:50] jlewi commented on #461
[code]

[2019-09-27 20:51] jlewi commented on #461
It looks like the problem is our current retention policy is 7 days as noted in the code.

[2019-09-28 06:13] Tabrizian commented on #464
May I close this issue? I can see the logs in Argo.

[2019-10-01 03:11] scottilee commented on #457
@derekhh Any update?

[2019-10-01 17:44] derekhh commented on #457
@scottilee - Super sorry again...I read some documentation on Config Connector but wasn't able to make actual progress. If this is an urgent task please feel free to start working on it, but if not that urgent I'm still willing to take on this and see what I can do this week.

[2019-10-01 17:45] scottilee commented on #457
No worries, I just didn't want to step on your toes. I have some time this week so I will see if I can get started on it.

[2019-10-02 12:56] jlewi opened #475 "Setup kubeflow-testing to be cluster for prow jobs - move off Kubernete's prow instance"
See: GoogleCloudPlatform/oss-test-infra#93
See :kubernetes/test-infra#14343

/assign @scottilee

[2019-10-02 12:57] jlewi commented on #475
Created namespace test-pods

[code]

[2019-10-02 13:01] jlewi commented on #475
Next step run mkbuild-cluster
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/mkbuild-cluster/README.md

[2019-10-03 00:27] jlewi opened #476 "too many GKE clusters on default network in kubeflow-ci-deployment - not enough ip bock space"
From
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/4224/kubeflow-presubmit/1179549632540184576/

[code]

[2019-10-03 00:36] jlewi commented on #476
The cleanup job is running.

There are a lot of kfctl clusters.

[code]

[code]

[2019-10-03 00:40] jlewi commented on #476
So the problem is we have too many GKE clusters running on the same network and we are running out of IP space.

[2019-10-03 00:45] jlewi commented on #476
Short term fix we could more aggressively GC older clusters.

Longer term

* We could create multiple VPCs and split up the test clusters among them
  * e.g. use different networks for pre and postsubmit
  * Or explicitly assign different tests to different networks in prow_config.yaml

[2019-10-03 00:54] jlewi commented on #476
[code]

[2019-10-03 01:07] jlewi commented on #476
Root cause here might be kubeflow/kubeflow#4221 which caused the delete step to start failing which is why we might have accumulated clusters.

[2019-10-03 02:02] jlewi commented on #476
I deleted clusters older than an hour. Tests appear to be passing again
https://github.com/kubeflow/kubeflow/pull/4224 - presubmits passed and this was merged.

[2019-10-03 02:02] #476 closed

[2019-10-03 11:01] jlewi commented on #457
@scottilee the plan you outlined above looks good to me.

The folder structure is

kf-kcc - Folder
  users - Folder
  kf-kcc-admin - project

So there aren't any folders under kf-kcc-admin

[2019-10-03 11:03] jlewi commented on #475
I tried runnin git and got a permission issue which I need to debug

[code]

[2019-10-03 12:32] jlewi commented on #475
I had to add the --skip-option check

[code]

@scottilee  I will share the result with you.

[2019-10-04 00:10] jlewi commented on #459
See also ksonnet/ksonnet#883

maybe we aren't using the version of ksonnet in which it was fixed.

[2019-10-04 18:27] scottilee commented on #475
@jlewi Travis ran the following using the information in the yml file but it didn't have the required access:
[code]

[2019-10-05 02:24] jlewi commented on #475
@scottilee Who or what is travis? Who is trying to access the cluster and how are they trying to autenticate to the cluster?

[2019-10-05 05:05] scottilee commented on #475
Travis is @clarketm, who is helping on the migration to https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/prowjobs.

He was connecting the the Kubeflow CI cluster to the GoogleCloudPlatform Prow instance using the yml file you generated. He recommends generating a cert with cluster-admin access and referenced this as a doc for cert generation: https://github.com/clarketm/kuber

[2019-10-05 05:39] clarketm commented on #475
@scottilee @jlewi
The provided x509 certificate does not have the required authorization to administer pods in your build cluster. This can be fixed using the following reference:
https://github.com/kubernetes/test-infra/blob/master/prow/cmd/mkbuild-cluster/README.md#credential-errors

[2019-10-05 06:42] scottilee commented on #464
@Tabrizian please re-open if you have any further issues.

[2019-10-05 06:42] #464 closed

[2019-10-07 21:30] jlewi commented on #475
@clarketm Thanks. Is it possible to use GCP IAM instead of x509 certificates? Does prow have a GCP service account I could grant the appropriate GKE IAM role on our clusters?

[2019-10-07 21:54] jlewi opened #478 "Create a Google group with viewer only access to the CI infrastructure"
We should create a suitable google group to grant folks viewer only access to ci infrastructure to support debugging tests.

/cc @jinchihe

[2019-10-07 22:49] clarketm commented on #475
@jlewi

Currently, Prow supports only generic (i.e. provider-agnostic) cluster authorization mechanisms - either x509 certificates or [Kubernetes service account tokens](https://github.com/clarketm/kubernetes_test-infra/blob/4e8e146fee3b2eb1d111bfd3e8e0aaee9758b336/pkg/gencred/README.md#generate-a-service-account-token-for-a-cluster).

[2019-10-09 02:21] #478 closed

[2019-10-12 04:59] jlewi opened #479 "kubeflow/kubeflow periodic jobs not running"
The last run of our periodic job was 10-11 at ~6pm PST
https://prow.k8s.io/?repo=kubeflow%2Fkubeflow&type=periodic

Not seeing any prow jobs
https://prow.k8s.io/?repo=kubeflow%2Fkubeflow&type=periodic

[2019-10-12 05:04] jlewi commented on #479
Should be defined here:
https://github.com/kubernetes/test-infra/blob/dec84ecf471ca5c026a4fc36fb9ee43261f3ab42/config/jobs/kubeflow/kubeflow-periodics.yaml#L74

[2019-10-14 18:35] jlewi commented on #479
Results are now showing up again in our dashboard
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master

Periodic jobs aren't associated with a repo so they won't show up here.
https://prow.k8s.io/?repo=kubeflow%2Fkubeflow&type=periodic

Here's a valid link to see the prow jobs
https://prow.k8s.io/?type=periodic&job=kubeflow-periodic-master

And everything looks to be working.

[2019-10-14 18:35] #479 closed

[2019-10-14 21:15] jlewi opened #480 "kubeflow-ci-deployment out of private address space on default network"
Starting to see this area again.

#476 was the previous instance of this issue.

It does look like we are leaking some clusters

[code]

[2019-10-14 21:44] jlewi commented on #480
Here are the logs from the most recent run
[cleanup-kubeflow-ci-deployment.txt](https://github.com/kubeflow/testing/files/3726517/cleanup-kubeflow-ci-deployment.txt)

It looks like it was in the process of deleting clusters when it hit the following error

[code]

[2019-10-14 22:09] jlewi commented on #480
The current time is 2019-10-14T22:05

We GC deployments after 3 hours. So anything before 2019-10-14T19:05 should be expired. It looks like we have a couple of those.

Deployments in an error state should also be aggressively pruned after 10 minutes.

I triggered a oneoff job based on #481. Hopefully that prevents the exception which is causing to abort before properly GC'ing all the clusters.

[c

[2019-10-14 23:06] jlewi commented on #480
On my one off job it aborted with error

[code]

[2019-10-15 01:20] jlewi commented on #480
[code]

[2019-10-15 02:40] jlewi commented on #480
All the error clusters and old clusters have been GC'd.

[code]

[2019-10-15 18:11] jlewi commented on #480
We can close this when the PR is merged.

[2019-10-15 18:22] jlewi opened #482 "kfctl_is_ready_test flakes"
Creating this issue to track flakes with kfctl_is_ready

kubeflow/kubeflow#4287 I saw flakes related to waiting for the Arguo UI.

[kubeflow-presubmit-kfctl-go-iap-istio-4287-0d9fe72-2176-bbd9-499721489.log.txt](https://github.com/kubeflow/testing/files/3730851/kubeflow-presubmit-kfctl-go-iap-istio-4287-0d9fe72-2176-bbd9-499721489.log.txt)

It doesn't look like we are waiting for long for the argo

[2019-10-15 18:29] jlewi commented on #482
We should be waiting for 10 minutes although even that seems short.
https://github.com/kubeflow/kubeflow/blob/9f5ef66ce3d12ff2b603d07330a16661caa0b286/testing/kfctl/kf_is_ready_test.py#L101

https://github.com/kubeflow/testing/blob/f1d5dcd63b91f9b327beaf1e3aa48543f7c00ad5/py/kubeflow/testing/util.py#L415

But the logs are not consistent with a 10 minute wait.

[2019-10-15 18:32] jlewi commented on #482
Actually I'm not sure I trust the timestamps in the logs. I believe these are the timestamps added by stackdriver.

The python logging set in kf_is_ready_test.py is bypassed because we aren't invoking main.

We should fix that.

[2019-10-15 19:36] jlewi commented on #482
Another failure
[kubeflow-presubmit-kfctl-go-basic-auth-4287-0d9fe72-9747-1706-2546639377.log.txt](https://github.com/kubeflow/testing/files/3731096/kubeflow-presubmit-kfctl-go-basic-auth-4287-0d9fe72-9747-1706-2546639377.log.txt)

Logs don't indicate an error so I suspect that pod got killed

If the situation persist we might just need to mark it flaky until we have time to make some of the chang

[2019-10-15 20:12] jlewi commented on #482
Pod got killed because it took too long

[2019-10-15 20:19] gabrielwen opened #483 "cleanup_ci needs to clean up IAM policy members"
cleanup_ci doesn't seem to wipe out IAM policy members and it's causing test failures from time to time.

[2019-10-15 20:31] gabrielwen commented on #483
so the script actually works with `python -m kubeflow.testing.cleanup_ci  --project=kubeflow-ci-deployment service_account_bindings`

somehow the cronjob didn't run it, tho.

[2019-10-15 20:42] gabrielwen commented on #483
Error:
[code]

The weirdest thing is that I didn't have this error when running this locally.

[2019-10-15 20:46] gabrielwen commented on #483
seems it's because of a breaking change:
https://github.com/googleapis/google-api-python-client/issues/713

[2019-10-15 20:46] gabrielwen commented on #483
/assign @gabrielwen

[2019-10-15 21:36] #483 closed

[2019-10-15 22:27] jlewi commented on #480
Out of space again

[code]

[2019-10-15 22:49] jlewi commented on #480
Seeing errors like

[code]

[2019-10-15 22:52] jlewi commented on #480
[code]

[2019-10-15 22:55] jlewi commented on #480
It looks like we are not aggressively pruning clusters in the error state.

[2019-10-15 23:12] jlewi commented on #480
We should be healthy again.

[code]

[2019-10-16 01:12] jlewi commented on #257
This is turning out to be a major problem.
If the workflow cleanup fails (e.g. kfctl delete) then the copy_artifacts step never runs and we don't upload the junit files to prow.

We should really be running this in run_e2e_workflow.py and ideally running this in the background so that we upload results as we go.

[2019-10-16 01:13] jlewi commented on #257
Bump to P0; I think we are losing a lot of signal about the reliability of our tests because of this.

[2019-10-16 02:55] jlewi commented on #257
This is a bit complicated because run_e2e_workflow.py is running on the prow cluster so it doesn't have access to the NFS share that the E2E tests in kubeflow-testing are writing to.

Run e2e_workflow.py could fire off a K8s job on the kubeflow-testing cluster to do the sync.

[2019-10-17 05:21] jlewi opened #489 "Support grouping in testgrid"
Our E2E tests run Argo workflows.  We would like to group related tests when viewing the results in testgrid. For example we'd like to see all tests corresponding to the "GCP-IAP" config grouped together vs the same tests running in the "GCP-basic auth" config.

Test grid supports organizing by test target which corresponds to classname in the junit xml file.

When generating junit files from pyte

[2019-10-17 12:55] tania-python-dev commented on #209
I also faced with a problem with refreshing token. Python client reads token from  `~./kube/config`, if it is already expired, creates new token and sends next request with a new one. It looks like a usual flow but the issue is that kubectl config remains the same (with old expired token) and API responds me with 403 Forbidden error since I come with unknown for him token.
The only way I can refre

[2019-10-17 13:48] jlewi opened #491 "Add stackdriver links to Argo workflows uploaded to GCS"
Using the Argo UI to surface pod logs is unreliable; it depends on the pod still being available and not having been GC'd by Kubernetes.

A more reliable method is to fetch logs from stackdriver based on the pod_name.

To make this more convenient we could provide the appropriate stackdriver links to the users.

We currently upload the YAML specs for the Argo workflows to GCS and these are availab

[2019-10-17 20:09] jlewi opened #492 "No results in test grid for kubeflow/testing presubmits and kubeflow/examples postsubmits"
https://testgrid.k8s.io/sig-big-data#kubeflow-testing-presubmit

Dashboard is empty.

Other grids show results.

[2019-10-18 15:06] jlewi commented on #492
kubeflow/examples-postsubmit is also missing results
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-postsubmit

There is a prow job from yesterday
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_examples/663/kubeflow-examples-presubmit/1185008024104734720/

There is a junit result showing up in spyglass

The prow job has the testgrid annotation
https://github

[2019-10-18 15:13] jlewi commented on #492
Results are showing up in the presbumits
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-presubmit

Looks like no postsubmit jobs have run in a long time
https://prow.k8s.io/?repo=kubeflow%2Fexamples&type=postsubmit

[2019-10-18 15:18] jlewi commented on #492
Periodics for kubeflow-examples are showing up.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-examples

[2019-10-18 15:37] jlewi commented on #471
Still failing

[code]

[2019-10-18 15:38] jlewi commented on #471
Here's the latest error.

[code]

[2019-10-21 20:21] jlewi opened #498 "Setup 0.7 periodic tests"
We need to setup a periodic test for the 0.7 release.

There's a couple pieces to this.

1. We need to define a prow job for the periodic job
1. We need to figure out which repo to use for the prow_config.yaml that will define the test.

The obvious choice would be either kubeflow/kubeflow, kubeflow/kfctl, or kubeflow/manifests.

Our primary E2E tests right now are defined with kubeflow/kubeflow.

[2019-10-22 21:43] jlewi commented on #498
Prow jobs are failing

[code]

[2019-10-23 05:21] jinchihe opened #499 "Workload identity not working TF; kubeflow-ci-deployment.svc.id.goog with additional claims does not have storage.objects.get access"
In the kubeflow/example mnist CI/CD tests is failed caused by beflow issue,

1. using the cluster `kf-vmaster-n01`.
2. Found this try to resolve other porblem in the PR https://github.com/kubeflow/examples/pull/668.

[code]

[2019-10-23 05:21] jinchihe commented on #499
/cc @jlewi @kunmingg

[2019-10-23 05:50] jlewi commented on #499
This looks like an issue with workload identity, TF, and GCS. I'm not sure where the error lies; i.e.

* Is workload identity misconfigured?
* Is there an issue with TF code and workload identity?
* Are IAM permissions misconfigured?

I checked kf-vmaster-n01 it looks like it is pined to the correct version of GKE

[code]

To avoid the bug we encountered with workload identity on later versions of

[2019-10-23 08:07] jinchihe opened #501 "test-worker image should be released in the post-submit"
In the PR #500 updated the test-worker image, but the image is not refreshed, the image should be released in the post-submit.

/cc @jlewi

[2019-10-23 08:51] jinchihe commented on #499
@jlewi Thanks Jeremy, i do not think that's caused by workflow issue. I just updated the test cluster to `kf-v0-6-n00`, that's OK. checked the version of `kf-v0-6-n00` is `1.12.10-gke.15` and `kf-vmaster-n00` version is `1.14.6-gke.2`. I do not know any other difference.

[2019-10-25 00:40] jlewi commented on #444
The cron job is now failing.

[code]

[2019-10-25 01:47] jlewi commented on #444
We need to update
https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/get_kf_testing_cluster.py

To work with the new naming pattern.

[2019-10-26 03:07] #480 closed

[2019-10-26 03:09] jlewi commented on #444
We need to update cleanup_ci.py - the max duration of clusters is shorter then the frequency with which we are auto-deploying clusters from master

[2019-10-28 16:12] #415 closed

[2019-10-28 16:17] derekhh commented on #260
/assign

[2019-10-28 20:09] lluunn opened #507 "periodic and postsubmit tests broken"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-postsubmit
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-master
- mainly basic auth
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1188840474232754176
- http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfctl-go-basic-auth-4176-e4a6?tab=workflow&nodeId=kub

[2019-10-28 20:26] lluunn commented on #507
From the log, the setup seems wrong

[code]

[2019-10-29 13:29] jinchihe commented on #499
Yes, I think so, that may be caused by workload identity.

[2019-10-30 00:06] richardsliu commented on #243
Reopening this issue.

[2019-10-30 01:15] jlewi commented on #507
Most recent periodic run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_kubeflow/kubeflow-postsubmit/1188082356003540992

Master was at
Your branch is up-to-date with 'origin/master'.
++ git describe --tags --always --dirty
/mnt/test-data-volume/kubeflow-periodic-master-kfctl-go-basic-auth-6616-f600/src/kubeflow/kubeflow is at ce4ad4b

This should include the fix.

[2019-10-30 01:19] lluunn commented on #507
still seeing logs:
[code]

And the line number is correct that it should have the fix https://github.com/kubeflow/kubeflow/pull/4420/files

investigating

[2019-10-30 04:58] #507 closed

[2019-10-30 05:20] jlewi commented on #501
The current gcr.io/kubeflow-ci/test-worker:latest image is pointing at
gcr.kubeflow-ci/test-worker@sha256:dd559f89b3cbd926ec563559995f25025eecc6290b3146f17f82d2f084d07ee2

Which is from Oct 2.

I just triggered a build to pick up the new image.

To auto-build it on post-submit we would just define an Argo workflow to be triggered from prow_config.yaml. That workflow could just run `make build-gcb`

[2019-10-30 09:41] jinchihe commented on #501
@jlewi Great thanks!

[2019-10-30 11:49] jlewi commented on #501
Here's a new image:
gcr.io/kubeflow-ci/test-worker:v20191029-fd24db8-e3b0c

[2019-10-30 17:53] lluunn opened #508 "katib test failed in periodic"
<img width="1219" alt="Screen Shot 2019-10-30 at 10 50 54 AM" src="https://user-images.githubusercontent.com/32310205/67884595-53263f80-fb03-11e9-8c1d-08ad3e22bf70.png">

http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-periodic-master-kfctl-go-basic-auth-7210-3f73?tab=workflow&nodeId=kubeflow-periodic-master-kfctl-go-basic-auth-7210-3f73-4078077713&sidePanel=logs%3Akubeflow

[2019-10-30 19:02] lluunn commented on #508
I think kubectl just merged` desired=1 current=1` into `ready=1/1`
in the logs:
[code]

[2019-10-30 19:07] lluunn commented on #508
we should get the number by `kgdepn kubeflow katib-db -o jsonpath='{.status.availableReplicas}'`

[2019-10-30 20:01] richardsliu commented on #275
Reopen.

[2019-10-30 20:15] jlewi opened #509 "katib job, pytorch-job and smoke-test job don't adhere to same naming schema for workflow tests"
Here's a screenshot for the test grid
![testgrid](https://user-images.githubusercontent.com/777219/67895028-faf93880-fb16-11e9-98bc-12396cd0c343.png)

The katib and pytorch jobs aren't properly grouped in the hierarchy e.g. the names are

* kubeflow-periodic-master-kfctl-go-basic-auth-v07-7210-3d80-test_katib-test-katib
* kubeflow-periodic-master-kfctl-go-iap-v07-7210-f035-deploy_pytorchjob-pytorc

[2019-10-30 20:34] jlewi commented on #508
Discussed with @lluunn

I think we should just get rid of the current script and add a new test function to
https://github.com/kubeflow/kubeflow/blob/master/testing/kfctl/kf_is_ready_test.py

Related: kubeflow/testing#509

[2019-10-30 21:54] jlewi commented on #508
This is failing in presubmit as well and blocking it.

According to @lluunn this is because the format of kubectl changed and the test depends on this format.

We recently upgraded kubectl in our test worker images and that's what's causing the problem.

[2019-10-30 21:57] jlewi opened #510 "Upgrade kubectl to 1.14 in test-worker"
Tracking bug for upgrading kubectl to 1.14 in test-worker.

This is currently blocked on kubeflow/testing#508 the katib breaks with the newer version of kubectl so we need to fix the test first.

We had previously tried to upgrade the image to one with the latest version of kubectl and it broke.
See
https://github.com/kubeflow/testing/issues/501#issuecomment-547742939

Rolling back the latest imag

[2019-10-30 21:57] jlewi commented on #510
/cc @jinchihe

@jinchihe If you need to upgrade the examples; you could modify the example tests to pin to a specific image rather than using latest.

[2019-10-31 00:58] jinchihe commented on #510
@jlewi OK. Thanks. but why not pin to specific test-worker image tag? I think all test clusters will be >= 1.14, :-)

[2019-10-31 22:20] richardsliu commented on #202
Commenting just to keep this issue open.

[2019-11-01 18:23] jlewi commented on #510
If we pin the test worker image used by a particular test then when we want to update the test worker image we have to update all the tests.

[2019-11-01 19:17] jlewi opened #515 "Remove GKE permissions to kubeflow-ci from kubeflow-testing serving account"
Argo workflows for E2E test run in the project kubeflow-ci.

If E2E tests deploy GCP infrastructure (e.g. clusters) they should do this in project: kubeflow-ci-deployment.

However, some tests are still deploying in kubeflow-ci.

We should update the tests and lock down the permissions on the service account assigned to the kubeflow-ci project.

[2019-11-04 14:11] jlewi commented on #498
kubeflow/kubeflow now has a v0.7-branch

There are no results showing up in the [kubeflow-periodic-0-7](https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-periodic-0-7&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B) test grid.

[2019-11-04 17:28] #429 closed

[2019-11-04 21:47] jlewi opened #517 "Test grid doesn't appear to report expected failures"
Expected failures (i.e. pytests marked with xfail) don't appear to show up in test_grid.
They are reported in spyglass.

Is this an issue with test grid or is there some option we need to enable.

Here's a snapshot of test grid. There is no "test_endpoint_ready" test
![testgrid](https://user-images.githubusercontent.com/777219/68160802-65d8b400-ff09-11e9-859d-5e2a12a63508.png)

But there is a juni

[2019-11-04 21:49] jlewi commented on #517
Didn't see any issues about this
https://github.com/kubernetes/test-infra/issues?q=is%3Aissue+testgrid+skipped+is%3Aclosed

[2019-11-07 15:08] jlewi opened #520 "bulk delete of kubeflow deployments"
Follow up to #518 we should create tooling to bulk delete Kubeflow deployments.

To support this we probably want to improve kfctl to support deleting deployments without depending on the kfdef.yaml file so that we can just call `kfctl delete`. (see kubeflow/kfctl#81).

[2019-11-07 22:53] jlewi commented on #257
Downgrade to P2. I think we might want to wait until prow jobs are fired of in the kubeflow-testing cluster.

[2019-11-08 13:38] jlewi commented on #492
https://prow.k8s.io/?repo=kubeflow%2Fexamples&type=postsubmit

There is one prow job from Nov 7 yesterday which corresponds to a recent PR
Results show up in spyglass
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow_examples/kubeflow-examples-postsubmit/1192649622326087680/

[2019-11-08 13:43] jlewi commented on #492
It looks like there are temporary overrides for the locations of the results that are set here
https://github.com/kubernetes/test-infra/blob/ddf881df420bf63cb482a116808e0e240a86e7bb/config/testgrids/kubeflow/kubeflow.yaml#L6

And there is a bug.

[2019-11-08 19:26] zhenghuiwang opened #524 "CI Cleanup cron job doesn't delete firewall rules"
The firewall resources in `kubeflow-ci` are not released by cleanup cron job.

[2019-11-08 19:28] zhenghuiwang commented on #524
Looks like the cron job doesn't have permission to clean the firewall and also some other resources.
[code]

[code]

[2019-11-08 19:39] zhenghuiwang commented on #524
Granted `kubeflow-testing` account the permission to manage compute resources.

[2019-11-08 19:47] jlewi commented on #492
Postsubmits for kubeflow-examples are fixed
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-examples-postsubmit

Looks like this issue was about presubmits though.

[2019-11-08 19:53] jlewi commented on #492
Results show up in spyglass
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_testing/523/kubeflow-testing-presubmit/1192878248749436931/

It doesn't look like we explicitly specify location of testgrid results for presubmits

[2019-11-09 18:26] #44 closed

[2019-11-10 05:32] scottilee commented on #457
@jlewi I played around with Cloud Connector and I think I understand how it all works. I also recreated the kf-kcc cluster to version "1.14.8-gke.2" and with a newer version of the config connector.

1. You wrote above: "GCP projects created via KCC should exist in the subfolder kf-kcc-admin > users". All I see are projects like "kf-kcc-admin" and "kf-kcc-test1" in my 'Select a project' view and I

[2019-11-11 19:04] zhenghuiwang commented on #524
Permission errors are gone.

[2019-11-11 19:04] #524 closed

[2019-11-12 05:18] jlewi commented on #457
thanks @scottilee

It looks like the hierarchy is currently

   kf-kcc-admin [project]

I think we want all kcc managed projects to be under the users folder. This way we can set permissions & policies on the users folder and have them apply to all kcc managed projects.

[2019-11-23 01:14] jlewi commented on #424
Still relevant to our efforts to begin using Tekton

[2019-11-23 20:38] jlewi commented on #498
Prow jobs are running
https://prow.k8s.io/?type=periodic&job=kubeflow-periodic-0-7

[code]

The branch spec is wrong there's an extra back-tick.

[2019-11-24 18:51] jlewi commented on #520
Fixed by #527

[2019-11-24 18:51] #520 closed

[2019-11-25 06:07] derekhh commented on #267
/assign

[2019-11-25 06:07] derekhh commented on #372
/assign

[2019-11-25 21:14] gabrielwen opened #528 "cleanup_ci doesn't clean up instance groups properly"
All the instance groups were skipped during GC because infra type couldn't be determined:
https://github.com/kubeflow/testing/blob/25b87a36f03c207f69abbc9e18500e9ac75647d0/py/kubeflow/testing/cleanup_ci.py#L324

the reason is because instance groups are not named as other resources:
- gke-apps-apps-cpu-pool-v1-a3e58689-grp
- gke-kf-vmaster-1124--kf-vmaster-1124--fae5daa0-grp
- gke-myapp2-myapp2-cp

[2019-11-25 22:11] jlewi opened #530 "Best way to collect output from papermill in tests?"
We are using papermill to write our E2E tests for our notebooks.

kubeflow/examples#682 is an example PR.

What is the best way to collect output from papermill? In particular how can we collect the output that is written to cells? Does papermill produce an evaluated notebook or html that we should upload as a test artifact.

For example kubeflow/examples#682 was trying to fix an issue with the mo

[2019-11-26 17:36] jlewi commented on #528
@gabrielwen Which projects do the above instance groups belong to?

What clusters do the above instance groups belong to and how are we determining that its ok to GC them?

For example, what was the purpose of the GKE cluster named "gke-apps-apps-cpu-pool-v1-a3e58689-grp" ? How do we know its safe to GC it?

The IG named "gke-kf-vmaster-1124--kf-vmaster-1124--fae5daa0-grp" belongs to an auto-deplo

[2019-11-27 02:06] jlewi commented on #498
Prow jobs are now being invoked
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-0-7/1199439405056528386

Checkout fails

[code]

I think its because we clone it with depth=2.

[2019-11-27 17:13] jlewi commented on #450
I have created the [CI/CD for Kubeflow Applications Card in the Engprod Project](https://github.com/orgs/kubeflow/projects/13#column-7268759) to track this.

[2019-11-27 17:18] jlewi commented on #424
I think we want to use our release clusters not our test clusters.

The primary use case for this will be CD for our published artifacts. We don't want our CI clusters to have access to the registries where we host our images.

Our release infra is defined here:
https://github.com/kubeflow/testing/tree/master/release-infra

Folks with access to the release infra are defined here:
https://github.co

[2019-11-27 17:28] jlewi opened #532 "Install GitHub and other secrets for running Kubeflow's Tekton CD pipelines in release infra"
We want to setup continuous building of our docker images and updating of our kustomize manifests (#450).

We have tekton pipelines for doing this. To run those pipelines we need several secrets setup
https://github.com/kubeflow/kubeflow/tree/master/components/base#secrets

in our release infrastructure
https://github.com/kubeflow/testing/tree/master/release-infra

This issue tracks setting up the

[2019-11-27 17:44] jlewi commented on #259
@krishnadurai @swiftdiaries I think I recall one of you mentioning that you were looking at creating a better experience for running tests locally using kind. Is that accurate?